[2012-02-08 16:50] ian-plosker opened #284 "JS MapReduce returns partial results when some VMs are busy"
To reproduce this issue do the following:

1. `make devrel` with Riak 1.0.3
2. Set `map_js_vm_count` to 0 on one node
3. Issue the following puts:

[code]

4. Issue the following MapReduce job:

[code]

Only a partial result set will be returned. For example:

[code]

You should get:

[code]

In the logs on the node with 0 map_js_vms you will see notifications like this:

[code]

[2012-02-09 20:00] ian-plosker commented on #284
Bugzilla mirror: https://issues.basho.com/show_bug.cgi?id=1334

[2012-02-14 23:09] rzezeski opened #286 "Failed JS MR includes Erlang terms"
When performing a JS MR job against master (commit `8fe7e1ec9434a616d656c400bd51423f69590f37`) that results in an error, strings containing Erlang terms are returned inside the object.  I produced this error manually running the `badMap` test case found in the riak-javascript-client (1).
1. Stand up an instance of Riak
2. Checkout riak-javascript-client
3. `cd riak-javascript-client/tests`
4. `./s

[2012-02-15 07:35] russelldb commented on #286
I'm pretty sure this is deliberate as of Bryan's work to have more meaningful errors come out of MapReduce.

[2012-02-15 14:59] rzezeski commented on #286
So I'm hearing that this change was intentional.  I.e. returning the `input` field as a string of an Erlang term.  That seems to make sense to me.  I just have 2 concerns:
1. I'm not sure it makes sense to return the `error` field as a string of Erlang terms.  Client writers have to parse a very awkward string to get at the various fields such as `lineno`, `message` and `source`.
2. This beaks any

[2012-02-15 16:39] seancribbs commented on #286
@rzezeski I don't know any part of the clients that explicitly expects specific fields in a MapReduce error response. I think the error message should be plain text as much as possible, but the offending input could go either way.

[2012-02-15 17:12] ian-plosker opened #287 "Race Condition causes Javascript VMs to never be returned to VM Pool"
There is a race condition in the `riak_kv_js_manager` wherein:
1. A process (e.g. a pipe fitter) calls `riak_kv_js_manager:blocking_dispatch/4`
2. `riak_kv_js_manager:blocking_dispatch` function calls `reserve_vm`, a `gen_server:call` to the `riak_kv_js_manager`, which reserves a VM
3. The calling process (e.g. a pipe fitting) is killed before calling `riak_kv_js_vm:blocking_dispatch/3`, a `gen_se

[2012-02-15 17:34] ian-plosker commented on #287
Bugzilla mirror: https://issues.basho.com/show_bug.cgi?id=1336

[2012-02-15 18:51] rzezeski commented on #287
Also related: https://issues.basho.com/show_bug.cgi?id=1151

[2012-02-15 18:52] ian-plosker commented on #284
In Riak 1.1 RC2 the behavior is better:

[code]

re: Issue #286: Should we be getting stringified Erlang terms?

[2012-02-23 21:09] beerriot opened #290 "riak_kv_pipe_get's failover has trouble with fast-input+slow-output rates"
A problem was uncovered with `riak_kv_pipe_get`'s failover strategy.
## Description

When the KV vnode that the pipe worker talks to returns an error, "not
found" for example, the worker attempts to have another worker for
this fitting try on a different vnode by returning the
`forward_preflist` result.  The last worker in the fallback list is
then supposed to forward the error to the next phase i

[2012-02-23 22:46] outoftime commented on #290
Thanks for looking into this!

[2012-02-24 23:42] jonmeredith opened #293 "Keylisting continues after pipe death"
If MapReduce on a bucket is cancelled (timeout or dropped client connection) the listkeys feeding the objects from the bucket is not cancelled, instead it generates a large number of error messages

[code]

Additionally, these running listkey jobs continue to tie up resources that would otherwise be capable of running other MapReduce queries. If enough listkey jobs end up in this state, subsequent

[2012-02-27 14:50] rzezeski commented on #287
Fixed by https://github.com/basho/riak_kv/pull/294

[2012-02-27 14:50] #287 closed, assigned to nobody

[2012-02-28 16:46] rzezeski commented on #286
I'm closing this since it is intended behavior.

[2012-02-28 16:46] #286 closed, assigned to nobody

[2012-03-09 16:53] jonmeredith opened #300 "Put FSM crashes if forwarded node goes down."
In 1.0 and above with vnode_vclocks enabled, nodes must be a member of the preference list to coordinate a put.
Currently nodes forward put requests to the first member of the preference list by talking to riak_kv_up_fsm_sup on the remote node - code here https://github.com/basho/riak_kv/blob/master/src/riak_kv_put_fsm.erl#L193

If the node goes down while starting the remote process instead of ge

[2012-03-09 20:46] massung commented on #300
https://github.com/basho/riak_kv/pull/301 has a fix for this.

[2012-03-10 00:51] jonmeredith commented on #300
Merged to 1.0 and 1.1 branches, Jared will sync up master when he merges 1.1 in.

[2012-03-10 00:51] #300 closed, assigned to massung

[2012-03-15 14:02] ghost opened #304 "We still expose "riak" with a custom setting for an access URL"
This code in question adds "riak": even if we have a custom "raw_name":

[riak_kv_web.erl]

raw_dispatch() ->
    case app_helper:get_env(riak_kv, raw_name) of
        undefined -> raw_dispatch("riak");
        Name -> lists:append(raw_dispatch(Name), raw_dispatch("riak"))
    end.

[2012-03-28 14:01] jonmeredith opened #307 "MapReduce query fails if only a single JavaScript reduce phase is specified"
https://issues.basho.com/show_bug.cgi?id=1034

To reproduce:
1. Create an object

[code]
1. Run a MapReduce query with a keyfilter and a single reduce phase

[code]

OR

Run a MapReduce query with a full bucket key listing and a single reduce phase

[code]

OR

Run a MapReduce query with explicit bucket/key pairs and a single reduce phase

[code]

Expected:
Output from reduce phase

Actual:

[code

[2012-03-28 19:29] seancribbs opened #308 "Provide a more user-friendly CLI"
Moved from https://issues.basho.com/show_bug.cgi?id=984, reported by @jpartogi

Currently we need to use the erlang client to interface to riak from command line. But however this is not really user friendly and most of the time enforce the user to understand erlang. Because of this sometimes we need to open the manual.

For example (taking redis CLI as an example): This:

[code]

is much more use

[2012-04-02 16:49] jonmeredith opened #309 "Add request stages timing to get FSM"
Add equivalent functionality to the get FSM to track the request stages like the put FSM is able to do.

(dev1@127.0.0.1)2> C:put(riak_object:new(<<"b">>,<<"k">>,<<"v">>),[details]).
{ok,[{response_usecs,113057},
     {stages,[{prepare,45894},
              {validate,12677},
              {precommit,6448},
              {execute_local,64},
              {waiting_local_vnode,14082},
              {

[2012-04-03 23:50] dreverri opened #311 "Tombstones are not reaped if reaping occurs before tombstones reach all replicas [JIRA: RIAK-2803]"
Tombstones may not be reaped if reaping occurs before tombstones are written to all replicas.
## Scenario
- Tombstone is written
  https://github.com/basho/riak_kv/blob/cada9c75fed524ec5b45404448a4b30255667fab/src/riak_kv_delete.erl#L80
- Tombstone is reaped
  https://github.com/basho/riak_kv/blob/cada9c75fed524ec5b45404448a4b30255667fab/src/riak_kv_delete.erl#L86
- riak_kv_get_fsm checks for fina

[2012-04-04 00:00] dreverri commented on #311
Reported in zd://1139

[2012-04-06 19:59] beerriot opened #312 "Batch MapReduce output before sending to client"
Streamed MapReduce output from `riak_pipe` is sent to the HTTP or PB client as one message per result.  It may be more efficient to batch up results and send several results per message, as the legacy MapReduce implementation did.

[2012-04-10 14:01] bsparrow435 opened #313 "POST returns "old format" riak/bucket/key combination"
For consistency, should POST return the new format i.e. "buckets/bucket/keys/key"

[2012-04-18 19:49] rzezeski opened #316 "add latency leveling"
### Purpose/High-Level

In short, "latency leveling" (1) is about bounding the amount of time
a request can take.  On the surface this sounds no different than a
timeout but the difference is that you attempt to do _all_ work but
accept _some_ work after a given time bound.  It's the same idea as
trading yield for harvest.  The purpose is _to make a predictable
system out of unpredictable parts_.

[2012-04-26 15:18] reiddraper opened #318 "Riak tries to decode erlang binary when gzipped"
When using `Content-Type: application/x-erlang-binary`, Riak calls `binary_to_term` on a PUT body, even if you've set `Content-Encoding: gzip`.

Steps to repro:

In an erlang shell:

[code]

[code]

Gives a 500 error, the problem appears to be [here](https://github.com/basho/riak_kv/blob/1.1.2/src/riak_kv_wm_utils.erl#L213-L214).

[2012-05-09 20:29] reiddraper opened #320 "HTTP socket isn't closed if 2i or list-keys FSM dies"
This problem could be more widespread, but at the least:

If you make an HTTP request for either list-keys or 2i, and the coverage FSM (one of `riak_kv_index_fsm` or `riak_kv_keys_fsm`) dies, the HTTP socket remains open. To illustrate the error, try this patch:

[code]

[2012-05-18 10:09] seancribbs opened #326 "Typo in riak_client"
riak_client.erl has a reference to a non-existent module riak_kv_mapred_filter.
(without "s")

YAMAMOTO Takashi

http://lists.basho.com/pipermail/riak-users_lists.basho.com/2012-May/008374.html

[2012-05-23 17:23] #326 closed, assigned to nobody

[2012-05-24 16:03] sfescape opened #330 "Deleted keys stay in index queries indefinitely"
Deleted keys remain in indexes indefinitely if the tombstone reap process fails. The key will finally be removed once a GET request is made on the key.

[2012-05-24 16:06] PharkMillups commented on #330
For a thorough discussion of this issue, see [this thread](http://lists.basho.com/pipermail/riak-users_lists.basho.com/2012-May/008431.html) on the Riak Mailing list.

[2012-05-24 18:21] sfescape commented on #330
As predicted in the thread, changing my delete changed the behavior. Deleting 80K keys resulted in no residual keys in the index. Here is the change I made to the delete:

this.bucket.delete(key)
      .pw(Quora.ALL)
      .pr(Quora.ALL)
      .w(Quora.ALL)
      .r(Quora.ALL)
      .execute();

[2012-05-30 08:37] taichi opened #336 "RpbErrorResp errcode should be set more proper value"
Once error occurs on PBC API, RpbErrorResp is returned but it doesn't make sense because RIAKC_ERR_GENERAL is enable. It should be set the same value to REST API.

It doesn't matter for client if server returns not found on GET operation. So heavy performance cost exception should not be triggered. If modified is returned, application should choose to trigger to repair data or just to retry get op

[2012-05-30 10:02] taichi opened #337 "Some useful REST API features should be implemented on PBC API"
I believe all users who needs more performance would like to process all operations via PBC API.
However, user cannot do so due to lack of some APIs.
- Backet Properrties of PBC API should have more fields
  PBC API is strictly limited to access to Backet Properties.
  That is, we have to use REST API for Backet management.
  Some applications creates per-user Backets.
  This indicates that we can

[2012-05-30 11:29] seancribbs commented on #336
@taichi This is already on the roadmap, but won't make it until the September release. Although I agree that the error code should be more meaningful, making it the same as the HTTP error code would be misleading; instead we can provide meaningful, Riak-specific error codes. Thank you for your input.

[2012-06-04 19:33] beerriot opened #338 "Spurious 400 after HTTP MapReduce"
History:
- https://issues.basho.com/show_bug.cgi?id=1222
- https://issues.basho.com/show_bug.cgi?id=1324

The `riak_kv_wm_mapred` module, which provided the MapReduce HTTP interface, implements its timeout mechanism by scheduling a message to be delivered to its process after the timeout has occurred:

https://github.com/basho/riak_kv/blob/master/src/riak_kv_wm_mapred.erl#L148

When a MapReduce qu

[2012-06-04 22:52] joecaswell commented on #338
See also http://help.basho.com/tickets/1423

[2012-06-06 13:31] #338 closed, assigned to nobody

[2012-06-12 18:22] ghost opened #343 "'riak-admin vnode-status' formatted incorrectly [JIRA: RIAK-2051]"
Right now, the output from 'riak-admin vnode-status' is mostly unusable, due to incorrect column formatting.

There is a workaround using the Erlang console right now:

[code]

[2012-06-12 18:27] slfritchie opened #344 "badarg error in binary_to_term/1"
Riak KV handoff can be stymied indefinitely by a badarg error in erlang:binary_to_term/1, e.g.:

[code]

Similarly, GET operations can fail with a similar error:

[code]

In both of these cases, the KV backend is leveldb.  Neither the LevelDB sanity checks (if the bad SST is copied to my local box for testing) nor the Snappy compression library are detecting any error, which is more than a little

[2012-06-13 15:26] joecaswell opened #345 "all puts fail if precommit hook is specified in default bucket props"
Tested as below, issue seems to be that indexdoc buckets are not excluded from the precommit hook set in default bucket props.  When a value is put, precommit is invoked on <<bucket>><<key>> and then again on <<_rsid_bucket>><<key>>, resulting in 500  internal server error for every put.

See Also: https://help.basho.com/tickets/1507

https://gist.github.com/feb8bada4e6e4ed6c8a6

[2012-06-14 23:46] evanmcc commented on #311
Also, there is a perhaps related issue going on in the thread started here:

http://lists.basho.com/pipermail/riak-users_lists.basho.com/2012-May/008389.html

which might look more like this issue starting here:

http://lists.basho.com/pipermail/riak-users_lists.basho.com/2012-May/008423.html

it isn't clear to me if they're the same thing.

@reiddraper might be able to say with more authority if

[2012-06-15 20:50] evanmcc commented on #311
https://gist.github.com/2938621 reproduces the issue on my machine on a clean cluster

[2012-06-21 18:23] evanmcc commented on #345
The customer also contacted me on IRC wanting to set default schemas for Riak Search on newly created buckets, which seems related.

[2012-06-27 15:00] rzezeski opened #356 "transfer status - percentage complete"
This is in reference to the `riak-admin transfers` command and written in response to Matt Ranney's comment on a [recent blog post](http://basho.com/blog/technical/2012/06/25/Riak-Admin-Transfers-in-1-2-Release/).

**IFF** the information is easy to obtain then it would be very helpful to display the percentage complete for each transfer.

[2012-07-02 11:48] beerriot opened #358 "JS Built-Ins don't handle tombstones"
Migrating issue from Buzilla. See the [original thread](https://issues.basho.com/show_bug.cgi?id=1269) for existing comments and code.

(Moving here from https://github.com/basho/riak_pipe/issues/47, because it's a KV issue.)

[2012-07-07 12:50] jerith opened #362 "HTTP API can return very long Link header when listing keys/buckets"
`GET /buckets/bucket/keys?keys=true` and `GET /buckets?buckets=true` return Link headers for each item returned. This can result in a very long header when listing a large number of items, which makes certain HTTP clients (such as txriak) very unhappy.

[2012-07-08 09:45] jerith commented on #362
When listing keys, one can use `keys=stream` to get a chunked response, which excludes the Link headers. Perhaps a similar streaming API for buckets would be a good idea?

[2012-07-19 20:09] roder opened #370 "Statistics for node local backend performance"
I think it would be good to add statistics for node local backend performance to "riak-admin status".

This would make it possible to measure effects of tuning a single node.

Something like:

node_backend_gettime_mean: <<mean for local gets>>
node_backend_gettime_99: <<99% percentile for for node local gets>>

etc.

The other time measure measurements include network latencies and make it impossi

[2012-07-19 20:25] slfritchie commented on #370
Matt, I agree, those stats are very valuable.  However, it's quite possible that a node has more than one backend (via the fun of the multi backend), and it would be great for each of the "real" backends to report separate stats.

Also, the multi backend allows you to use the same "real" backend several times.  It's slightly crazy, but the likeliest case for doing this is to allow a sysadmin to fo

[2012-07-20 14:25] pavlobaron commented on #293
hi,

how can I prevent the local Erlang client from dropping the connection on a long running pipe? In riak_mongo, when running the count test which leads to mapred of all keys in a bucket, I get just as many keys counted as came through before the pipe has died. I absolutely well understand that it's stupid to ask for all keys in the bucket for many reasons, but that's how the corresponding Mongo

[2012-07-30 14:23] beerriot commented on #358
This was re-reported as https://github.com/basho/riak/issues/190

[2012-08-28 10:13] roidrage opened #386 "/stats crashes on Mountain Lion"
When trying to access /stats it crashes hard on me, here's the output from the response and the error that pops up in the logs:

https://gist.github.com/3496819

`riak-admin status` succeeds, but only after a timeout. It seems to have trouble fetching the number of processors, as this line comes up in the output: `cpu_nprocs : {error,timeout}`

Using Riak 1.2.0, binary distribution, with the inclu

[2012-08-30 12:39] beerriot opened #387 "Nested keyfilters are not resolved until execution time"
Related user report: http://lists.basho.com/pipermail/riak-users_lists.basho.com/2012-August/009307.html

The `riak_kv_mapred_filters:build_filter/2` function processes the filter expression as if it were a flat list. For nesting expressions, `and`, `or`, and `not`, this means that their arguments go unbuilt until execution time. Unfortunately, this means that they also go unvalidated until execut

[2012-08-31 00:10] tovbinm commented on #290
Recently I started to experience the same problem in Riak 1.1.2:
{"phase":0,"error":"[timeout,timeout]","input":"{<<\"test\">>,<<\"123\">>}","type":"forward_preflist","stack":"[]"}

What value should I assign to 'q_limit'?

Should I modify it in ALL of the following files?
riak/deps/riak_pipe/include/riak_pipe.hrl
riak/deps/riak_kv/src/riak_kv_w_reduce.erl

Is there any better solution available?

[2012-08-31 13:24] beerriot commented on #290
@tovbinm The default value for `q_limit` is 64. The default maximum is `4096`. You should be able to set it anywhere between those two without too much danger.

Modifying the definition of `#fitting_spec{}` in `riak_pipe.hrl` will be the quickest way to change the default. If you want to set it to different things for different types of phases, the best place to modify is `riak_kv_mrc_pipe.erl`.

[2012-08-31 15:27] russelldb commented on #386
Is this _everytime_ you call it or is it intermittent?

Would be nice to know a bit about your machine too, please. I'm assuming 64-bit? Is ML only 64bit?

[2012-08-31 15:42] roidrage commented on #386
It happens every time I request the /stats endpoint, yes.

ML is only 64bit I think, and so is my MacBook Air :) Anything else I could provide or try out?

[2012-08-31 15:47] russelldb commented on #386
Thanks, man. I'm looking into it. I have to get an ML machine, 'cos all seems fine on 10.7. Sorry for the difficulty. The problem seems to be in `cpu_sup`, so to test that, maybe start an erlang shell and run

[code]

And see if that crashes. Would be super cool if you could try it once in the erlang we ship with Riak and once in another (if you have some other erlang install lying around that you

[2012-08-31 16:22] russelldb opened #388 "PR/PW can be violated during netsplit conditions"
PR/PW are checked by looking at the preflist for the partition and checking
that the number of primaries in the preflists satisifies PR/PW. However, in the
case of a yanked network cable, kernel panic or VM pause, where no FIN packet
is sent, in the interval before the other nodes notice a node has become
unavailable, the preference list is not recalculated and so PR/PW checks will
continue to pas

[2012-08-31 17:53] tovbinm commented on #290
OK, I'll try that.

BTW, my `riak/deps/riak_kv/src/riak_kv_mrc_pipe.erl` does not contain `q_limit`setting.
My riak_kv version is as follows: `{riak_kv, "1.1.4", {git, "git://github.com/basho/riak_kv", {tag, "1.1.4"}}}`

[2012-08-31 18:01] beerriot commented on #290
It's a field of `#fitting_spec{}`. I was trying to say that each place that record appears in `riak_kv_mrc_pipe.erl` is an opportunity to alter `q_limit`.

[2012-09-01 18:06] roidrage commented on #386
Just compiled R15B01 on ML, and I'm getting the same result. So I reckon that's not Riak's fault in this case.

[2012-09-01 18:07] roidrage commented on #386
Sorry, forgot to say that it's only `cpu_sup:nprocs()` that fails. Fetching the averages works, without an error at least, here's a sample of running it: `[284,215,174]`

[2012-09-10 04:33] slfritchie opened #391 "Eliminate use of zlib:zip() and zlib:unzip()"
In a many-core environment, use of the zlib:zip() and zlib:unzip() function isn't a good idea.  Each appears to open an close an Erlang port (for the "zlib_drv" driver) for each invocation.  Inside the R15B01 virtual machine, all allocations of a new port # are serialized by the 'get_free_port' mutex.

Suggestion: eliminate zlib's use in favor of term_to_binary(VClock, [compressed]).  Or _somethin

[2012-09-11 00:41] kuenishi opened #394 "Building deps/erlang_js fails when in 64bit Linux"
rebar fails to build nsprpub at riak_kv/deps/erlang_js because of updating CC="$CC -m32" at configure script.

[code]

 Bypassing rebar and directly building nsprpub also fails:

[code]

But building erlang_js itself is always successfully done. So I think rebar is adding --disable-64bit or lacking --enable-64bit ( or both ) when building dependent repositories.

This may be a rebar bug or misconf

[2012-09-17 18:01] krestenkrab opened #396 "HTTP mapred yields 500 on missing Content-Type header"
The `known_content_type` WM callback crashes if no content-type is given.

The error happens around these lines: https://github.com/basho/riak_kv/blob/master/src/riak_kv_wm_mapred.erl#L98 because the call to `wrq:get_req_header("content-type", RD)` returns `undefined`, and then soon thereafter there is a no-match inside `base_ctype`.

[2012-09-17 18:05] krestenkrab opened #397 "mapred on key-range should be faster for leveldb"
Since some backends provides efficient range fold (in particular eleveldb and hanoidb), we should add an API that provides fast M/R for objects in a given key range.

Right now, this is done by first getting the keys in a given range (which is actually reasonably fast in eleveldb and hanoidb), and then getting each object individually.

Since leveldb and hanoi actually has the objects stored close

[2012-09-17 18:42] krestenkrab commented on #396
This mail http://lists.basho.com/pipermail/riak-users_lists.basho.com/2012-September/009490.html is the original error report by Colin Alston

[2012-09-17 19:07] seancribbs commented on #396
It should obviously check for the presence of the Content-Type header before trying to parse it. Maybe this would work?

[code]

[2012-09-18 21:56] darrel343 commented on #358
Also running into this issue. It's causing <<\"SyntaxError: syntax error\">>},{<<\"source\">>,<<\"()\">> after a delete.

Is there a workaround for this, or a rule-of-thumb, for how long I should have to wait until I can query for the new data I've added to the relevant buckets?

[2012-09-19 17:52] seancribbs commented on #293
This also happens with regular key-listing where the client disconnects before the key-listing finishes.

[2012-09-24 13:04] russelldb opened #398 "The n_val violation error message is confusing when R > N"
See https://github.com/basho/riak_kv/blob/master/src/riak_kv_wm_object.erl#L1023

In this case the user is always told that there w values are wrong, even on a fetch. Try

[code]

on a new cluster for response of

[code]

Thanks Ingo, for report http://riak-users.197444.n3.nabble.com/Data-loads-td4025122.html#a4025385

[2012-10-02 23:44] Narayanan-Nachiappan commented on #290
By any chance is this fixed in Riak 1.2 ?

[2012-10-03 11:24] beerriot commented on #290
No, this issue still exists in Riak 1.2.

[2012-10-03 20:38] Narayanan-Nachiappan commented on #290
Thanks. I am very new to Riak and curious to know if there is any chance to fix this without recompiling the source. Just to clarify, does this forward_preflist error has anything to do with the way my map reduce query is built and structured?

[2012-10-04 11:50] beerriot commented on #290
Sadly, no. The `riak_kv_mrc_pipe` module uses the queue limit that was set in `riak_pipe.hrl`, which is 64. The `riak_pipe_vnode` module chooses the lesser of this value and the `riak_pipe` environment variable `queue_limit`. So, it's not possible to raise the limit without recompiling.

Riak KV should expose setting the default queue limit per-phase-type basis in the app config, as well as settin

[2012-10-05 19:18] Narayanan-Nachiappan commented on #290
Thanks beerriot :)

[2012-10-15 15:37] beerriot opened #403 "riak_kv_js_manager:blocking_dispatch may exit"
The function `riak_kv_js_manager:blocking_dispatch/3` may exit with a `noproc` error if either the manager process has died, or the VM that is attempts to call `riak_kv_js_vm:checkout_to/2` on has died. We may want to catch this exit in `riak_kv_mrc_map:map_js/3` to avoid bringing down the whole MapReduce pipeline with a cryptic error, as was seen in this mailing list post: http://lists.basho.com/

[2012-10-23 20:31] vinoski opened #411 "system_info(global_heaps_size) not supported in R15B02"
The `riak_kv_stat:system_stats/0` function calls `erlang:system_info(global_heaps_size)` but that call results in a `badarg` exception under Erlang R15B02. The OTP team removed support for `global_heaps_size` in [commit 9cfeeb9b](https://github.com/erlang/otp/commit/9cfeeb9b7e66a3345cbc0e5b4b634cb5965635fc) in the erlang/otp repo.

[2012-10-23 20:45] russelldb commented on #411
Got it, will remove/substitute in a backwards compatible way for 1.3. Thanks.

[2012-10-24 17:32] russelldb opened #412 "Moar stats for riak"
Add the following from https://github.com/basho/cabal/issues/15 for 1.3 release:

[code]

[2012-10-24 17:45] jonmeredith commented on #412
Go @russelldb !

[2012-10-25 08:43] russelldb commented on #412
First PR, just adds timing to FSMs and sticks them in folsom
https://github.com/basho/riak_kv/pull/414

[2012-10-25 13:10] russelldb commented on #411
See https://github.com/basho/riak_kv/pull/415 for proposed fix. Welcome review / comments.

[2012-10-25 14:16] russelldb commented on #411
Fixed with https://github.com/basho/riak_kv/pull/415

[2012-10-25 14:16] #411 closed, assigned to russelldb

[2012-10-29 14:45] russelldb commented on #412
Second PR https://github.com/basho/riak_kv/pull/417 adds dimensions to `read_repair` stats.

[2012-10-29 16:47] russelldb commented on #412
~~Third PR, for `pbc_active` bug https://github.com/basho/riak_api/pull/17~~

Done, thanks Sean!

[2012-10-30 15:58] russelldb commented on #412
Fouth PR, for vnode get/put times and per index https://github.com/basho/riak_kv/pull/418

[2012-11-01 13:59] beerriot commented on #290
This should now be fixed as of the merge of PR #413, and will be release in the next major version of Riak.

[2012-11-01 13:59] #290 closed, assigned to nobody

[2012-11-02 22:00] jtuple opened #423 "Riak KV vnodes can block in certain scenarios when using Bitcask"
**Background**. Prior to Riak 0.14.2, all fold operations would block the relevant vnode and prevent the vnode from servicing requests. This was changed in Riak 1.0, with the introduction of asynchronous folds that used an async worker pool, as well as additions to the various backends to support async folds.

To support async folds, Bitcask freezes it's in-memory keydir and has async folds iterat

[2012-11-06 16:11] russelldb commented on #412
Another three. Oh my, sorry.

https://github.com/basho/riak_core/pull/252
https://github.com/basho/riak_api/pull/18
https://github.com/basho/riak_kv/pull/428

[2012-11-07 20:40] russelldb commented on #412
Added the bare minimum to pipe ~~https://github.com/basho/riak_pipe/pull/60~~ This has been reviewed., and is ready to merge when the next are in.

[2012-11-09 18:29] russelldb commented on #412
Some level db stats for MvM https://github.com/basho/riak_kv/pull/431

[2012-11-12 19:22] beerriot commented on #293
This should be fixed as of #408. A few of those messages may still print, as in-flight messages are consumed from mailboxes, but it should be a small fixed number (#vnodes or #vnodes/N-value), instead of the endless run.

[2012-11-12 19:22] #293 closed, assigned to nobody

[2012-11-14 10:52] russelldb opened #434 "Add utility to delete per bucket stats [JIRA: RIAK-2808]"
See review comment here for details and context https://github.com/basho/riak_kv/pull/414#issuecomment-10304503

[2012-11-16 23:04] slfritchie commented on #412
A friendly note to all participants ... today is code freeze day.

[2012-11-16 23:10] russelldb commented on #412
Merged, many thanks for the most patient and diligent review.

[2012-11-16 23:10] #412 closed, assigned to russelldb

[2012-11-16 23:44] evanmcc commented on #330
This is a dupe of issue #311.

[2012-11-16 23:44] #330 closed, assigned to nobody

[2012-11-27 17:15] evanmcc opened #441 "stats should not fail"
It'd be nice if we tracked down all of the lingering timeouts that can potentially cause a stats call to fail.  We often error out with a 500 with all of our stats contained in the body of it.  It would be better if some stats cannot be fetched in a timely manner that we just drop or say 'couldn't fetch' for those stats, instead of failing the entire call.  Partial information is better than none,

[2012-11-27 17:30] russelldb commented on #441
Can I have some examples, please? How often is often?

I think I have an answer to this, anyway. 1.3 includes a finer grained per-metric calculation and cache model, but the query interface is still the same as now, so it isn't much use yet. I know it is a bit lame saying 'next version', but I'm on track for that.

Still, I'd honestly like to know about any and all stat failures. Benchmarking and

[2012-11-27 17:38] evanmcc commented on #441
Often is, unfortunately, very rarely except at the worst possible times,
i.e. the system is heavily loaded.  This is the most common failure I have
seen so far:

curl -s 'localhost:8098/stats'
<html><head><title>500 Internal Server
Error</title></head><body><h1>Internal Server Error</h1>The server
encountered an error while processing this request:<br><pre>{error,
    {error,function_clause,

[2012-11-27 17:47] russelldb commented on #441
Ok, well…I think we can do something about that just in riak_kv_wm_stats, by filtering un-JSONable values out of the stats list.

Is it that stat / reason most often (the 'all_vnodes' call?) 'cos that looks like we _shouldn't_ do it anyway, I imagine it is part of the riak_core_stats vnode_queues stat.

Let me see if I can get something done fast as a bandaid. Longer term fine grained querying wit

[2012-11-27 18:28] evanmcc commented on #441
may want to replace with null rather than filter out, so that people know
that a value could not be fetched, rather than it just disappearing.

On Tue, Nov 27, 2012 at 9:47 AM, Russell Brown notifications@github.comwrote:

[2012-11-27 19:27] russelldb commented on #441
I'll see what I can do…might not be able to tell _which_ stat is the cause of the problem…but yes, I'll do my best to maintain the same structure and replace a key with "unavailable" if possible.

[2012-11-28 16:39] russelldb commented on #441
At the moment the output of `/stats` is simply the joined list of riak_kv stats and riak_core stats.

I don't think I can fix this nicely for 1.3. I can fix it well enough, but the granularity is at the level of the application. So if there is a problem with any riak_kv stat, you don't get any kv stats, only core. If the problem is with a core stat (as in the case above) you don't get any core sta

[2012-11-28 23:14] evanmcc commented on #441
That seems better.

@jtuple had mentioned that there was some way (changing the protectedness
of the ets table that all_vnodes is accessing, I think), to avoid that call
and still get that stat when the vnode manager is backed up or sad.

On Wed, Nov 28, 2012 at 8:39 AM, Russell Brown notifications@github.comwrote:

[2012-11-28 23:23] russelldb commented on #441
Surely. I will do that too.

[2012-11-30 19:57] beerriot opened #443 "Object WM Resource Mishandles Some Precommit Hook Failures"
When a precommit hook fails, the put operation might return an `{error, {precommit_fail, Message}}` tuple. The `riak_kv_wm_object:handle_common_error/3` function immediately passes `Message` to `riak_kv_wm_object:send_precommit_error/2`.

Unfortunately, `send_precommit_error/2` only handles the cases where `Message` is an iolist, or the atom `undefined`. For all other cases, a `badarg` is raised,

[2012-12-03 20:21] evanmcc opened #444 "riak-admin cluster clear should not cause a new node to stop"
If there's a way to differentiate it from a leave, we should do so and leave the node up, it's irritating to have to restart it every time after you cancel your cluster operation.

[2012-12-05 21:09] gburd opened #445 "when n_val=1 a call to rand_uniform(1, 1) results in badarg and causes kv vnode to exit"
https://github.com/basho/riak_kv/blob/master/src/riak_kv_put_fsm.erl#L211
ssumes that length(Preflist2) > 1 which it isn't when n_val = 1 for that bucket.  Calling rand_uniform(1, 1) is a badarg and causes this to fail.  The simple fix is to check the length of Prelist2 before using it in rand_uniform/2.  A quick audit of other uses of rand_uniform in Riak might find similar mistakes.

[2012-12-06 17:04] evanmcc opened #446 "Consider exposing vector clocks in an easier-to-manipulate format."
Right now we use erlangs term_to_binary to encode the vector clock, which means that without using the erlang client, most people can't do anything with that information even if they wanted to, unless they're willing to write and support a version of binary to term in their target language.

I have a partially written python version, but it isn't small and wasn't fun to write.

Rather than duplica

[2012-12-06 17:34] seancribbs commented on #446
Except for debugging purposes, I'm -1 on this. The clients shouldn't need to know how to read or manipulate vclocks. What benefit would a normal user get from inspecting the vclock?

[2012-12-06 17:50] evanmcc commented on #446
There's a request here:
http://lists.basho.com/pipermail/riak-users_lists.basho.com/2012-December/010378.html
A customer mentioned a similar use case the other day.

Mostly I would imagine that users would use that information for client-level sibling resolution strategies that we don't currently support.

[2012-12-06 17:58] seancribbs commented on #446
@evanmcc Yes, but I don't think the vector clock is going to give them the information they seek.

[2012-12-07 10:49] russelldb commented on #441
@evanmcc do we consider this something we can get into 1.3? The changes so far are minimal and I think it is warranted. I can have a PR by the end GMT day no problem.

[2012-12-07 16:46] evanmcc commented on #441
You have my vote; I think that any situation in which we increase
availability of stats is a real win.  That it'll make the vnode manager
less busy is a plus.

On Fri, Dec 7, 2012 at 2:49 AM, Russell Brown notifications@github.comwrote:

[2012-12-07 23:48] evanmcc commented on #446
Never useful, even in the case where someone is trying to figure out the ordering of writes?

[2012-12-08 02:13] seancribbs commented on #446
It won't tell you that, no. It will tell you the last vnode to have made a write (and when when that was) but not which write that was.

[2012-12-10 18:18] #446 closed, assigned to nobody

[2012-12-14 21:17] angrycub opened #452 "Negative clock deskew can cause stats to fail"
Looking at `riak_kv_put_fsm:add_timing`, it uses `os:timestamp()` to provide time.  If NTP decides to set the clock backward to deskew, then `timer:now_diff(StageEnd, StageStart)` could return a negative. Which will cause `/stats` to return **500 - Internal Server Error**s until the negative falls out of the histogram window.

Suggestion is to not capture negative timing statistics

Steps to repro

[2012-12-18 09:04] russelldb commented on #452
Raised an issue with bear (https://github.com/boundary/bear/issues/7) for discussion. I think though, for safety, we should drop negative readings at source in Riak. So I'm doing that for now. Will keep you posted.

[2012-12-19 17:40] evanmcc commented on #445
fixed by: https://github.com/basho/riak_kv/pull/453

[2012-12-19 17:40] #445 closed, assigned to nobody

[2012-12-27 07:36] dpnova commented on #307
EDIT: I think my problem was because I wasn't doing a map before my reduce. I thought the key filters would be run as a map :)

Basically I think the answer to this is to do a noop map before the reduce:

[code]

[2013-01-02 04:16] freerobby commented on #344
Not sure if it's the same issue, but I've seen crashes like this, also using leveldb:

[code]

[2013-01-02 04:37] freerobby commented on #344
After a bit more digging I believe my issue was different, but I'm not positive so I'll post the resolution in case it's handy: somehow my local ring metadata got corrupted. The documentation/fix is below (notice the 0-byte ring file). After deleting it, things were fine.

[code]

[2013-01-03 14:00] simonvc opened #461 "Like ring_members in /stats but with PB and HTTP"
It would be really useful for us automation and monitoring types to be able to connect to any running node of a riak cluster and get the /stats page, then extract out a list of all the nodes in the cluster, with their bound ip and port.

e.g. we currently have in /stats

ring_members: [
"riak1@127.0.0.1",
"riak2@127.0.0.1",
"riak3@127.0.0.1",
"riak4@127.0.0.1",
"riak5@127.0.0.1"
],

I'd really lik

[2013-01-15 10:17] irockel opened #464 "add returnHead request parameter to store requests"
riak should have a returnHead parameter quite similar to returnBody request parameter but without returning the body of the k/v just the head informations so the client is able to retrieve the updated vector clock after a store operation and can update the local domain object. This would be quite useful to work with POJOs in the riak-java-client. Without the updated vector clock a refetch of the d

[2013-01-15 17:38] russelldb opened #466 "What is riak_kv_vnode:local_get/2 for, seems unused. Can delete?"
https://github.com/basho/riak_kv/blob/master/src/riak_kv_vnode.erl#L196

Same question for `riak_kv_vnode:local_put` too, I guess.

[2013-01-15 22:53] jonmeredith commented on #466
It got added with AAE https://github.com/basho/riak_kv/commit/7fca49d39825ef6c7861620129e179f3b21cf3fa but is a generally useful thing for debug from the console.

[2013-01-15 22:56] russelldb commented on #466
Ah, thanks.

[2013-01-15 22:56] #466 closed, assigned to nobody

[2013-01-18 06:16] shino opened #468 "HTTP list buckets fails if non-UTF-8 bucket exists"
After storing an object to non UTF-8 bucket, list buckets via HTTP fails.

[code]

Environment:
- R15B01
- riak.git at 09c1a419800ca61918951a25ae583566f67107a3

Steps to reproduce:

[code]

[2013-01-23 10:07] laurilehmijoki commented on #358
I also did run into this problem. Any tips on how to work around it?

[2013-01-24 06:37] laurilehmijoki commented on #358
One workaround is to use LevelDb instead of Bitcask.

[2013-01-24 06:40] evanmcc commented on #358
That won't work, level has tombstones as well. Check the metadata for
X-Riak-Deleted, and discard (return []) if it is set.
On Jan 23, 2013 10:37 PM, "Lauri Lehmijoki" notifications@github.com
wrote:

[2013-01-28 09:07] russelldb opened #470 "Error on call to stats if node owns fewer than 2 partitions"
https://github.com/basho/riak_kv/blob/master/src/riak_kv_stat.erl#L342 expects the node to own at least 2 partitions.

Error looks like

[code]

[2013-01-31 18:46] engelsanchez commented on #309
@jonmeredith I see we have some or all of what you wanted now? (below) Is there anything to add or can we close this issue?

element(3, C:get(<<"b">>, <<"k">>, [details])).
[{vnode_oks,2},
 {response_usecs,1088},
 {stages,[{execute,211},
          {prepare,258},
          {validate,38},
          {waiting_vnode_r,581}]}]

[2013-02-07 18:02] seancribbs opened #480 "Javascript syntax error in map function does not raise an error"
Moved from basho/riak-ruby-client#74 by @charl:

The following map does not present an error as expected and is misleading in that it reports an empty data set as the result:

[code]

Adding the missing '}' gets the query to run successfully.

I see the following errors in the riak logs:

[code]

[2013-02-08 14:36] beerriot opened #481 "Review All MR Test Exceptions"
The loaded upgrade riak_test encountered many exceptions during 1.3 release testing. Joe eventually made a nice case statement to ignore them all as part of basho/riak_test#196. Each needs to be reviewed an improved. Read through loaded_upgrade_worker_sup:mapred_tester/3 in riak_test/tests:

https://github.com/basho/riak_test/blob/master/tests/loaded_upgrade_worker_sup.erl#L104

[2013-02-09 16:58] sumerman opened #484 "Pipe implementation of MR will use default bucket props when filter expression is specified."
Types here
https://github.com/basho/riak_kv/blob/1.2/src/riak_kv_pipe_listkeys.erl#L127
and usage here
https://github.com/basho/riak_kv/blob/master/src/riak_kv_mrc_pipe.erl#L594
implies that var `Bucket` here
https://github.com/basho/riak_kv/blob/1.2/src/riak_kv_pipe_listkeys.erl#L140
could be a tuple, and if it actually is, `get_bucket` here
https://github.com/basho/riak_kv/blob/1.2/src/riak_kv_p

[2013-02-21 09:46] russelldb commented on #388
Addressed by #485

[2013-02-21 10:39] #470 closed, assigned to russelldb

[2013-02-25 16:17] bsparrow435 opened #493 "Using map_identity results in error on both http and PB API's"
Issuing a map query calling the deployed map_identity function results in encode errors.

Example:

[code]

[2013-02-25 18:54] randysecrist commented on #493
confirmed issue exists

[2013-02-25 20:16] chardan opened #494 "Handoff capability support"
Adds capability support for handoff encoding, and support for raw and zlib modes.

[2013-02-25 20:40] #494 closed, assigned to chardan

[2013-02-26 08:56] #388 closed, assigned to russelldb

[2013-02-26 15:20] engelsanchez opened #496 "Standardize KV backend responses and handling"
Currently, there seems to be no consensus on what kind of responses KV backends send and how they are handled. We have issue #385 with bad CRC detection blocking writes, for example.  Also, we advertise {ok, not_found} as a possible response, but handle {error, not_found} although in that case those should be two very different scenarios (not found because it's not listed or due to an error, say f

[2013-02-27 19:15] beerriot commented on #493
Yes, it's true.

The `riak_kv_wm_mapred` module, which handles the HTTP MR interface does not know what to do with a `riak_object` record, which is the output of a `map_identity` phase. The error is the result of the module trying to JSON-encode it. In order to return a full riak object from a map phase, over HTTP, the map function would have to call `riak_object:to_json/1`. Some people have used

[2013-03-04 23:55] reiddraper opened #499 "Big integer 2i indexes sometimes sort incorrectly"
[As reported on the mailing list](http://lists.basho.com/pipermail/riak-users_lists.basho.com/2013-March/011276.html), sometimes bigger integers don't sort properly. This bug affects Riak 1.x. It only affects the leveldb backend, memory backend is _not_ affected. One manifestation of the issue can be reproduced like this:

[code]

We're pretty sure the issue has been tracked down to `sext`, specif

[2013-03-05 18:05] reiddraper commented on #499
Confirmed @uwiger's fix in sext also fixes the 2i issue.

[2013-03-05 18:09] uwiger commented on #499
Are you happy with the migration support? The change in encoding may well make the problem worse while there are mixed encodings in the data set.

[2013-03-05 19:45] reiddraper commented on #499
We're still working through what the migration story is going to be. I think `sext:legacy_encode_bignum/1` will prove helpful though.

[2013-03-05 20:05] uwiger commented on #499
Ok, let me know if you have any other ideas. Thanks for pinpointing the bug, and apologies for it being there in the first place.

[2013-03-06 16:53] reiddraper commented on #499
Reminder for later, the fix is on `uwiger/sext`, not `esl/sext` yet, so we may just change the rebar.config if it doesn't make it over.

[2013-03-06 17:57] uwiger commented on #499
It should be there now.

I haven't been pushing to esl in a while, but can start doing so again.

BR,
Ulf

2013/3/6 Reid Draper notifications@github.com

[2013-03-07 17:51] seancribbs commented on #362
Addressed by #491

[2013-03-07 17:51] #362 closed, assigned to nobody

[2013-03-07 20:54] macintux opened #501 "AAE feature request: clean up deleted objects"
Per @jtuple, AAE could initiate read repair against deleted objects; please make it so.

Proximate cause of this ticket is a question from riak-users: http://lists.basho.com/pipermail/riak-users_lists.basho.com/2013-March/011320.html

[2013-03-14 12:54] russelldb opened #505 "Riak calculates more stats than it needs for the `/stats` and `riak-admin status` end points"
In 1.3 many new stats were added. When the stats are calculated we calculate all `riak_kv` stats. We now keep stats per vnode and we break down the get and put fsms into timings per stage. Histograms are the most expensive stats to calculate and almost all the new stats are histograms.

The correct thing to do is calculate the minimum number of stats needed to support the endpoints.

[2013-03-14 14:20] russelldb commented on #505
Addressed by https://github.com/basho/riak_kv/pull/506

[2013-03-15 19:36] jrwest opened #507 "multibackend invalid capabalities"
The multibackend claims to have the capabalities that are the intersection of all "sub-backend" capabilities. However, the only thing the multi backend is capable of currenlty is `async_fold` because of the implementation of `riak_kv_multibackend:capabilities/1`. The function folds over all sub-backends and takes the intersection of the accumulator set and the sub-backends capabilities. However, A

[2013-03-18 10:24] russelldb opened #508 "If a `folsom_metrics_histogram_ets` owned table dies, kv_stat cannot recreate it"
Spiral and histogram metrics have their own ets tables. a Folsom gen_sever `folsom_metrics_histogram_ets` creates and owns these tables. In some environments this process seems to be crashing and taking all the metrics with them.

There are two problems with this.
1. folsom_metrics:delete/1 fails for spirals due to the order of the cascade.
   folsom metrics are stored in 3 tables. Delete deletes

[2013-03-18 14:26] seancribbs commented on #508
@russelldb Is it possible that we could introduce a table heir to receive the orphaned tables, and have the folsom process get them back when it restarts?

[2013-03-18 14:28] russelldb commented on #508
Of course. But shouldn't we address the problem of recovering if the tables go away? An heir makes it less likely, but still possible. I still haven't found a way, short of deleting the tables directly, to reproduce the problem.

[2013-03-18 14:37] seancribbs commented on #508
@russelldb Sure. Perhaps something should monitor that process? _shrug_

[2013-03-18 16:04] russelldb commented on #508
@seancribbs yeah, but the problem is that all the kv stats are updated direct, in process, by get / put fsms, vodes, etc. They can't all monitor it. And if we funnel stats through a single process…we've been there. I have a branch that detects errors and asks another process to delete / recreate the broken stat. That plus the folsom patch is probably enough, I hope.

[2013-03-19 19:30] russelldb commented on #508
Joe accepted two folsom PRs to fix this, both in master now. However for 1.3.1 we will probably need to release with a folsom fork that is the 1.3.0 tagged version + the two PRs.

[2013-03-19 19:44] russelldb commented on #508
Sorry, dear reviewer, here are the PRs.

https://github.com/basho/riak_core/pull/287
https://github.com/basho/riak_api/pull/26
https://github.com/basho/riak_pipe/pull/70
https://github.com/basho/riak_kv/pull/513

And this branch of folsom

https://github.com/basho/folsom/tree/riak1.3.n-spiral-delete

To test this, have some background load of gets/puts etc running (I use the stat_punisher basho be

[2013-03-21 17:46] engelsanchez opened #515 "Squashed 2i sext fix"
The 2i sext fix squashed into a single commit.

[2013-03-21 19:27] engelsanchez commented on #515
I opened this through Heya to create a PR. Alas, the app went funky and I had to open the PR manually. Oh well.

[2013-03-21 19:27] #515 closed, assigned to nobody

[2013-03-21 21:17] engelsanchez commented on #508
I've played with the stats killing ETS tables here and there and everything seems kosher. My few little observations have been addressed in the different PRs and I can't come up with anything else
:+1: :dancer: Ship it!

[2013-03-21 22:25] jrwest commented on #499
addressed by #504. closing

[2013-03-21 22:25] #499 closed, assigned to jrwest

[2013-03-25 13:56] broach opened #518 "HTTP API tombstone reporting"
With the HTTP API regarding tombstones here's what we currently have:
1. If _only_ a tombstone exists when you do a GET for a key, you will
   receive a 404 but it will contain the `X-Riak-Vclock` header. A "normal" 404 (when there's no object) will not have this header.
2. If there is a set of siblings, and one of them is a tombstone:
   - Retrieving all the siblings at once by including `Accept:

[2013-03-29 16:07] jrwest commented on #505
can this be closed since #506 was merged?

[2013-03-29 17:06] russelldb commented on #505
I guess. Or should we wait until the customer closes the related ticket?

[2013-03-29 17:44] jrwest commented on #505
wasn't aware of related ticket. idk, safest to wait?

[2013-03-31 21:35] russelldb commented on #386
This was fixed by https://github.com/basho/riak_kv/pull/415

[2013-03-31 21:35] #386 closed, assigned to russelldb

[2013-03-31 21:37] russelldb commented on #441
So, this is 'fixed' in 1.3.1, in so much as a stat calculation that errors will get you a warning in the log and an `unavailable` in the output from `/stats` or `riak-admin status`, does that cover it?

[2013-04-01 16:18] evanmcc commented on #441
sounds good to me.

[2013-04-03 14:12] russelldb commented on #508
Addressed by 1.3.1.

[2013-04-03 14:12] #508 closed, assigned to engelsanchez

[2013-04-05 12:23] russelldb opened #528 "PB stats should be disabled if PB is disabled"
As reported by Chris Read on the mailing list

http://lists.basho.com/pipermail/riak-users_lists.basho.com/2013-April/011696.html

[2013-04-11 10:37] DeadZen commented on #508
What about an ets:give_away to a manager process so the stats data isn't lost on a crash?

[2013-04-11 10:47] russelldb commented on #508
Would need support at the folsom level, it has been discussed in this issue https://github.com/boundary/folsom/issues/30 (and others, probably, see the 'race' issue too)

These stats are 1 minute sliding windows, losing them is a shame, but not a disaster. This seemed like the best way for riak_kv. Even with heirs in ets, you still need to deal with the eventual possibility of the ets table going

[2013-04-19 13:10] jamesfoster opened #531 "Continuous Map Reduce"
Hi

Have you ever thought about continuous map reduce?

We are working with large amounts of data and have a few map reduce queries which we want to run all the time.

Instead of running them over the same data multiple times it would be great to run them continuously so that when new values are added they are passed to the map reduce and the new result returned to the caller. (possibly in batches

[2013-04-22 19:42] Vagabond opened #533 "Bad usage of proc_lib:spawn in put_fsm redirects"
https://github.com/basho/riak_kv/blob/master/src/riak_kv_put_fsm.erl#L218

This code uses proc_lib:spawn to start a remote put FSM on a randomly selected coordinating node for the preflist, if the current node is not a member.

However, the wrapping of proc_lib:spawn() in the try/catch is pointless, as proc_lib:spawn _always_ returns a pid (much like regular spawn()), and will never error:

[code]

[2013-04-22 20:21] Vagabond commented on #533
So, one possible fix with minimal impact is this:

[code]

If spawn() fails because the other node is unreachable, it will return a _local_ pid as the result, as well as logging that error. So if the pid resulting from a spawn is a local one, you know the spawn failed.

[2013-04-25 06:26] macintux opened #534 "Missing query: best possible value"
I discovered tonight that there is a gap in our query support: there's no way to ask Riak for the best possible value in a single request.

`R=quorum` runs the risk that the 3rd vnode to reply has a fresher value than the first 2 vnodes.

`R=N` runs the risk that one of the vnodes returns an error and the entire query fails.

As @Vagabond pointed out, errors are fairly uncommon, but `notfound_ok=f

[2013-04-25 16:56] Vagabond commented on #533
So, this may not be as much of an issue as I first thought. Since the proc_lib:spawn will hang until disterl notices the node is down, we won't actually be able to fail much faster with this change. Once disterl notices the down node, the node_watcher updates and fixes the preflist, so we'll stop trying to even spawn on that node.

It may be better to just lower the net_kernel tick time to somethi

[2013-04-26 16:31] slfritchie opened #537 "riak_kv_stat:re_register_stat/1 has case_clause exception"
Today's 'master' branch has `case_clause` exceptions being thrown ... example errors from MvM:

[code]

My first guess is that the clauses of `do_update/1` that have `add_monitor(MumbleSomething, Pid)` are the cause: `add_monitor` is not returning `ok`.

[2013-04-26 16:51] russelldb commented on #537
Can I get some more? There will be a warning like `ErrorClass:Error updating stat StatName` in the logs. Looks like a merge error, maybe, can't see any clause of `do_update` that handles an argument `{add_pid, pid()}`

[2013-04-26 17:10] slfritchie commented on #537
This is all that I have from @matthewvon, he's the generator & owner of the logs.

[code]

[2013-04-26 17:11] russelldb commented on #537
Ah! Got it, thank you.

The problem is here - https://github.com/basho/riak_kv/blob/master/src/riak_kv_stat.erl#L542

There is no configured way to re-register that kind of stat.

Will patch ASAP. Thanks.

I think I can see how the bug came into being too, that stat (the monitors for fsms) was in master, the repair stuff in 1.3, when merged - boom.

[2013-04-26 20:27] alexmoore opened #538 "riak-admin backup / restore silently drops siblings"
If you do a `riak-admin backup` of a cluster that has an object with siblings, and then restore it with `riak-admin restore`, it will silently drop that object.

Script to reproduce donated by Mr. Joe Caswell:

[code]

[2013-04-30 21:43] cdahlqvist opened #539 "Review riak_kv PR 490"
Review set of new mapreduce functions (https://github.com/basho/riak_kv/pull/490)

[2013-04-30 21:57] seancribbs commented on #539
Not necessary to open this issue, since we have the PR.

[2013-04-30 21:57] #539 closed, assigned to nobody

[2013-05-06 14:50] seancribbs commented on #518
Resolved by #520

[2013-05-06 14:50] #518 closed, assigned to nobody

[2013-05-07 13:05] russelldb commented on #505
Closing, since merged.

[2013-05-07 13:05] #505 closed, assigned to russelldb

[2013-05-07 16:41] randysecrist commented on #493
Until this is fixed; this is the patch we used.

[code]

[2013-05-07 17:41] seancribbs commented on #528
This has been resolved by basho/riak_api#28

[2013-05-07 17:41] #528 closed, assigned to nobody

[2013-05-14 18:41] hazen opened #550 "AAE Causes Single Node Failure Leads to Cluster Slowdown"
https://basho.zendesk.com/agent/#/tickets/4506

Customer was having an issue in which a single node going down greatly impacted the responsiveness of the rest of cluster.  They disabled AAE and found that this type of outage no longer had the same negative impact.

[2013-05-24 20:52] milindparikh opened #564 "riak_kv:riak_client throws "parameterized modules are no longer supported" error on trying to compile on R16B"
riak_kv:riak_client throws "parameterized modules are no longer supported" error on trying to compile on R16B

[2013-05-24 21:29] evanmcc commented on #564
We don't currently support R16B, but if you merge the branch sbv-drop-param-mod, you should be able to compile.

[2013-05-24 21:29] #564 closed, assigned to nobody

[2013-05-31 20:12] evanmcc opened #570 "Sidejob adjustments and visibility work."
For release, we should:
- add +P 265000 to vm.args
- change the default riak_kv:fsm_limit to 50000, add it to app.config with commentary.
- add the sidejob stats: usage, rejected_60s, rejected_total, in_rate, and out_rate to the stats blob

[2013-06-03 13:09] seancribbs opened #571 "List-buckets/keys timeouts fail when unset"
When performing list-buckets or list-keys over PBC without the new `timeout` option set, the FSM bails with badarg trying to set an `undefined` timeout.

See http://giddyup.basho.com/#/projects/riak/scorecards/32/32-248-client_java_verify-centos-5-64/11206/artifacts/11177

cc @evanmcc

[code]

[2013-06-03 15:40] jrwest commented on #571
This sounds like an issue familiar to: https://github.com/basho/riak_core/pull/330. `maybe_start_timeout_timer` probably needs to be extended to handle `undefined` cc/ @evanmcc

EDIT: this issue probably belongs in `riak_core`.

[2013-06-03 15:44] evanmcc commented on #571
Yup. Will fix when I get in. Had a similar issue with http bit didn't think
to check pbc.

[2013-06-03 16:45] evanmcc commented on #571
So, there's a lot of checks on the various paths into this particular
function (although clearly not enough of them).   Since I am putting
the smarts now into the FSM, does it make sense to clean up the client
implementation by removing the checks?

[2013-06-03 17:21] jrwest commented on #571
if it also consolidates the checks so that they aren't duplicated across PB/HTTP, I'd say +1. Is it a lot of changes post-freeze though?

[2013-06-03 17:25] evanmcc commented on #571
It's just a few case clauses to edit out.

[2013-06-04 20:17] #571 closed, assigned to evanmcc

[2013-06-05 21:45] evanmcc commented on #570
also need to adjust default +zdss value, doing some benchmarking now to find a better default.

[2013-06-05 21:58] slfritchie commented on #570
Note that "better" has several different meanings.  Smaller +zdss values will mean smaller `usleep(3)` pauses and thus hopefully lower latency, but the smaller sleep pauses will also significantly raise the amount of CPU time that an idle VM will spend spinning looking for work to do (and the associated power consumption and excess heat and ...).

[2013-06-07 14:34] lenary opened #574 "MapReduce throws the wrong error when an erlang module is not found"
Trying to do MapReduce when you've forgotten to add the path to the module results in a "module not found" error in the logs. However, the HTTP response returned is a different error, it's a serialisation error that happens when the web resource tries to serialize the module-not-found error to JSON.

[code]

[2013-06-07 18:45] evanmcc commented on #570
config stuff adjusted in https://github.com/basho/riak/pull/336, but visibility stuff is not in yet.  Possibly just 1.4? @jonmeredith @jtuple opinions?

[2013-06-13 16:56] russelldb commented on #537
https://github.com/basho/riak_kv/pull/577 Fixes.

[2013-06-13 19:30] joecaswell opened #578 "Feature request: report total bytes written"
Add total bytes written since restart to Riak KV stats.

From ZD:4823

[2013-06-18 19:57] reiddraper opened #580 "Create a working dialyzer make target"
The current one refers to `apps/...`, which doesn't even exist.

[2013-06-21 16:21] alexmoore opened #583 "Feature Request: Expiration per Bucket (Not per backend)"
_Moved from basho/bitcask#94_

Customer needs support for more than a handful of different expiration settings. They would like support for dozens to <100 of different expiration settings without configuring backends for each of them, hence the support by bucket.

Some brainstorming brought up the possibility of attaching an expiry date timestamp next to the creation timestamp in the bitcask entry

[2013-06-21 18:24] michellep-basho opened #584 "Feature Request: Expiration per Bucket/Object (Not per backend)"
Per Jon's recommendation moving from the bitcask repo:

Customer needs support for more than a handful of different expiration settings. They would like support for dozens to < 100 of different expiration settings without configuring backends for each of them, hence the support by bucket/object.

Some brainstorming brought up the possibility of attaching an expiry date timestamp next to the creati

[2013-06-21 18:25] #584 closed, assigned to nobody

[2013-06-26 15:39] engelsanchez commented on #580
@reiddraper Maybe we should close this and continue herding #524 ?

[2013-06-26 15:41] engelsanchez opened #590 "pipe_verify_basics sporadic failure on recursive inputs"
Observed in the wild. Apparently not really used by anybody according to Agent Smith. Consider this issue a reminder to look into it and fix:

http://giddyup.basho.com/#/projects/riak_ee/scorecards/38/38-601-pipe_verify_basics-ubuntu-1004-64/15570

[2013-06-29 19:39] evanmcc opened #592 "bitcask backend can fail to start due to timeout race with merger worker"
see https://github.com/basho/bitcask/issues/95 for info on race.

First we see this:

[code]

Followed by:

[code]

which suggests a race between the two.

cc @jcapricebasho @bsparrow435

[2013-07-02 00:15] evanmcc commented on #592
Closing, all of the solutions for this one look to live most cleanly in bitcask itself.

[2013-07-02 00:15] #592 closed, assigned to nobody

[2013-07-02 18:53] #537 closed, assigned to nobody

[2013-07-05 12:26] rogier commented on #358
As a workaround I used the following in my javascript map-reduce:
`function(riakObject) {
     if (riakObject.values[0].metadata['X-Riak-Deleted'] == 'true') return []
     var data = Riak.mapValuesJson(riakObject)[0];
     if (...) return [riakObject.key];
     else return [];
    }`

[2013-07-15 16:39] evanmcc opened #604 "Prune dead stat for R16"
As of R16B01 the global_heaps_size is deprecated:

Eshell V5.10.2  (abort with ^G)
1> erlang:system_info(global_heaps_size).
*\* exception error: bad argument
     in function  erlang:system_info/1
        called as erlang:system_info(global_heaps_size)

This causes the stats system to return "deprecated" rather than a number, which confuses the java client.

We should either remove it or replace

[2013-07-21 21:24] angrycub opened #605 "Link Walking will not work on any cluster where n-val = 1"
The `resource_exists(reqdata(), context()) -> {boolean(), reqdata(), context()}` function will always return false in a cluster with n-val = 1 because the `get` call asks for 2 replicas

https://github.com/basho/riak_kv/blob/master/src/riak_kv_wm_link_walker.erl#L283

[2013-07-22 17:18] russelldb commented on #441
Pretty sure this is addressed passably for now.

[2013-07-22 17:18] #441 closed, assigned to nobody

[2013-07-22 17:20] evanmcc commented on #391
This issue is addressed in handoff land and there is some code for it in the vclock machinery that is off by default.

[2013-07-26 22:46] russelldb opened #610 "Add timeout to 2i endpoints"
It seems 2i _never_ had timeouts. Which was fine while the coverage FSM ignored timeouts anway.

However, this fix https://github.com/basho/riak_core/pull/332 means 2i _must_ provide timeouts.

[2013-07-27 05:58] graphex commented on #610
Since client support for the timeout parameter is spotty, would it be possible for a fix to incorporate a default timeout setting into app.config?

[2013-07-27 14:47] russelldb opened #611 "Pagination in 2i is broken for equals queries"
When the continuation is decoded the last seen key is copied into the start_term, rather than preserving the index term in the query.

[2013-07-29 09:35] eriksoe opened #614 "Provide a cheap and reliable way to query for conflict-burdened keys"
There should be a better way to find keys with conflicts - including conflicts which have arisen because of replication - than to scan the entire database.

I've written a 2I-based implementation (pull request #595 ) of this which, upon conflict, adds an index entry on the object iff a certain user-metadata value is present on the object. This means that the feature can be enabled on a per-object

[2013-07-29 14:20] peschkaj commented on #614
During an on-site tech talk, several developers mentioned that the ability to rapidly identify objects with siblings is a feature that goes beyond "nice to have" and veers towards "DO WANT". It wasn't brought up as a show stopper for adoption, but they mentioned that this type of thing would make sense for certain workflows that they are considering.

[2013-07-29 14:31] russelldb commented on #614
I agree that this would be useful.

I like the concept / idea a lot. I think it would be a great feature.

I don't think #595  patch solves the problem well enough. But I think it is useful all the same. Some conflicts are detected at read time, #595 doesn't help with that. Some deployments use non leveldb back ends, #595 doesn't help them.

[2013-07-29 20:24] russelldb opened #617 "Non $ Index range queries as input to MapReduce casue notfound errors"
Range queries now return {index_term(), key()} pairs, MapReduce expects key only.

reported in the ML here http://lists.basho.com/pipermail/riak-users_lists.basho.com/2013-July/012777.html

[2013-07-29 20:27] russelldb commented on #617
Addressed by #618

[2013-07-30 01:15] daurnimator opened #619 "Feature Request: Mapred javascript functions standard library"
Writing map reduce functions can require a few more library functions.

e.g. I've found myself in need of XML parsing

Going further, could support for external includes be added?

[2013-07-30 02:53] peschkaj commented on #619
You should already be able to do this with the js_source_dir option of
app.config

On Jul 29, 2013, at 6:15 PM, daurnimator notifications@github.com wrote:

Writing map reduce functions can require a few more library functions.

e.g. I've found myself in need of XML parsing

Going further, could support for external includes be added?

—
Reply to this email directly or view it on
GitHubhttps://git

[2013-07-30 14:10] bsparrow435 opened #620 "Add query parameter to change n_val used for coverage queries"
A few people in the wild have changed https://github.com/basho/riak_kv/blob/master/src/riak_kv_index_fsm.erl#L95

From: `{Req, all, NVal, 1, riak_kv, riak_kv_vnode_master, Timeout, #state{from=From, max_results=MaxResults}}.`
To: `{Req, all, 1, 1, riak_kv, riak_kv_vnode_master, Timeout, #state{from=From, max_results=MaxResults}}.`

To provide for more consistent range_queries in the event of entro

[2013-07-30 17:35] slfritchie opened #621 "AAE fold requests can be forwarded to remote nodes?"
This is a placeholder, to follow up on something that popped up during a core/kv meeting.  It may be possible that an ?FOLD_REQ vnode op, initiated by AAE tree rebuilding, can be forwarded to a remote node in corner cases surrounding ownership change?

[2013-07-30 17:49] jtuple commented on #621
We do forward vnode requests indiscriminately. The plan has always been to add a notion of local-only vnode commands that we don't forward, but alas, haven't done that yet.

During testing, the `riak_kv_vnode:get_hashtree()` query was sometimes forwarded and would break things during cluster transitions, hence this lovely addition:
https://github.com/basho/riak_kv/blob/master/src/riak_kv_vnode.erl

[2013-08-02 19:50] engelsanchez opened #623 "Bad 2i param causes 500 error"
For example: http://127.0.0.1:10018/buckets/2ibucket/index/field2_int/1000?continuation=g2gCYgAAA+htAAAABW9iajUy

The + sign should be encoded, but it's not.  This should probably just cause a 400 instead.

[2013-08-02 19:55] russelldb commented on #623
So the returned continuation base64 encoded, but it needs to be url encoded before it is passed back to Riak?

[2013-08-02 20:31] engelsanchez commented on #623
Only when building URLs manually like in the test, so the backend actually gets the base64 encoded string. It was something different by the time it reached the base64 decode function (+ became a space).

[2013-08-05 19:58] russelldb commented on #617
Fixed in 1.4.1

[2013-08-05 19:58] #617 closed, assigned to nobody

[2013-08-05 19:59] russelldb commented on #611
Fixed in 1.4.1

[2013-08-05 19:59] #611 closed, assigned to nobody

[2013-08-05 20:01] russelldb commented on #610
@graphex we have done that. (add `{secondary_index_timeout, non_neg_integer()}` to your app.config settings for riak_kv, the unit is milliseconds and `0` means infinity (no timeout).)

Fixed for 1.4.1

[2013-08-05 20:01] #610 closed, assigned to nobody

[2013-08-06 15:52] slfritchie opened #624 "New AAE hash calculation to prior to calling the storage manager backend"
Per core/kv meetup in Boston.  Unify YZ and fs2.

[2013-08-06 18:56] seancribbs opened #625 "HTTP index stream blows up on timeouts (1.4.1)"
The handling of timeout responses from the index FSM in the WM resource is broken. Specifically, [these lines](https://github.com/basho/riak_kv/blob/master/src/riak_kv_wm_index.erl#L222-L232) in `index_stream_helper`:

[code]

When the variable `Error` is `{error, timeout}`, JSON encoding fails. When the after block fires, an incompatible streaming term is returned to Webmachine.

I discovered the

[2013-08-06 18:56] seancribbs commented on #625
/cc @russelldb @rzezeski

[2013-08-06 19:00] seancribbs commented on #625
Note that these messages are reported in error.log when running the unit tests:

[code]

[2013-08-06 22:14] russelldb commented on #625
Ok. This issue should be against 1.4.0, it was caused by the "fix" to riak core coverage fsm, and not the addition of a timeout param in 1.4.1. The addition of the timeout was caused by the same issue as this, but that is the only way they are related.

I can see it needs fixing, but neither @rzezeski or I caused it, nor was it under review, the issue here is with the ill considered fix to riak_co

[2013-08-07 01:47] seancribbs commented on #625
@russelldb Sure, I think it's clear it was not caused by the 1.4.1 update, just exposed by it. I think in general, we could be testing the unhappy-path a bit more. That said, I'll be looking into the fix tomorrow -- especially the 400 error -- I just wanted to make sure I recorded the bug and its symptoms before I ran out of juice.

[2013-08-08 14:47] evanmcc commented on #570
Fixed, closing.

[2013-08-08 14:47] #570 closed, assigned to nobody

[2013-08-08 22:48] mde commented on #358
@rogier Thank you for this workaround. I can't believe this is still broken.

[2013-08-09 14:43] evanmcc commented on #356
This has been addressed for backends that support it.

[2013-08-09 14:43] #356 closed, assigned to nobody

[2013-08-09 14:52] jrwest commented on #356
addressed in https://github.com/basho/riak_core/pull/290 and https://github.com/basho/riak_kv/pull/526

[2013-08-09 14:57] evanmcc commented on #284
Closing since this seems to have been addressed.

[2013-08-09 14:57] #284 closed, assigned to nobody

[2013-08-09 19:29] evanmcc commented on #308
If there isn't anyone actively working on it, I think that we should close it until there is.  In the mean time, maybe [Contact](https://github.com/metadave/contact) might be something for interested users to explore?

[2013-08-09 19:34] #308 closed, assigned to nobody

[2013-08-09 19:35] evanmcc commented on #397
This would indeed be a good idea, but currently this isn't on our roadmap.  I've marked this bug as a feature request, but since we don't plan on doing this in the next 2 or 3 releases, I am going to close it.

Thanks for the suggestion!

[2013-08-09 19:35] #397 closed, assigned to nobody

[2013-08-09 19:37] evanmcc commented on #309
Looks to be fixed to me, closing.  Please yell if you think that some specific enhancement remains to be done.

[2013-08-09 19:37] #309 closed, assigned to nobody

[2013-08-09 19:41] evanmcc commented on #304
This seems intentional; the old API is presumably going away at some point, which will obsolete this issue.  Closing since it's unlikely to be fixed before then.

[2013-08-09 19:41] #304 closed, assigned to nobody

[2013-08-09 19:42] evanmcc commented on #312
Is this still true?

[2013-08-09 19:55] evanmcc commented on #313
Where do we return this?

[2013-08-09 19:56] #316 closed, assigned to nobody

[2013-08-09 20:25] seancribbs commented on #313
I think this is no longer an issue.

[code]

[2013-08-09 20:25] #313 closed, assigned to nobody

[2013-08-09 21:37] evanmcc commented on #337
HTTP and PBC APIs should be at parity.

[2013-08-09 21:37] #337 closed, assigned to nobody

[2013-08-09 21:38] evanmcc commented on #336
Did this make it in at some point?

[2013-08-09 21:40] seancribbs commented on #336
@evanmcc No, we currently still return `0` for all err codes. This issue needs a champion.

[2013-08-09 21:54] evanmcc commented on #461
seems reasonable but not on the near term roadmap, marked as a feature request.

[2013-08-09 21:54] #461 closed, assigned to nobody

[2013-08-09 21:57] evanmcc commented on #370
This is important stuff, I agree, but I don't see it getting better (there is already some support for this in leveldb)   for the next few releases.  Marked as a feature request, closing.

[2013-08-09 21:57] #370 closed, assigned to nobody

[2013-08-09 21:58] seancribbs commented on #461
Dupe of basho/riak#356 actually

[2013-08-09 22:01] evanmcc commented on #396
This appears to have been fixed.

[2013-08-09 22:01] #396 closed, assigned to nobody

[2013-08-09 22:01] #423 closed, assigned to reiddraper

[2013-08-09 22:04] #444 closed, assigned to nobody

[2013-08-09 22:14] evanmcc commented on #452
@russelldb did something happen with this one?

[2013-08-09 22:17] evanmcc commented on #461
thanks, untagged

[2013-08-09 22:57] russelldb commented on #452
Not yet. Ideally it would be fixed in Folsom.

[2013-08-10 08:30] uwiger opened #630 "Wrong edoc spec for riak_client:get_index/4"
FYI: eyeballing the code, I noticed that the edoc spec below ([riak_client:get_index/4](https://github.com/basho/riak_kv/blob/master/src/riak_client.erl#L528)) is wrong about the third argument, which according to the implementation clearly is expected to be a proplist.

[code]

[2013-08-12 19:22] reiddraper opened #631 "2i/stats crash"
I'm getting some stats updating errors, as seen [here](https://gist.github.com/reiddraper/4fc4271d2c72edfe7859/raw/7246e1e991e40c3980f6b5c3dd2fa0bac212bc3b/gistfile1.txt) while running some load tests of Riak CS. The only operations running at the time are a bunch of 'cs_bucket_folds'. The frequency of these errors seems to be proportional to the amount of load on the system. As you can see from t

[2013-08-12 19:29] reiddraper commented on #631
This too:

[code]

[2013-08-12 20:48] reiddraper commented on #631
cc @evanmcc

[2013-08-12 20:56] russelldb commented on #631
Some investigation has shown that the issue is timeouts in the call to get monitor for the index / list monitors. The load is about 10 - 20 fsm starts per second, which doesn't seem to harsh.

Disabling the fsm stat (with a patched beam) stops the errors and load seems unaffected.

I guess the right thing to do is figure out why adding a monitor takes so long (can we cast it??)

[2013-08-12 21:58] russelldb commented on #631
A possible fix https://github.com/basho/riak_kv/pull/632

@reiddraper verified the crashing is fixed, need to check on perf.

[2013-08-13 13:56] lenary opened #634 "Counters throw an unicode error when using js mapreduce"
When doing a js mapreduce over a bucket that contains counter values, you get wonderful unicode errors as it tries to make the counter binary into a string.

For the moment js mapreduce of counters is entirely unsupported, but if someone has counters in a bucket that they also want to js mapreduce over, they're going to have a bad time.

Here's a post on the ML where it's happened (though the guy

[2013-08-14 21:21] evanmcc commented on #631
#632 was merged, closing.

[2013-08-14 21:21] #631 closed, assigned to nobody

[2013-08-21 14:58] daurnimator commented on #619
Does that support non-js libraries? (C extensions)
Could you use libraries from npm?

[2013-08-23 08:21] alman-one commented on #468
+1

[2013-08-25 05:26] kuenishi commented on #468
I'm not sure how to handle this, because response of most http APIs are always JSON. JSON does handle only UTF-8 as string data, never as raw binary. So this is not intended but very straightforward behaviour. My suggestion is to add a new option like `http://hostname:8098/buckets?buckets=true&binary=true` and `http://hostname:8098/buckets/spam/keys?keys=true&binary=true` . Then the output is prin

[2013-09-06 17:49] lukebakken opened #655 "HTTP GET /riak returns 500 and stacktrace."
ZD issue 5729

Riak 1.3.1 returns `{}` when `GET /riak` is sent to the HTTP server. 1.4.2 returns this:

[code]

However, requests to bad resources do return 404:

[code]

[2013-09-07 00:06] rzezeski opened #657 "Remove use of `match_delete` from AAE status"
Follow up on #654 and remove the use of `match_delete`.

/cc @jrwest

[2013-09-09 08:54] charl commented on #358
@rogier if I try your workaround I get the following:

[code]

[2013-09-12 03:28] peschkaj opened #660 "allow_mult gets stuck in `true` state"
Starting with a new bucket, I have bucket properties like so:

[code]

Setting `allow_mult = true` and `last_write_wins = false` results in the following:

[code]

Setting `allow_mult = false` and `LWW = true` actually ends up with allow_mult = true and LWW = true:

[code]

[2013-09-12 03:28] peschkaj commented on #660
Steps to repro with C# are in https://gist.github.com/peschkaj/6532771

[2013-09-12 09:23] THH-Startsiden commented on #655
I'm getting the same error with a default installation from APT in Wheezy and Squeeze. I can't find anything that seems relevant in any of the log files. I'm getting it with v1.4.0, 1.4.1 and 1.4.2. v1.2.1 works under Squeeze.

[2013-09-20 06:28] slfritchie opened #665 "Add app.config knob to completely disable retry_put_coordinator_failure"
As a review comment for #627...

... @jrwest wanted to see an app.config knob to force the `retry_put_coordinator_failure` value on KV put requests from default true -> false.

[2013-09-20 15:26] russelldb opened #666 "You can upset your cluster by submitting a non-numeric n_val"
And I imagine similar damage with other bucket properties. We have a simple bucket validation "Framework" in riak now, add some validators for n_val and other number properties so riak cuts fewer hands that try to hold it.

[2013-09-22 13:55] russelldb commented on #666
See https://github.com/basho/riak_kv/pull/667 and https://github.com/basho/riak_test/pull/389

[2013-09-25 18:31] deanproctor opened #670 "AAE feature request: provide realtime AAE status function"
The existing aae_status function only exposes completed actions.  We should provide a method of monitoring AAE actions currently underway.  This would be helpful so that server load/request latency changes can be more easily diagnosed and attributed to AAE.  The current process requires debug logging, process monitoring, and some guess work.

[2013-09-30 19:28] jrwest opened #674 "Missing Bucket Types not Gracefully Handled by Put (and Get?) FSMs"
to reproduce run the `bucket_types` riak_test but comment out where the bucket types are created

[2013-10-02 14:37] engelsanchez opened #679 "Possible data loss on corruption of coordinating node replica"
Russell brought this up today, and perhaps he can elaborate on this:
- A replica becomes unavailable in a put coordinating node due to corruption or user error.
- The incoming object may or may not contain a vector clock.
- We get a not_found in the local put.  We have lost the information corresponding to this vnode id.
- The vector clock created could have a stale number for this vnode actor id.

[2013-10-02 14:46] engelsanchez commented on #625
@seancribbs this is all now working after https://github.com/basho/riak_kv/pull/644 in 1.4.2, right?

[2013-10-02 14:59] seancribbs commented on #625
@engelsanchez I believe so. @russelldb ?

[2013-10-03 16:24] engelsanchez opened #682 "Avoid gen server call in metadata gets"
I have not quantified the performance hit, but it's expected to be non-trivial from experience. Just like application env vars and capabilities, read should probably do ETS lookups directly instead of going through the gen server.

[2013-10-03 16:25] engelsanchez commented on #682
Oops. opened in the wrong repo.

[2013-10-03 16:25] #682 closed, assigned to nobody

[2013-10-03 17:53] engelsanchez opened #683 "Better client timeout handling for get/put operations"
If the protocol buffer client times out waiting for a get or put operation, the FSM remains alive and may later send messages to the PB process, which results in errors like:

2013-10-03 16:00:45.228 [error] <0.28542.0>@riak_api_pb_server:handle_info:141 Unrecognized message {86078617,{error,timeout}}
2013-10-03 16:00:45.228 [error] <0.28438.0>@riak_api_pb_server:handle_info:141 Unrecognized messa

[2013-10-03 17:55] engelsanchez opened #684 "Move core console commands to riak_core"
A number of riak-admin commands are implemented in the riak_kv_console, even though they are purely core commands. We should clean this up.  Examples are cluster join,etc commands.

[2013-10-03 18:53] jrwest commented on #684
related https://github.com/basho/riak_core/pull/401

[2013-10-05 18:35] evanmcc commented on #683
I suspect that I'll be making changes to this path for perf work in this dev cycle, so I can fix this when I am in there.  I think the right thing to do is just to make the fsm die silently.  This doesn't help the case where the reply is delayed and gets to the client after it has timed out, but that's rarer.

Tempted, along the lines of things that @rzezeski has suggested to make the FSM timeout

[2013-10-07 07:55] russelldb commented on #679
Yeah. That captures it @engelsanchez. I think this is a problem we introduced recently by treating errors on local read as `notfound`. And I think the answer is as simple as creating a new `vnodeid` as soon as local corruption is detected.

If for whatever reason a coordinating PUT to a vnode fails to read an existing K/V out of the backend (we have a catch for it here:- https://github.com/basho/r

[2013-10-07 10:11] danabr opened #687 "reduce_plist_sum will crash with nested proplists and multiple reduce phases"
According to the spec, reduce_plist_sum may be used with either a proplist ([{key, 1}]) or a list of proplists [[{key, 1}], [{key, 1}]]. However, on 1.3 (have not tested with 1.4 since we are not running on it yet), Riak will crash if the map phase returns a list of proplists and there are more than a handful of keys. Consider the following test program:

[code]

If you run `TestMapRed(10)` Riak w

[2013-10-08 14:19] deanproctor commented on #670
The key data I believe should be exposed is
- Current builds and exchanges
- Disk and network IO consumed by each task
- Start time and projected completion time of the task (similar to handoffs)

Something that would be nice is a way to see the "pending" tasks by projected start time.

[2013-10-08 14:50] deanproctor opened #689 "AAE feature request: provide AAE hash tree build/exchange IO limits"
In testing with large vnodes (> 1TB/vnode) it was found that a single AAE tree build could consume more than 200MB/s of disk IO.  A single hash tree exchange could generate up to 800MB/s of network IO.  Tree builds typically took 45 minutes to 2.5 hours to complete.  It is unclear how long each tree exchange took to complete.  When under load, the impact of AAE was to reduce cluster throughput by

[2013-10-08 17:11] russelldb opened #690 "The v2 riak_object binary issue"
A catch all for wishes for v2 binary encoding for riak_object.
1. dvv sets or something similar
2. https://github.com/basho/riak_kv/pull/686 (smaller timestamps)

[2013-10-08 18:41] rzezeski opened #691 "Call to missing function in `riak_kv_mutator`"
I noticed this while building PLT for Yokozuna.

[code]

[2013-10-08 18:50] engelsanchez commented on #691
Thanks for catching that @rzezeski.

[2013-10-09 07:26] slfritchie commented on #679
@russelldb I don't believe that changing/incrementing the vnodeid is feasible.  Even if the backend could tell us 100% of the time that there were corruption, we run the risk of telling us that it noticed corruption 1000 time/second (to pull an arbitrary but not totally silly figure out of the air).  There is a different kind of actor explosion happening then, wouldn't it?

Is this totally crazy?

[2013-10-09 16:31] russelldb commented on #679
Just to summarize a long discussion in HipChat:

Per vnode counter. Increment it on every co-ordinated write.
Paranoidly persist it to disk every $THRESHOLD writes (with the vnodeid)
Read it on start up and add $THRESHOLD to it (what if $THRESHOLD changes between start and stop (from conf, say?))
Remove it (like we do with vnodeid) when handoff completes.
(Suffice to say the counter is _just_ like

[2013-10-10 02:25] slfritchie commented on #679
The counter's starting value should be really big, e.g. billions?  Otherwise, you're in the same bad place as using the constant `1` like today?

[2013-10-10 06:31] russelldb commented on #679
@slfritchie I don't understand why? If there is no counter on disk to read, but there is a vnodeid, then create  new vnodeid, otherwise the counter value on disk + threshold means we get a frontier count. Why the billions?

[2013-10-10 14:55] engelsanchez commented on #625
Well, open again if there are lingering issues.

[2013-10-10 14:55] #625 closed, assigned to nobody

[2013-10-11 17:13] elight opened #701 "riakc_pb_socket:set_bucket with yz_index prop doesn't apply the property"
Attempt to set a bucket prop of yz_index. Check the bucket props after.  The property isn't being set.

This feature does work via HTTP just not PB.

[2013-10-11 17:52] seancribbs commented on #701
Do you have the most up-to-date riak_pb? https://github.com/basho/riak_pb/blob/develop/src/riak_pb_codec.erl#L404

[2013-10-11 18:07] elight commented on #701
Ah my rebar.config may appears to be pegged to an older revision... :-/

[2013-10-11 18:26] seancribbs commented on #701
Cool, closing.

[2013-10-11 18:26] #701 closed, assigned to nobody

[2013-10-14 11:24] roflmao commented on #655
I get this both with Debian Wheezy 1.4.2 packages from Basho and compiled 1.4.2 from source

[2013-10-18 23:40] engelsanchez commented on #691
This should be fixed now by #692

[2013-10-18 23:40] #691 closed, assigned to nobody

[2013-10-21 18:45] dmitrizagidulin opened #706 "Disk section missing from HTTP /stats result in Riak 1.4.2"
The disk usage section is missing from the HTTP /stats api call in riak 1.4.2
For example, doing

[code]

results in:

[code]

Missing from this is the 'disk' section that was found in 1.4.1:

[code]

This is somewhat odd, in that, https://github.com/basho/riak_kv/blob/develop/src/riak_kv_wm_stats.erl#L87 looks like it's loading the disk stats.
And trying out the relevant code on the console in 1.

[2013-10-21 19:36] dmitrizagidulin commented on #706
Ok, at least I think I know the reason -- the 1.4.1 I was testing against was built from source. It looks like the PRs that fixed the 'disk' section in /stats (https://github.com/basho/riak_kv/commit/224fdab4182c904d5b28dafd6beba5f9a48febc7 / https://github.com/basho/riak_kv/pull/383 ) didn't get merged into the 1.4.1 / 1.4.2 release tags.

[2013-10-21 19:57] dmitrizagidulin commented on #706
Sounds like the fix has been merged to go into Riak 2.0. Closing this issue..

[2013-10-21 19:57] #706 closed, assigned to nobody

[2013-10-26 01:11] evanmcc opened #713 "consistent ops should have a fast failure path when ensembles aren't enabled"
right now his behavior is unhandled

[2013-10-30 22:04] jcapricebasho opened #716 "Memory Backend not adjusting used_memory properly after update or delete"
In a test where the same key was being repeatedly PUT to a memory backend with max_memory set, it was observed that at a consistent point the test started failing.  The original test code was performing a GET first to obtain the vclock before issuing the next PUT, and on the same iteration each time the object disappeared from the memory backend, resulting in a not_found on GET.  The original test

[2013-11-01 19:07] evanmcc opened #717 "memory backend max_memory & ttl settings don't play nice together"
https://github.com/basho/riak_kv/tree/pevm-membackend-1.1backport contains a few fixes that need to be applied to develop.

In addition, need to make sure that we're trying to trim the timeref table (where it exists) when something expires on get.

[2013-11-01 19:08] engelsanchez commented on #717
And in addition I believe we don't delete entries from the time table when doing a put over an existing object.

[2013-11-05 15:56] russelldb commented on #679
@slfritchie I am starting work on this now, wondering if you could articulate your objection to starting at `1`, or are you cool with it?

[2013-11-06 17:30] jonmeredith opened #721 "Slow 2I Query log"
Provide a way to log 2I queries that exceed some configurable time threshold

[2013-11-06 17:44] seancribbs commented on #721
Could this be done with lager at debug level, with appropriate tags and `lager:trace_file`? /cc @Vagabond

[2013-11-06 17:56] Vagabond commented on #721
Possibly, although you'd need like a ringbuffer backend to hold messages for each request until it was deemed 'slow', I think.

[2013-11-06 17:58] evanmcc commented on #721
Probably just simpler to use send_after, no?

[2013-11-06 18:07] seancribbs commented on #721
For sure there needs to be some definition of what decides when something is "slow". The vnode folder? The request FSM? Seems unclear to me.

I was just curious about whether the logging portion of this was an appropriate use of `trace_file()`.

[2013-11-08 16:15] bsparrow435 opened #724 "Handoff fails with TTL and memory backend"
During a PUT, if TTL is enabled, the memory backend prepends a timestamp to the riak_object as a tuple[1]. This causes riak_core_pb:encode to fail during handoff because it is expecting just a simple erlang binary, not a tuple.

This issue requires not using TTL and removing all data written with a TTL(either with a delete or a node restart).

[1] https://github.com/basho/riak_kv/blob/develop/src/

[2013-11-08 16:53] evanmcc commented on #724
A quick glance at the code suggests that folds should be doing the right thing already, although clearly they're not.  redbugging riak_kv_memory_backend strip_timestamp might indicate what's going wrong.

[2013-11-08 16:56] bsparrow435 commented on #724
Adding a console.log message indicating the failure on the send side of handoff:

2013-11-06 17:07:34.723 [error] <0.24845.46> gen_server <0.24845.46> terminated with reason: no function clause matching riak_core_pb:encode({ts,{1383,746117,164645}}, {{ts,{1383,746117,164645}},<<131,104,7,100,0,8,114,95,111,98,106,101,99,116,109,0,0,0,52,56,51,...>>})

[2013-11-08 16:57] bsparrow435 commented on #724
The riak_object binary was removed because it is active customer data. <> is actually a riak_object erlang binary

[2013-11-08 17:58] evanmcc commented on #724
looks like @Vagabond fixed this for develop in https://github.com/basho/riak_kv/commit/d48902266e8ba43db44ee1ac3fd8202e5e090557.  Is there enough demand to backport this?

[2013-11-15 06:36] russelldb commented on #679
The plan above is no good. See riak_kv#726 and https://github.com/basho/riak_test/compare/bug;rdb;gh679 for details.

I think there are a number of possible sources of this behaviour and we should probably partition them a little better.

One question? Why store the vnodeid on disk separate from the backend? If the vnodeid was _in_ the backend then one source of the issue (backend data deleted, vn

[2013-11-15 16:12] russelldb commented on #679
OK, I had a think and hacked together a branch that partially solves the problem.

Since we never compare vclocks across, creating a new vnodeId (based on the vnode Id ++ some epoch) as the actor whenever there is a `notfound` on a coordinating put solves the issue.

It raises issues too…but…discuss.

[2013-11-16 20:28] russelldb commented on #679
This[1] works\* for the case where the local `get` is a `notfound` and no vclock is provided on the `put`

[1] https://github.com/basho/riak_kv/compare/bug;rdb;gh679-crazy-ivan
- Passes the test

[2013-11-25 06:21] slfritchie commented on #679
Hi, Russell.  I've a couple of worries, ignoring the fact that I still like the `big_starting_point()` scheme better.  :-)
1. The `riak_kv_vnode:write_vnode_status/2` function isn't sufficiently robust.  It's outside of the scope of this PR so far, but I recommend that it be fixed.  IMO `file:write_file/2` isn't sufficient because it doesn't trigger an `fsync(2)` system call, so it's possible for

[2013-11-25 14:09] cipy opened #735 "feature request :: adding nodes dynamically to a cluster"
Hi there,

What if a newly installed Riak node joins its cluster immediately based on cookies (dynamic/automatic discovery, a'la ElasticSearch).

Should allow customers to create simpler deployment & automation scripts.

Why not having an internal flag (read: config switch): I want this cluster in dynamic discovery mode, vs I want this cluster in compatible/plan+commit mode.

Thanks,
Ciprian

[2013-11-26 20:43] jrwest commented on #674
Recent changes have mitigated this issue, although I haven't tracked down the exact commit yet. I remember discussion about someone addressing it while they were in the fsm or `riak_client` code. @jtuple or @seancribbs maybe?

Anyways, here is `riak_test` failing as expected when the type doesn't exist, instead of the nasty way it did before on the Riak side:

[code]

Closing.

[2013-11-26 20:43] #674 closed, assigned to nobody

[2013-11-28 10:22] runesl opened #740 "dropped_vnode_requests_total missing in riak-admin status output"
dropped_vnode_requests_total is in /stats output, but not in the output from riak-admin status when calling from command line.

Observed on 1.4.2 and 2.0.0pre5

In addition, it would be nice if this stat also had a 1 minute-version "dropped_vnode_requests"  like most of the other total counters do.

[2013-11-30 23:46] joedevivo opened #741 "add add_paths to the riak_kv.schema"

[2013-12-02 20:21] reiddraper opened #744 "HTTP 500 with object over max size"
[code]

clustermeta.mov is about 100MB. The max size is set to 25MB.

The error.log shows:

[code]

[2013-12-05 17:10] matthias11-21 opened #749 "develop branch depends on yokozuna, but does not list it as a dependency."
I recently noticed while trying to upgrade from 1.4.x to develop that yokozuna is referenced from src/riak_kv_vnode.erl lines 89 and 95, but is not listed in rebar.config as a dependency.

Interestingly this is a cyclic dependency, as according to the rebar.config in the yokozuna repository, yokozuna depends on riak_kv.

[2013-12-05 17:30] jrwest opened #750 "Refactor riak_kv_bucket eqc tests"
They have gotten a bit unweildy as `riak_kv_bucket:validate/4` has grown. See https://github.com/basho/riak_kv/pull/747#issuecomment-29893183

[2013-12-09 13:37] benjaminbarbe opened #752 "Support for multi commands (server side)"
- [ ] Fetch objects
- [ ] Store objects
- [ ] Delete objects

[2013-12-09 21:34] evanmcc commented on #752
Is this meant to be a feature request, or a notification that you're working on this?

If the former, we'd love to hear some more details regarding what you'd like these features to look like, as there are a large number of ways to implement them.  If the latter, for many of the same reasons, we'd love to hear more about your design for these features.

[2013-12-10 08:47] slfritchie opened #753 "riak_kv_vnode:handle_overload_command() does not handle everything"
The offending clause is here: https://github.com/basho/riak_kv/blob/c00bdb4e1cccad553920c3119655f1083b4fe680/src/riak_kv_vnode.erl#L406

When we're overloaded, we can't have riak_core_vnode_proxy throwing away commands without any response at all.  For example, problems reported with KV backend status, 2I operations, bucket fold operations; all hanging or timing out in unexpected ways.

[2013-12-10 12:59] runesl commented on #753
IMHO, the desired behaviour would be to always complete KV_VNODE_STATUS_REQ. I.e.also in overload situations. The operators need their stats to return, so they know if the node is alive and well or needs restart.

The command types serving user requests should return an overload response like is already done for PUT and GET.

[2013-12-10 15:03] benjaminbarbe commented on #752
Hi Evan,

It's a feature request. Currently I use a [client side solution](https://github.com/basho/riak-ruby-client/blob/master/lib/riak/multiget.rb) for requesting a large number of keys (~1500 1kb each)
But it's pretty slow. I have found some threads in the mailing list who advise to use [alternative solution](https://gist.github.com/kuenishi/7226938) based on map reduce. Still not acceptable f

[2013-12-12 11:35] slfritchie commented on #580
Pulling PRs out of the freezer ... it feels quite stale, especially since the string "apps/" doesn't appear in "develop"'s `Makefile` any longer.

[2013-12-16 17:12] engelsanchez opened #764 "1.4.4 2i changes"
Port 2i changes in 1.4.4 to 2.0

[2013-12-17 19:41] seancribbs opened #768 "RW considered harmful"
RW is unintuitive, let's remove it from the delete path.

[2013-12-18 14:30] my8bird commented on #655
Bump, I am getting a similar issue with a version I built (following the instructions via copy and paste).

riak-admin test succeeds

[code]

riak-debug reports some errors (if you need the archive let me know)

[code]

Add the curl test to show what I am getting.

[code]

[2013-12-19 02:05] jrwest commented on #666
addressed by merge of https://github.com/basho/riak_kv/pull/770

[2013-12-19 02:05] #666 closed, assigned to nobody

[2013-12-23 21:44] rzezeski opened #779 "[DOWNGRADE?] The new dvv stuff doesn't play well with JS map-reduce"
While running Yokozuna's map-reduce test I saw the following error.

[code]

After adding a logging call to the code I noticed this in the server log.

[code]

Notice the `<<\"dot\">>|{<<92,176,215,10,82,184,173,140>>,{1,63555053987}`. Mochijson cannot properly encode the dot in this form. It is my feeling that the dot should not be exposed for JS map-reduce. The function `riak_object_json:jsonify

[2013-12-23 22:10] russelldb commented on #779
I'll look it at UK am. Thanks for catching it.

[2013-12-23 22:14] rzezeski commented on #779
@russelldb Don't worry about it. I'm already working on fix.

[2013-12-23 22:16] russelldb commented on #779
@rzezeski thanks mate.

[2013-12-24 05:57] evanmcc opened #783 "Metadata cache can harm performance of fast backends."
Since that's the case, we should add a backend capability for the memory and yessir backends, so that the cache is never enabled on them.  An override for testing may also be useful.

[2013-12-24 06:41] jtuple opened #784 "Ability to change metadata cache size at runtime"
We should make it so that users can change the size of the per-vnode metadata cache (added in #781) at runtime. Without killing vnodes or restarting the vnode.

This should be exposed, at the very least, via an Erlang console 1-liner; better yet, via `riak-admin` or something. This would also provide the ability to disable the metadata cache at runtime if needs be, by extending the "cache size of

[2013-12-24 06:43] jtuple commented on #783
FYI, metadata cache was added in #781

[2013-12-24 15:41] rzezeski commented on #779
I'm reopening this issue to track downgrade support as mentioned by @jonmeredith. I fixed the issue in 2.0 but @russelldb was worried about downgrades since 1.4.x has no notion of a dot.

[2013-12-24 16:32] rzezeski opened #786 "Unit tests will fail to compile without EQC"
If a user doesn't have EQC installed then the unit tests will fail to compile. That is, `make test` will fail. This applies to all our community users as well as test machines without EQC installed.

[code]

[2013-12-24 17:03] seancribbs commented on #786
Addressed by #787

[2013-12-24 17:03] #786 closed, assigned to nobody

[2013-12-24 20:59] engelsanchez commented on #764
Done here: https://github.com/basho/riak_kv/pull/776

[2013-12-24 20:59] #764 closed, assigned to nobody

[2013-12-30 11:24] kuenishi opened #790 "existing data under bucket type disappears at mapred with keylist input"
An existing keydata disappears and handled badly at `riak_kv_pipe_get:bkey/1` .

To reproduce, with a fresh Riak node bucket type prepared:

[code]

Then using erlang client:

[code]

The reason for this is, BKey `{{Type,Bucket}, Key}` matches [first clause of riak_kv_pipe_get:bkey/1](https://github.com/basho/riak_kv/blob/ea0edcad1c2e6589bc09f493c4c6f57928e6644a/src/riak_kv_pipe_get.erl#L164) and

[2013-12-30 14:45] engelsanchez commented on #790
Unfortunately we had to go with a different order to make bucket types backwards compatible: https://github.com/basho/riak_kv/pull/703

So to include a type you will have to use the list form, with undefined keydata as a 3rd element and the bucket type as the fourth element. Bucket type needs to be the 4th element in JS as well.

[2013-12-30 15:33] kuenishi commented on #790
I tried `riakc_pb_socket:mapred(C,[[<<"b">>,<<"k">>,undefined,<<"t">>]], [{map,{modfun,riak_kv_mapreduce,map_object_value},undefined,false}]).` but got

[code]

 Looks like it's validated at `riak_kv_mapred_term:valid_input_targets/1` and the four-element list doesn't match.

[2013-12-30 16:56] engelsanchez commented on #790
Kota, in your case using {{{Type, Bucket}, Key}, undefined} should work.  The list is only good for JS functions, sorry for misleading you. While trying that on a default bucket though, I found yet another problem: the {<<"default">>, Bucket} bucket doesn't hash the same as Bucket, so the object is not found, and I'm getting errors on not found handling also. I'll track that on a separate issue. I

[2013-12-30 17:16] rzezeski commented on #753
+1 to this. We should be returning an error response to callers so they at least know something went wrong. I imagine the current implementation could cause process count to grow and message queues to back up as things wait for a response.

One specific thing I wonder about is AAE tree building during overload (as it requires folding over KV data). IIRC when AAE was first written it made assumptio

[2013-12-30 18:41] engelsanchez commented on #790
Actually, I was passing an incorrect parameter when I saw the error mentioned above. You may encounter it too: I had to use: {map,{modfun,riak_kv_mapreduce,map_object_value},<<"filter_notfound">>,true}. Then, the {{{T,B},K},KD} does work with the Erlang client.

[2013-12-30 22:10] jtuple opened #791 "Mutated objects are not unmutated on all code paths"
The new mutator logic mutates objects right before storing the object to disk, and is supposed to unmutate the object when reading from disk (thus, the higher levels of Riak don't know about mutated objects).

However, `riak_kv_mutator:mutate_get/1` is only called inside `riak_kv_vnode:do_get_term/3` which is not the only code path that reads objects from disk.

Several code paths in the vnode dir

[2014-01-03 18:03] russelldb commented on #791
Not sure I have a good enough handle on this. Not convinced that rehash wants the mutate_get object, but instead it probably wants the actual fake on disk, @jtuple ?

[2014-01-03 21:28] jtuple commented on #791
AAE should always be operating on full/real objects to ensure that all trees have consistent hashes across all replicas. Mutation changes the objects non-uniformly. For example with reduced N mutator, some replicas store full object, other replicas store reduced "metadata/promise" object. If AAE uses the mutated object, different replicas would have different hashes and AAE would believe replicas

[2014-01-03 21:54] jtuple commented on #791
I just noticed question 5 in basho/riak_repl#502 so I wanted to clarify expectations. To make this simple, I'm going to talk about reduced N mutation specifically, rather than mutation generally.

Let's say I have a cluster that is reducing `N=3` to `N=1`, so remote objects stored on this cluster end up with 1 real object on vnode A and 2 reduced objects on vnodes B and C.

First, per my comment a

[2014-01-06 10:17] russelldb commented on #791
@jtupl and whomever else is listening:-

There _is_ only reduced N mutation. The design and build of a generalised system was to get around circular dependancies between kv and repl, not to satisfy some general demand for mutation. I think it is _very_ important to remember that, unless there is some other concrete requirement I am missing.

Thanks for the rest of you comments. You've cleared up m

[2014-01-07 18:04] rzezeski opened #795 "Possibly remove bucket filters"
There was discussion today with @Vagabond and others about potential removal/deprecation of some bucket filter feature. Apparently @kellymclaughlin wrote it but it sounds like perhaps it isn't used or isn't needed anymore. It also sounds like it was never exposed outside of Riak. Creating an issue so that it isn't forgotten.

[2014-01-07 20:04] engelsanchez commented on #790
@kuenishi did you see my reply above? I'm going to close this unless you object soon

[2014-01-07 20:17] engelsanchez opened #797 "Create standard PB error strings"
Currently there is no list of possible error codes and strings included in PB replies.  This issue is a reminder to look into creating such a list, if possible. It may require some standardization in the error handling code or at least a manual list of error strings (error codes apparently are always zero).

[2014-01-07 20:18] engelsanchez commented on #797
/cc @broach @seancribbs I thought I would create this in case it's forgotten. I know you guys are talking about it. If you have a better issue in a better place, feel free to close this one.

[2014-01-07 22:40] kuenishi commented on #790
@engelsanchez I've been in vacation and now I found it worked!

[code]

Thank you!

[2014-01-07 22:40] #790 closed, assigned to nobody

[2014-01-08 16:44] engelsanchez commented on #797
Found an attempt to do this in a Wiki page from 11 months ago (internal Basho link) https://github.com/basho/internal_wiki/wiki/Client-Facing-Errors

[2014-01-08 17:29] daurnimator opened #798 "usermeta with a missing key ends up as `undefined`"
Using the protobuf interface, if you have a `usermeta` with no `value` it gets set to `undefined`

This turns up weirdly in different places
- http responses have a literal "undefined" for the header
- yokozuna errors with: `failed to index object {{<<"mytype">>,<<"mybucket">>},<<"mykey">>} with error badarg because [{erlang,list_to_binary,[undefined],[]},{yz_doc,format_meta,2,[{file,"src/yz_doc.e

[2014-01-10 00:53] lukebakken opened #800 "Can't retrieve default bucket type properties."
Testing using 2.0.0pre9:

[code]

[2014-01-10 01:25] jrwest commented on #800
duplicate of https://github.com/basho/riak_core/issues/496 which has already been addressed and should be included in pre10 (it was not reviewed in time for pre9).

[2014-01-10 01:25] #800 closed, assigned to nobody

[2014-01-11 21:46] lukebakken commented on #800
Verified fixed in pre10:

[code]

[2014-01-13 18:31] evanmcc commented on #753
in: https://github.com/basho/riak_kv/blob/develop/src/riak_kv_get_fsm.erl#L107-L124
and: https://github.com/basho/riak_kv/blob/develop/src/riak_kv_put_fsm.erl#L142-L159

There is another potential overload path.  These overloads come from sidejob keeping watch on the number of get and put fsms that are live at any one time (https://github.com/basho/sidejob/blob/develop/src/sidejob_supervisor.erl#L

[2014-01-15 03:05] engelsanchez opened #802 "Downgrade from 1.4 -> 1.2 does not revert handoff capability [JIRA: RIAK-2085]"
Found while testing a customer upgrade, then downgrade scenario. Handoff from 1.4 nodes sent raw objects, while 1.2 nodes only understand zlib compressed data. The capability was still set to raw in the 1.4 nodes, even though the list of supported capabilities in the ring showed that the downgrade node couldn't handle it. The riak_core_capability server was not updating the supported list. Killing

[2014-01-15 16:39] engelsanchez opened #803 "Make AAE read repair throttle tunable"
Currently, the AAE read repair throttle introduced in 1.4.7 has a kill switch, but no way to tune its innards: it uses application environment variables to control the sleep time and the aae_throttle_limits list it uses to determine sleep time between repairs based on cluster wide vnode queue lengths. But those variables are set by the entropy manager when it's initialized to hard coded values. It

[2014-01-16 22:11] jtuple opened #804 "AAE tree rebuilds hash mutated objects"
AAE rebuild hashtrees by [folding](https://github.com/basho/riak_kv/blob/73627522984d414db28baddaba35b9af6f258c34/src/riak_kv_index_hashtree.erl#L482-L494) over the on-disk K/V data. For mutated objects, the on-disk data is the mutated object -- not the original object. AAE hashes this object which generates a different hash than the original object -- which is not correct.

AAE needs to hash the

[2014-01-16 22:18] jtuple opened #805 "Folding over objects returns mutated object, not original object"
When performing a fold over a vnode's data (eg. `fold_objects`), the fold will see mutated data (since that's what's stored on disk) rather than the expected original object.

Issue #804 tracks the specific case of AAE being broken by this fact, and proposes a solution to fix the AAE fold.

However, this is a general issue. Anything in Riak that folds over object data will now see mutated objects.

[2014-01-16 22:28] jtuple commented on #804
Turns out AAE also uses the mutated object even when doing realtime inserts into the tree ([here](https://github.com/basho/riak_kv/blob/73627522984d414db28baddaba35b9af6f258c34/src/riak_kv_vnode.erl#L1351)). This should be changed to use the original/faked original object (`MaybeFake`).

Actually, assuming we go with the "store the hash during mutation approach", then the mutated object is actuall

[2014-01-16 22:28] jtuple opened #806 "Yokozuna indexes mutated objects"
Yokozuna currently indexes from what would be the mutated object when mutators are enabled, rather then the faked original object. For the reduced N mutator (the only existing mutator), the mutated object contains no object data -- just metadata. Thus, there will be nothing to index.

Do we want Yokozuna to still index based on the original data? 2i currently does and will store indexes on all rep

[2014-01-20 09:27] kuenishi opened #809 "can't set riak_kv.anti_entropy_expire as 'never'"
According to [riak_kv_index_hashtree.erl](https://github.com/basho/riak_kv/blob/develop/src/riak_kv_index_hashtree.erl#L784), to prevent rebuild of aae tree it's natural extimation to set `anti_entropy.expire` as `never`, but riak_kv.schema doesn't allow to do so. This seems because in its datatype is set as `{duration, ms}` .

If you set this as `never`, ignoring all above results in:

[code]

Or

[2014-01-20 17:36] seancribbs commented on #809
@kuenishi That looks like a bug in the schema, we can fix it like this:

[code]

[2014-01-21 02:01] kuenishi commented on #809
Hmm, just changing riak_kv.schema like that didn't work for me. We have to dig into cuttlefish?

[2014-01-21 15:12] seancribbs commented on #809
Did you rebuild the release after? Those are copied to the top-level "lib" directory when generating.

[2014-01-21 20:12] sargun opened #811 "Behaviour of riak_kv_pipe_get fitting around buckets with custom hash functions is incorrect"
If you use the riak_kv_pipe_get (https://github.com/basho/riak_kv/blob/develop/src/riak_kv_pipe_get.erl) fitting during a riak_pipe job, it can result in improper lookups of vnodes for fallbacks in the preflist. The first thing that the behaviour does when called by riak_pipe (process), is to try the local partition (L130), and then it falls back to try_preflist. As the behaviour implements its ow

[2014-01-22 00:59] kuenishi commented on #809
I'm sure and I believe in myself but now I'm losing my religion. I'll try it again with your branch.

[2014-01-22 01:16] kuenishi commented on #809
I tried your fix `bugfix/sdc/anti-entropy-expire` (which is totally same with my local diff) and added a line to riak.conf like this:

[code]

But didn't work https://gist.github.com/kuenishi/8551746. As seeing your branch passes eunit, now I'm confused...

[2014-01-22 02:06] slfritchie commented on #803
IIRC, the hard-coded values are only used if there's no entry in the application environment for a non-default tuning.  The Cuttlefish schema may/may not be optimal, but last I checked it also worked (because cuttlefish creates the proper list and drop it into the app env)?

The functions at https://github.com/basho/riak_kv/blob/develop/src/riak_kv_entropy_manager.erl#L40 for examining & changing

[2014-01-22 02:57] seancribbs commented on #809
@kuenishi Would you attach the generated configs to that gist? You can get them by running  `riak config generate`.

[2014-01-22 03:21] kuenishi commented on #809
here: https://gist.github.com/kuenishi/8551746#file-app-2014-01-22-12-19-09-config-L74
fmm, looks like it's failing in generate.

[2014-01-22 03:31] seancribbs commented on #809
Hmm, it shouldn't generate at all, it should abort. Are there error lines logged to the console when you generate?

[2014-01-22 03:39] kuenishi commented on #809
Nothing specific. Is it working correctly in your env? Only me? Then I can try in another env.

[2014-01-22 03:43] seancribbs commented on #809
One more time, would you run `riak config generate -l debug`? The `-l debug` will enable more verbose output.

[2014-01-22 03:48] kuenishi commented on #809
here: https://gist.github.com/kuenishi/8551746#file-another-exec

Wow, the error is silently ignored. The output app.**.config file is totally the same.

[2014-01-22 03:50] seancribbs commented on #809
@kuenishi Thank you for digging in. This looks like a serious cuttlefish bug that I will work to fix this week.

[2014-01-22 04:08] engelsanchez commented on #803
Oh wait. This code has been fixed since the version we were looking at:
https://github.com/basho/riak_kv/blob/1.4/src/riak_kv_entropy_manager.erl#L207

In the 1.4 branch, the hard coded value is taken unconditionally. I suppose we can close this. If we release again in the 1.4 branch, we should consider backporting that bit. /cc @bsparrow435

[2014-01-22 04:08] #803 closed, assigned to nobody

[2014-01-22 16:40] seancribbs commented on #809
@kuenishi Yes, I've traced it down to `cuttlefish_duration`, which returns `error` instead of `{error, Reason}` on a bad parse.

[2014-01-22 19:08] jcapricebasho opened #812 "Disk Utilization Aware Ownership Handoff"
Disk utilization aware handoff would be very useful to users who are adding nodes due to disk utilization constraints.  If rediagonalization occurs when the node is added, transfers between nodes that are currently at high disk utilization can cause a node to run out of disk space.

With disk utilization aware handoff, ownership handoff would be ordered in a way that would transfer partitions off

[2014-01-23 01:21] andrewjstone commented on #753
I propose changing the last clause [here](https://github.com/basho/riak_kv/blob/c00bdb4e1cccad553920c3119655f1083b4fe680/src/riak_kv_vnode.erl#L406) to the following

[code]

However I've been having trouble testing it. I was trying to put the cluster into overload and run a list_keys operation after suspending all the vnodes, similar to the current overload test which suspends a vnode for a given

[2014-01-23 03:27] slfritchie commented on #753
Andrew, the strategy that I've used in the past is:
1. Change the overload limit from its default 10K to something like 100 or 50 or lower.
2. Use `sys:suspend()` to suspend some vnode procs
3. Apply a enough load so that the suspended vnode procs have mailboxes larger than #1's limit.

[2014-01-23 18:12] seancribbs commented on #809
@kuenishi Will you pull latest cuttlefish and try again? The fix in basho/cuttlefish#112 will be in the next pre.

[2014-01-23 21:10] russelldb opened #816 "riak_kv_counter needs to come back for MR backwards compat"
People already use riak_kv_counter:value in their MapReduce. That module needs to be re-introduced so that their MRs still work when the upgrade.

Also, we need similar, MR friendly value functions for the other types. Either on riak_kv_crdt (riak_kv_crdt:map_value??) or in some helper function that can map atoms like 'counter', 'set', 'map' to their dt types.

[2014-01-24 03:41] kuenishi commented on #809
it worked great :boom:

[code]

[2014-01-24 03:41] #809 closed, assigned to nobody

[2014-01-27 03:57] seancribbs commented on #809
@kuenishi Thanks, #810 is now merged.

[2014-01-27 15:29] gburd commented on #679
Sounds like we're overload the meaning of `notfound` and should have a `{error, repair_this_key_please}` return value from backends.

[2014-01-27 15:33] russelldb commented on #679
Sure, that deals with one case, but there are others, when you remove the data at the backend for instance, this issue is still an issue.

On 27 Jan 2014, at 15:29, Gregory Burd notifications@github.com wrote:

[2014-02-05 09:55] slfritchie commented on #740
NOTE: There are a number of other stats that are missing from "riak-admin status" output, alas, that do indeed appear in the HTTP server's /stats JSON blob, e.g. riak_kv_vnodeq_max.

[2014-02-05 10:28] russelldb commented on #740
@slfritchie list 'em and I'll fix 'em :D

[2014-02-05 11:02] slfritchie commented on #740
Here's what I've found with brute-force sed & diff, run on today's `develop` branch of Riak.

[code]

[2014-02-05 11:03] slfritchie commented on #740
Given the number of differences ... how quick is it to avoid a 1-by-1 inclusion in "riak-admin status"?

[2014-02-05 13:14] russelldb commented on #740
`riak_kv_status:statistics/0` returns only `riak_kv_stat:get_stats/0` but `/stats` returns the union of `riak_kv_stats:get_stats/0` and `riak_core_stat:get_stats/0`. The fix is pretty easy and on its way.

[2014-02-05 13:17] shino commented on #740
Related issue: https://github.com/basho/riak_core/issues/474

[2014-02-05 13:44] russelldb commented on #740
https://github.com/basho/riak_kv/pull/828

[2014-02-11 18:36] russelldb commented on #779
Decided to tackle this as
1. Release note it saying "if you use JS mapreduce, and you may want to downgrade to 1.4 after upgrading to 2.0, then please switch dvv.enabled=false, as `dots` are not encoded for JS. If you forget or chose not to, we can provide a patched 1.4 riak_kv_mapreduce beam that enables you to downgrade and ignore dots"
2. Add the mapreduce JS patch code from ryan to a 1.4 branc

[2014-02-13 16:56] engelsanchez opened #837 "Vnode write error reason is not propagated to FSM/client"
Except for overload messages, for which we hacked a workaround overloading the returned request id from a vnode reply.  We should generalize that so that any error reasons are propagated back. For example, now the write can fail due to a violation of the max siblings or max size constraints.

[2014-02-13 21:38] engelsanchez commented on #837
Another unanswered question here: with the addition of the overload messages, special logic was added such that if a request failed and any of the vnodes returned an overload error, that overload error would be propagated to the client.  With new known errors, there is the question of priority: what error to return if one vnode is overloaded and another hits the siblings maximum?

[2014-02-14 11:56] cipy opened #842 "Storing without key should generate the key name based on sha2sum(value)"
It would be useful for developers to get from Riak a confirmation that all bits sent on the wire were correctly received by the backend. This can be achieved by generating a key name as a checksum (sha2?) of the actual value/data received by Riak.

http://docs.basho.com/riak/latest/dev/references/http/store-object/#Example-Storing-Without-Key

[2014-02-14 14:54] seancribbs commented on #842
What happens when someone rewrites the object later and it doesn't match its key anymore? For now, a combination of a large DW and return_body would accomplish the desired effect.

[2014-02-14 15:02] cipy commented on #842
The problem with return_body is that the whole body comes back to the client, which might be expensive (both for the sender, and also for the receiver to parse and/or build check sums)

Once an update was pushed to the (named) key, the initial hint (key name =sha2sum) is lost

The feature should be just an amendment to the current implementation for keyless storage, where pushing same value/data o

[2014-02-15 07:37] cipy commented on #842
pondering a bit more on it,
sha2sum(content) would be more CPU expensive and hinder concurrency. thanks @seancribbs

[2014-02-15 07:37] #842 closed, assigned to nobody

[2014-02-18 07:10] jtuple opened #846 "AAE + ownership change race = 5 minute AAE stall"
If the remote tree in an AAE exchange is for a partition that is changing ownership, it's possible for the exchange FSM to stall when trying to grab the remote lock, eventually timing out. As the default AAE timeout is 5 minutes, this is a noticeable stall.

Technically, this is "working as designed". The timeout triggers, the exchange fails, and the world moves on.

The main issue is the strong c

[2014-02-18 21:37] engelsanchez opened #847 "Ensure hinted handoff completes as soon as possible"
If a fallback vnode takes data writes for an unavailable vnode, when the vnode is available again hinted handoff should make that data available to the primary vnode that owns it.  If hinted handoff fails, it is possible for the fallback vnode to shut down and not try again until a node restart, where vnodes with data are started and fallbacks have a chance to start hinted handoff again.

In a com

[2014-02-18 21:44] engelsanchez commented on #679
Adding wood to the fire:

A scenario related to this discussion painfully surfaced recently and was discussed by the Core/KV cabal.  It is possible for hinted handoff to finish much, much later than necessary. See basho/riak_kv#847.   That combined with deletes with delete_mode not set to `keep`, new writes to the delete key followed by an old fallback node finally completlng hinted handoff due to

[2014-02-20 16:22] #816 closed, assigned to nobody

[2014-02-20 20:04] andrewjstone commented on #753
Implemented overload handling for coverage queries. I think however that I may need to add code for `delete` before I can close this out.

[2014-02-21 03:44] andrewjstone commented on #753
Actually, `delete` is really just a put of a tombstone. Therefore there is nothing to change for overload handling. Closing as complete.

[2014-02-21 03:44] #753 closed, assigned to nobody

[2014-02-22 01:34] wbrown opened #854 "Binary keys and values cause issues in riak_kv_index_hashtree:maybe_throttle_build [JIRA: RIAK-2324]"
Storing unencoded binary keys and values in Riak prerelease causes issues under load with `riak_kv_index_hashtree:maybe_throttle_build`:

[code]

[2014-02-22 01:47] vinoski commented on #854
According to @wbrown this occurred with 2.0pre11.

[2014-02-26 18:59] rzezeski commented on #854
I can't say if it's related (though my gut says no) but there is also a Yokozuna related error at the end. Something to investigate on my end.

[2014-02-28 23:05] jrwest commented on #847
delayed 2c: +1 to making fallbacks more agressive w/ moving data to primary. obviously this doesn't solve all cases (e.g. long-long-long lived partition) because of the issues outlined in https://github.com/basho/riak_kv/issues/679

[2014-02-28 23:08] engelsanchez commented on #847
BTW, I don't know what I was drinking when I opened this in riak_kv instead of riak_core :(

[2014-03-02 21:38] wbrown opened #858 "Temporary Files Being Created in Application Directory"
I'd been wondering why I'd been getting so many writes and reads to my USB root disk, and I'd tracked down the culprit.

In my setup, I have riak set up in `/opt/riak` -- `/opt/riak/log`, `/opt/riak/data`, `/opt/riak/etc` are symlinks to a data partition, ensuring that about all dynamic changes are writtten to a data disk.

Turns out that there are temporary files being written to `/opt/riak` -- t

[2014-03-02 21:41] wbrown opened #859 "Temporary Files Being Created in Application Directory"
I'd been wondering why I'd been getting so many writes and reads to my USB root disk, and I'd tracked down the culprit.

In my setup, I have riak set up in `/opt/riak` -- `/opt/riak/log`, `/opt/riak/data`, `/opt/riak/etc` are symlinks to a data partition, ensuring that about all dynamic changes are writtten to a data disk.

Turns out that there are temporary files being written to `/opt/riak` -- t

[2014-03-02 22:26] seancribbs commented on #859
Those are not files written by Riak. My guess would be it's Fabric creating those (given the filename), are you using it for deployment?

[2014-03-02 22:30] wbrown commented on #859
@seancribbs Not sure.  If I use Fabric, it's inadverent.  I'm using Riak 2.0 pre11, with a custom Arch Linux package.  I'm not using any sort of automatic deployment and management of Riak beyond symlinking to local ZFS volumes for data.

[2014-03-02 22:32] seancribbs commented on #859
@wbrown Could you run this command and paste the output?

[code]

[2014-03-02 22:34] wbrown commented on #859
Here you go:

[code]

[2014-03-02 22:37] seancribbs commented on #859
Interesting. My second guess is that those are ring state files.

Try appending a new ring.state_dir to the conf:

[code]

If this was a member of a cluster, you might lose its previous membership state.

[2014-03-02 22:41] wbrown commented on #859
Already have ring state files in `/opt/riak/data/ring` from the looks of it:

[code]

Another note is that these files mentioned earlier are very transient.  Could it be possibly related to vnode mailbox overruns?  I'd adjusted my vnode mailbox overrun size upwards, and this may have reduced the amount of writes to my root filesystem.

[2014-03-02 23:02] seancribbs commented on #859
As far as I know, the overload mechanism does not use the filesystem. Maybe @jtuple @jrwest @engelsanchez knows what those files are?

[2014-03-03 03:00] evanmcc commented on #859
Pretty sure that it isn't us: grep -r fabric \* in the base dir of riak
doesn't turn up anything but test data and an erlang_js header.

[2014-03-03 04:02] wbrown commented on #859
`fabric` is the name of my subnet.  It isn't an application, per se -- you guys are being misdirected by that.

i.e. my hosts currently are:

[code]

[2014-03-03 05:12] evanmcc commented on #859
Perhaps strong consistency's statekeeping?  Is that enabled and pointed at
the right directory?

On Sun, Mar 2, 2014 at 8:02 PM, wbrown notifications@github.com wrote:

[2014-03-03 16:50] wbrown commented on #859
@evanmcc I'm using CRDT counters with my application, so if that enables strong consistency, then, yes, it is enabled.  What knob or setting can I check for that?

[2014-03-04 00:02] wbrown commented on #854
Not sure if it's Yokozuna related -- I disabled Yokozuna on the bucket in question, and I'm getting a similar error:

[code]

[2014-03-04 01:32] slfritchie commented on #854
@wbrown Do you have entries in the crash.log that correspond to those 'bad argument'/'badarg' errors?  That file should have a full stack trace (spread across multiple lines), which would make pinpointing the bad code path a lot easier.

[2014-03-04 01:52] wbrown commented on #854
Is this what you need?

[code]

[code]

[2014-03-09 20:05] wbrown opened #864 "AAE LevelDB Settings?"
Color me a little confused.  I've been doing a lot of experimentation with LevelDB settings, among them the blocksize, and compression ratio.

Riak AAE annd Yokozuna AAE both utilize LevelDB.  I've been examining the characteristics of these I/O patterns, and am having trouble with this.

If the AAE LevelDBs do not honor the ELevelDB settings, then could either of these two changes be made?
- AAE

[2014-03-09 22:05] jonmeredith commented on #864
I was just talking with @mranney about this very issue on Thursday.  We need to do some investigation to determine the potential of significant write amplification based on the difference in leveldb vs filesystem block sizes.

[2014-03-09 22:11] wbrown commented on #864
I opened a separate issue relating to that, in the `leveldb` repository, as I was not sure where to put a specific issue like that.

https://github.com/basho/leveldb/issues/126

[2014-03-10 14:01] engelsanchez commented on #864
@wbrown you can set the eleveldb options for AAE by tweaking anti_entropy_leveldb_opts in the riak_core section of advanced.config (or the old style app.config).  This is the code that picks that up before opening eleveldb:
https://github.com/basho/riak_core/blob/develop/src/hashtree.erl#L505

[2014-03-10 18:46] wbrown opened #865 "M-R in Erlang on key inputs with secondary indexes break"
Running Riak 2.0-pre11, attempting to load object values in Erlang map-reduce breaks if the object has 2i indexes associated with it.

The values are JSON encoded.

Doing a search from the Python client with JavaScript map-reduce works:

[code]

Doing it from Erlang breaks:

[code]

Attempting the same from a Yokozuna-indexed bucket works -- it is probably not the fact that it's indexed by Yokozun

[2014-03-20 07:56] slfritchie opened #872 "riak_kv_index_hashtree: function_clause,[{proplists,get_value,[n_val,{error,no_type},undefined]..."
Hi, I noticed these two errors when using the riak_test "verify_handoff" with today's `develop` branch of Riak.

[code]

[2014-03-20 16:30] roncemer opened #873 "Riak Streaming Mapreduce Not Reliably Outputting EOF Boundary"
In a production environment with 6 Riak servers running riak-1.4.8-1.x86_64 (Amazon Linux), I'm running into this error fairly regulary. I used to see it infrequently, and the workaround was to narrow the time range for the query.

I'm doing streaming mapreduce over HTTP. So the URL looks something like this:

http://:/mapred?chunked=true

Request headers look like this:
Content-Type: application/

[2014-03-20 17:33] rzezeski commented on #872
I have confirmed the error.

RT SHA:

[code]

Riak SHA:

[code]

Error:

[code]

[2014-03-20 17:45] rzezeski commented on #872
I forgot to mention that this did not cause the verify_handoff test to
fail (for me, not sure about Scott). The error only occurred on the
dev3 node. My guess is this is a race between handoff and bucket types
(cluster metadata). The handoff starts before the type metadata has
shipped across to the joining node and thus the first few inserts into
the KV hashtree fail to find the bucket type.

See

[2014-03-20 19:04] jrwest commented on #872
Because of the way `rt:create_and_activate_bucket_type` is implemented there is a small window for a race that could cause that error [here](https://github.com/basho/riak_test/blob/master/tests/verify_handoff.erl#L87-L89), especially if `RootNode` is not the claimant.

[2014-03-20 19:30] roncemer commented on #873
Just some more info on this bug.  It appears to have something to do with possibly the write timeout on the data stream from Riak to the client (over HTTP).  I've found that if I do absolutely zero processing on the chunks (MIME parts) as they come back from Riak (other than storing them to a file in their raw, JSON form), then the query executes successfully.

However, if I try to put them into a

[2014-03-23 04:53] broach opened #875 "PB List Keys to missing bucket type causes crash, hangs client,"
If you issue a list keys command via PB, and the type specified doesn't exist, the following appears in the console.log:

2014-03-22 22:11:30.620 [error] <0.24921.0> CRASH REPORT Process <0.24921.0> with 0 neighbours exited with reason: no function clause matching proplists:get_value(n_val, {error,no_type}, undefined) line 225 in gen_fsm:init_it/6 line 379

2014-03-22 22:11:30.620 [error] <0.355.0

[2014-03-24 16:53] jtuple opened #876 "Adds stats for strongly consistent operations"
We need to add stats for all strongly consistent operations. Currently, consistent operations have zero visibility. This is a must before 2.0.

/cc basho/riak#536

[2014-03-24 18:19] jtuple opened #877 "Add strongly consistent data types"
Need to add support for consistent sets, counters, and maps.

[2014-03-24 18:34] #307 closed, assigned to nobody

[2014-03-24 18:41] jtuple commented on #344
As far as I know, this has been fixed in Riak 1.3/1.4 after various changes to LevelDB to make it detect backend errors, plus changes in Riak 1.4 to catch `binary_to_term` errors in general.

[2014-03-24 18:41] #344 closed, assigned to nobody

[2014-03-24 18:44] jtuple commented on #394
I don't believe this is still an issue on Riak 1.4+. Going to close this issue. Please open a new issue if this is still a problem for your OS/environment on current Riak.

[2014-03-24 18:44] #394 closed, assigned to nobody

[2014-03-24 18:47] jtuple commented on #391
We should test the new behavior during 2.0 testing cycle and switch the defaults to use the non-zlib approach in 2.0. Or, if testing is inconclusive, re-assign this issue to 2.1

[2014-03-24 19:00] jtuple commented on #621
This was fixed as part of basho/riak_kv#626 and basho/riak_core#354

[2014-03-24 19:00] #621 closed, assigned to nobody

[2014-03-24 19:07] jtuple commented on #580
This has been fixed by #808

[2014-03-24 19:07] #580 closed, assigned to nobody

[2014-03-24 20:13] seancribbs commented on #735
Moving to 2.1

[2014-03-24 21:10] jtuple commented on #550
There has been several improvements to AAE that should help reduce the impact AAE has on Riak operation in 2.0. But, we should investigate things further during the 2.1 development cycle.

[2014-03-24 21:15] #533 closed, assigned to nobody

[2014-03-24 21:16] jtuple commented on #507
Resolved in #509 / #504

[2014-03-24 21:16] #507 closed, assigned to nobody

[2014-03-24 21:17] jtuple commented on #496
Is this still something we care about / want to do? In any case, assigning to 2.1 cycle.

[2014-03-24 21:21] jtuple commented on #624
We never got around to making this change, did we? Assigning to 2.1 development cycle.

[2014-03-24 21:22] jtuple commented on #634
Is this still an issue? If so, is this something we are planning to fix before 2.0 final or are we just planning to document the limitation and consider fixing in 2.1? Assigning to 2.0-beta milestone to force us to notice this issue and make a decision.

[2014-03-24 21:25] jrwest commented on #496
Think its good to put on 2.1 for now, but in that cycle we should either fix it or close as "wontfix"

[2014-03-24 21:29] jtuple commented on #665
Resolved by #700

[2014-03-24 21:29] #665 closed, assigned to nobody

[2014-03-24 21:37] jtuple commented on #804
We've removed object mutation from 2.0. I'm going to close this issue. If we reintroduce some form of mutation in a future release, we'll need to handle the concerns mentioned here.

[2014-03-24 21:37] #804 closed, assigned to nobody

[2014-03-24 21:52] jtuple commented on #846
We should at least lower the default timeout from 5 minutes for 2.0.

[2014-03-24 21:54] jrwest commented on #875
moved to `2.0-RC`. we won't hold up beta for it, but this is a real issue we need to fix.

[2014-03-24 21:57] jtuple commented on #806
We've removed mutated objects from Riak 2.0. Closing this issue. If we bring back mutators, we need to be sure to handle this properly.

[2014-03-24 21:57] #806 closed, assigned to nobody

[2014-03-24 21:57] jtuple commented on #805
We've removed mutated objects from Riak 2.0. Closing this issue. If we bring back mutators, we need to be sure to handle this properly.

[2014-03-24 21:57] #805 closed, assigned to lordnull

[2014-03-24 21:59] jrwest commented on #660
moved to `2.0-RC` and marked for resilience testing (because I want to investigate). We changed a bunch of code around bucket property handling and it would be good to know where we stand w/ this issue.

[2014-03-24 22:01] jtuple commented on #740
Resolved in #828, closing.

[2014-03-24 22:01] #740 closed, assigned to nobody

[2014-03-24 22:02] jtuple commented on #724
Issue resolved on develop. Unclear if we want to backport. Closing issue for now.

[2014-03-24 22:02] #724 closed, assigned to nobody

[2014-03-24 22:05] joedevivo commented on #741
We've chosen to leave this configurable in `advanced.config` only.

[2014-03-24 22:05] #741 closed, assigned to joedevivo

[2014-03-24 22:11] jtuple commented on #689
This was handled in #765

[2014-03-24 22:11] #689 closed, assigned to nobody

[2014-03-24 22:11] lenary commented on #634
So the "fix" would be to include custom serialization, which feels like quite a bit of work. My feeling is document that they cause errors, and leave them at that.

I'm imagining that all our data types will cause errors in js mapred as we're compressing them within term_to_binary.

To be clear: there is no issue in Erlang Mapreduce, because erlang can cope, and you can call the from_binary functi

[2014-03-25 03:40] kuenishi commented on #468
oh this wasn't closed.

[2014-03-25 03:40] #468 closed, assigned to nobody

[2014-03-25 08:28] russelldb commented on #877
Do you want help on this? Do you want to match the EC API, for example?

[2014-03-25 08:49] russelldb commented on #634
Something for the prod managers to decide (cc @gburd @michellep) I see any work to make data types work with JS MR as throwing good money after bad. New feature only MRable via Erlang MR is a _good_ thing, imo.

[2014-03-25 08:52] russelldb commented on #634
And there are helper funs for erlang MR (https://github.com/basho/riak_kv/blob/develop/src/riak_kv_crdt.erl#L30), thought maybe they should be callable from `riak_kv_mapreduce`

[2014-03-25 17:01] jrwest opened #878 "investigate the support for typed buckets in the multi-backend"
- [x] does `riak_kv_multi_backend` support it, or does it assume some structure (e.g. binaries) for buckets.?
- [x] can it be configured via advanced.config?
- [x] can it be configured via riak.conf?
- [x] riak_test to cover this case?

[2014-03-25 20:57] jaredmorrow opened #880 "Allow for simple default case for creating bucket types"
Want:  Make a simple default case for create bucket types without the need for valid json

IMHO something like this:

[code]

should give me a bucket type of `bob` with all the defaults (eg: N=3, allow_mult=true, backend=bitcask, etc.)

Instead it does:

[code]

[2014-03-25 21:00] Vagabond commented on #880
It'd also be nice to have 'macros' for common bucket type configs, like ones for crdt-maps or strongly-consistant data.

[2014-03-25 21:09] jaredmorrow commented on #880
This is a duplicate of basho/riak#423

[2014-03-25 21:09] #880 closed, assigned to nobody

[2014-03-26 19:21] jrwest commented on #878
- verified typed buckets are properly handled by the multi-backend
- when opening this issue I forgot exactly how multi-backends sub-backends were applied to a bucket, so the configuration items can be ignored.
- we have support for testing w/ multi-backend in riak_test [1] but getting that into giddyup is more complicated than just configuring some tests to use a multi-backend config, because the

[2014-03-26 19:29] #878 closed, assigned to nobody

[2014-03-26 20:08] platbr commented on #655
I have the same bug... im wordering if you are using "{storage_backend, riak_cs_kv_multi_backend}" like me.

[2014-03-27 05:21] cipy opened #884 "feature request :: differential backups for small data"
Hi,

Customers would benefit from having a backup policy optimized for small data sets (i.e. configuration items, etc) which would help greatly in recovering from accidental changes made by human operators.

P.S. to some extent, a use-case similar to git

Thanks,

[2014-03-27 20:09] rzezeski commented on #779
Is this issue still open for a reason or did we just forget to close it?

[2014-03-28 15:35] russelldb commented on #634
In my opinion this is a "won't fix"

[2014-03-28 15:36] russelldb commented on #634
Can I get a word from prod management (@greg @michellep @jonmeredith.)? I'm minded to just close this "won't fix"

[2014-04-02 07:57] russelldb commented on #634
Engineering mumble agreed "won't fix" for 2.0-beta. Re-milestoning on 2.1 for now.

[2014-04-02 23:23] evanmcc commented on #391
this is already in place. this is guarded by a capability, so there isn't a setting to change.  verified via redbug.

[code]

[2014-04-02 23:23] #391 closed, assigned to nobody

[2014-04-07 17:40] jrwest opened #893 "fix validation error output in riak-admin bucket-type commands"
example speaks for itself I think but to clarify, its not user friendly or easily readable:

[code]

[2014-04-08 14:52] reiddraper commented on #877
Should this be 2.0-beta milestone?

[2014-04-09 23:22] lukebakken opened #895 "Synchronous writes and bitcask"
The bitcask backend should allow `sync` to be set when `io_mode` is NIF.

See basho/basho_docs#960 for some discussion. Since NIF mode bitcask opens a file using `open()` and the `O_SYNC` flag as opposed to `fcntl`, the check and warning no longer apply.

Once erlang/otp#137 ships with Riak `erlang` `io_mode` will support `sync` as well.

Also see `check_fcntl` here: https://github.com/basho/riak_

[2014-04-10 14:48] reiddraper opened #897 "riak_kv_multi_backend: extra_callback_test...*timed out*"
Is this happening to anyone else? On develop: 9f6f2183bde88f32cec6b6ac206ac6eacdb54e63. If so, I'll make a fix to increase the test timeout.

[2014-04-10 17:54] rzezeski commented on #779
@russelldb Was documentation added for (1) and was the (2) branch ever made? Should this issue still be open?

[2014-04-11 08:05] jtuple opened #900 "Make ring resizing work with riak_ensemble [JIRA: RIAK-1652]"
Currently, `riak_ensemble` does not support deleting ensembles -- only creating them. We should add support for deleting ensembles to `riak_ensemble`, as well as update `riak_kv_ensembles` and `riak_kv_ensemble_backend` to delete ensembles if the ring size shrinks. Without this change, a cluster using strong consistency will break if dynamic ring resizing is used to shrink the ring. On the other h

[2014-04-11 15:00] pooya opened #901 "Riak build is broken because of the lack of undefined callback function trusted/1 (behaviour 'riak_ensemble_backend')"
I was not sure if I should add it here or to the riak_ensemble repo.  But with commit
(https://github.com/basho/riak_ensemble/commit/812e0207909a267ca7c8b10619494d555536b7e5).
riak build is broken.  I saw the following error when I issued make rel in the clean riak repo. (erlan R16B02).

[2014-04-11 16:05] jonmeredith commented on #901
Thanks, we'll fix today.

[2014-04-11 16:52] jaredmorrow commented on #901
This is now fixed, sorry for the issues.

[2014-04-11 16:52] #901 closed, assigned to nobody

[2014-04-11 21:28] reiddraper opened #902 "riak_kv_entropy_info dialyzer error"
@Vagabond and I couldn't figure out how to fix this one, since there is domain expertise required:

[code]

[2014-04-11 22:24] kellymclaughlin commented on #902
Is the question you're trying to answer why is the second parameter to `handle_index_info` even needed since it is not used in either function clause?

[2014-04-14 14:54] reiddraper commented on #902
Oops, looks like I just misread the function arguments. I think I was seeing the second element of the _tuple_ instead of the second argument to the function.

[2014-04-14 16:05] reiddraper opened #903 "Violating vclock:dot opaque type"
`riak_object:is_drop_candidate/2` peeks inside of a `dot()`, and dialzyer complains about this:

[code]

Would it make sense for this function to just be moved into the vclock module?

[2014-04-14 16:06] russelldb commented on #903
I know :(

[2014-04-14 16:06] russelldb commented on #903
@reiddraper I don't think so, or I don't know, let me look into it. It was hack because riak is broken (two vclock entries can have the same {id, count} but a different timestamp) maybe we should fix that rather fundamental flaw, and leave this dialyzer bug as a open wound to remind us?

[2014-04-14 16:09] russelldb commented on #903
But yes, I think some refactoring, to get `vclock` to destructure the dot would be good. I'll do it.

[2014-04-14 16:19] cmeiklejohn commented on #897
[code]

[2014-04-14 18:37] reiddraper opened #905 "riak_kv_bitcask_backend dialyzer error"
[code]

[The code](https://github.com/basho/riak_kv/blob/bb6502bab9eb4bd82a82053b2693417ec7b549ee/src/riak_kv_bitcask_backend.erl#L614-L639) is a bit hairy, so I'd like some better review here than just one commit stuck inside a bunch of dialyzer fixes. cc @kellymclaughlin who I believe wrote the original code. It looks so me like these two pattern matches will just never match, and we've likely a

[2014-04-14 19:19] reiddraper commented on #897
Gonna try this on another box, not sure why, but for me, it times out nearly every time.

[2014-04-14 19:23] reiddraper commented on #897
@cmeiklejohn did you run the whole 'make test', or just this test? I'm only finding it time out when running the whole thing.

[2014-04-14 19:43] reiddraper opened #906 "riak_kv_pb_object test failure"
This only seems to happen when running all of `make test`, not just this suites.

[code]

Looks like to me like we're trying to start an app that probably should've been shut down by a previous test.

[2014-04-14 21:17] reiddraper commented on #902
Fixed in #904, if it gets merged.

[2014-04-15 08:23] cmeiklejohn commented on #897
I ran the entire suite.

[2014-04-15 15:37] reiddraper commented on #897
It runs fine on my Linux box, so most just be some strange environment issues. Something that would be nice to fix eventually, but not gonna hold anything up. Closing for now.

[2014-04-15 15:37] #897 closed, assigned to nobody

[2014-04-15 22:50] jtuple opened #908 "riak_kv_ensemble_backend syncing should check sibling peers"
As currently written, `riak_kv_ensemble_backend` only considers a sync to be valid if AAE has been performed with the list of peers that initially responded to the sync request. If one of those peers becomes partitioned / goes offline, then `riak_kv_ensemble_backend:wait_for_sync` will loop until that peer returns.

One approach would be to change `wait_for_sync` to accept syncing with any majorit

[2014-04-15 23:22] jtuple opened #909 "Make consistency trust configurable"
There should be configurable trust levels for consistent K/V data, or as I've called them in previous discussion levels of paranoia. Before `2.0.0beta1`, the `riak_kv_ensemble_backend` always trusted backend data. After `beta1`, the backend never trusts backend data. This should be user configurable.

This level of trust directly affects the availability properties of strongly consistent Riak.

Cu

[2014-04-16 11:07] russelldb commented on #903
Can't push to github, otherwise I'd push the fix to this.

[2014-04-16 15:43] reiddraper commented on #903
Closing now that #910 was merged.

[2014-04-16 15:43] #903 closed, assigned to russelldb

[2014-04-16 15:47] reiddraper commented on #902
#904 was merged, closing.

[2014-04-16 15:47] #902 closed, assigned to nobody

[2014-04-16 18:26] evanmcc opened #912 "put fsm can get a remote coordinator ack in any state and must be able to handle it."
In perf regression testing I was running into an issue on a node that has some sort of disk problem causing high latencies and iowait.  This was causing a scheduler collapse on the node, which was causing extremely long sidejob worker queues.

This new failure case is caused by the changes in https://github.com/basho/riak_kv/pull/627

The logic works something like this:
1. Long sidejob queues/col

[2014-04-17 14:20] alexmoore commented on #358
@charl That's because you didn't escape the quotes around `X-Riak-Deleted`.  This version should work:

[code]

[2014-04-17 14:21] charl commented on #358
@alexmoore thanks for the feedback.

Unfortunately I no longer use riak.

[2014-04-18 04:37] jrwest commented on #660
Using curl against `develop` I have been unable to reproduce. I'm going to go ahead and close this out. Please re-open if this comes up again or you find results to the contrary.

Default values before any operations:

[code]

Set `allow_mult=true`/`last_write_wins=false`:

[code]

set `allow_mult=false`/`last_write_wins=true` on the same bucket:

[code]

Also tried setting `allow_mult=false`/`las

[2014-04-18 04:37] #660 closed, assigned to jrwest

[2014-04-18 16:27] jrwest commented on #912
just for extra detail: this issue can cause the sibling generation described [here](https://github.com/basho/riak_kv/pull/627#issuecomment-24638378)

[2014-04-20 02:16] hazen opened #917 "No Permission to Delete Bucket Props if Security is Enabled"
If I send the below message to **riak-2.0.0beta1**, I get an internal server error:

[code]

I tested adding these two lines to `forbidden/2` in `src/riak_kv_wm_props.erl`

[code]

which seems to fix the problem for this test case.

[2014-04-20 04:06] hazen opened #918 "Deleting a Non-existent Key Fails over HTTP with Security On"
If I send the following request to `riak-2.0.0beta1`:

[code]

I get an internal server error:

[code]

If security is turned off, however, I get the expected **404** response.

[2014-04-20 20:27] wbrown opened #919 "beta1 build script does not allow for OTP R17"
I'd been using OTP R17 on some Basho's recommendation, and have seen improvement thanks to this.  However, the beta1 release does not include R17 in the allowed OTP distributions.

[code]

[2014-04-20 20:40] evanmcc commented on #919
If you'd like to use R17, just add '|17' to the regular expression.  There will be some additional compile errors that you'll need to resolve, and I _think_ that you may need to move to the latest rebar.

Proper support will be added some time after the 2.0 final release.

[2014-04-21 15:40] jonmeredith commented on #900
Any idea on how much work?  May have to punt on this post-2.0.

[2014-04-21 16:13] jonmeredith commented on #854
@slfritchie looks like maybe_throttle_build is being passed a non-binary object to me?  Perhaps here https://github.com/basho/riak_kv/blob/develop/src/riak_kv_index_hashtree.erl#L482

Maybe use erlang:external_size in `maybe_throttle_build``` if you can tolerate minor extra overhead for real binaries, or be more picky like https://github.com/basho/riak_kv/blob/develop/src/riak_kv_index_hashtree.er

[2014-04-21 17:17] reiddraper opened #921 "riak_kv_entropy_info dialyzer errors"
[code]

There were some domain-specific types I couldn't figure out here. These are also affecting several other modules, but I suspect that will be resolved once the errors are fixed here. I'm happy to help, but I also need someone with expertise in this module to take a look.

[2014-04-21 17:30] reiddraper opened #922 "riak_kv_gcounter dialyzer errors [JIRA: RIAK-2142]"
[code]

Some of these are pretty domain-specific, so I figured I'd file an issue for now. For example, I'm not sure what types should be integer() vs. pos_integer(), etc.

[2014-04-21 17:41] reiddraper commented on #921
Looks like most of this is best looked at by @jtuple or @rzezeski.

[2014-04-21 17:58] jrwest commented on #900
i vote punt. yokozuna doesn't support either.

[2014-04-21 20:34] rzezeski commented on #921
Assigning myself since I owe you some review.

[2014-04-21 20:37] reiddraper commented on #921
gratzi

[2014-04-21 20:37] reiddraper commented on #921
happy to pair on it too if you like

[2014-04-22 15:39] #779 closed, assigned to rzezeski

[2014-04-23 08:56] slfritchie commented on #854
@jonmeredith Yes, but then there's the question of why is a non-binary object occasionally given to a function that is supposed(*) to be handling binaries only?

(*) Or so says my bad memory.  My head is still in Bitcask Land(™), so I haven't had time to review this bug further.

[2014-04-24 16:58] russelldb opened #927 "`riak_kv_wm_props:erlify_bucket_props` will fail for custom bucket props"
See https://github.com/basho/riak/issues/537 for initial report. Creating (somehow??) a property of `r_val` and then trying to change it via http fails as `r_val` is not an existing atom.

[2014-04-24 20:31] reiddraper opened #928 "riak_kv_eleveldb_backend fails intermittently"
I've only been able to reproduce this with a `make test`, and on a [builder doing that same](http://buildbot.bos1/builders/test-riak_kv/builds/1315/steps/shell_3/logs/stdio). The error is:

[code]

And the full output (including shrunk test) is in [the logs](http://buildbot.bos1/builders/test-riak_kv/builds/1315/steps/shell_3/logs/stdio). I've run the test by itself for 30 minutes, with no sign of

[2014-04-24 21:30] reiddraper opened #929 "application already started pattern match bug"
Since we turned on EQC for the builders, Riak KV has not been passing eunit. With `make test`, we get the following error:

[code]

Sometimes it fails on other modules too, like `riak_kv_pb_object`. You can [see the full logs](http://buildbot.bos1/builders/test-riak_kv/builds/1315/steps/shell_3/logs/stdio). I've only been able to reproduce this:
1. With EQC installed
2. With a full `make test`. Ru

[2014-04-24 21:36] reiddraper commented on #928
This is a similar failure to basho/eleveldb#61.

[2014-04-28 16:53] vinoski commented on #929
Pretty sure the unexpected `{error, …}` value originates here: https://github.com/erlang/otp/blob/maint/lib/stdlib/src/supervisor.erl#L693, so your patch is definitely needed.

Just a guess, but maybe the error moves with the patch in place because previously-started children haven't quite fully shutdown and/or unregistered their names yet, and then a new test tries to start them up again in the `

[2014-04-28 17:43] vinoski commented on #929
Looks like the handling of `already_started` is incomplete in these `riak_core` modules:

https://github.com/basho/riak_core/blob/develop/src/riak_core_stat_calc_sup.erl#L40
https://github.com/basho/riak_core/blob/develop/src/riak_core_stats_sup.erl#L39
https://github.com/basho/riak_core/blob/develop/src/riak_core_vnode_proxy_sup.erl#L40

[2014-04-28 18:42] vinoski commented on #929
The `{error, {{already_started, Pid},{child,…}}}` return value from `supervisor:start_child/2` occurs when an attempt is made to start a child using a childspec providing a child id that hasn't yet been started and an MFA that starts a process that tries to register itself using a name that's already been registered.

[2014-04-28 19:59] vinoski commented on #929
Given the previous comment, @reiddraper and I agreed that the three supervisor modules listed above need not change after all, since treating that variant of `already_started` as not being an error would be incorrect.

[2014-04-29 14:47] glickbot opened #930 "incorrect return code for riak-admin bucket-type status"
riak-admin bucket-type status <created bucket> ( successful ) returns a non-zero (failure) exit code, and the same command on a non-existent bucket returns a zero exit code.

riak_kv_console:bucket_type_status/1 actually returns [ok,ok,ok... ] on success, which gets treated like an error in nodetool, thus a halt(1). Undefined is caught and 'ok' is returned, thus the zero exit code from riak-admin.

[2014-05-05 16:19] coderoshi commented on #858
This is duplicated in #859

[2014-05-05 16:19] #858 closed, assigned to nobody

[2014-05-06 17:18] lordnull commented on #791
Mutators were bumped, so closing this issue for now.

[2014-05-06 17:18] #791 closed, assigned to lordnull

[2014-05-09 17:39] joedevivo opened #934 "rpc:call try/catch rex"
[code]

[2014-05-09 17:48] reiddraper commented on #934
I'm grabbing this.

[2014-05-09 20:26] #929 closed, assigned to nobody

[2014-05-10 14:19] vinoski opened #936 "get_put_monitor_eqc test failure"
On a slow smp:2:2 Fedora buildbot box, the `get_put_monitor_eqc` test fails reliably with this error:

[code]

[2014-05-10 14:24] vinoski opened #937 "eleveldb backend test failure"
On a slow smp:2:2 Fedora buildbot box, the `riak_kv_eleveldb_backend` test fails reliably with this error:

[code]

[2014-05-10 19:48] #936 closed, assigned to vinoski

[2014-05-12 16:00] #937 closed, assigned to vinoski

[2014-05-12 16:14] reiddraper commented on #928
Fixed in basho/eleveldb#113.

[2014-05-12 16:14] #928 closed, assigned to nobody

[2014-05-12 16:17] reiddraper commented on #922
Any takers here? @russelldb? If not, I vote we move to 2.1 milestone, as we're already ignoring all the current dialyzer warnings.

[2014-05-12 16:19] reiddraper commented on #917
Any updates on this? @javajolt @Vagabond @macintux?

[2014-05-12 16:21] reiddraper commented on #912
What's the status here? @evanmcc @jrwest?

[2014-05-12 16:22] reiddraper commented on #909
@jtuple is this still a 2.0-RC task?

[2014-05-12 16:23] reiddraper commented on #908
Is this still a 2.0-RC task?

[2014-05-12 16:23] evanmcc commented on #912
has been reviewed, @slfritchie's patch addresses this, but I don't think it's merged.

[2014-05-12 16:23] #912 closed, assigned to nobody

[2014-05-12 16:23] reiddraper commented on #906
Fixed in #932.

[2014-05-12 16:23] #906 closed, assigned to nobody

[2014-05-12 16:24] reiddraper commented on #398
Is this a 2.0 blocker? @seancribbs, @russelldb?

[2014-05-12 16:26] reiddraper commented on #630
Moving to 2.1 milestone.

[2014-05-12 16:26] reiddraper commented on #683
#693, which references this is on the 2.1 milestone. @engelsanchez @evanmcc, can this issue be moved to 2.1 as well?

[2014-05-12 16:27] reiddraper commented on #713
@evanmcc @jtuple @andrewjstone is this a 2.0 blocker?

[2014-05-12 16:27] reiddraper commented on #717
I'm moving this to 2.1. Please speak up @engelsanchez @evanmcc, if this is an issue.

[2014-05-12 16:29] evanmcc commented on #683
This will be handled by #693, yes.  I've changed the milestone.

[2014-05-12 16:30] evanmcc commented on #717
I have a patch against this already, we should shoehorn it into the RC if
at all possible.  Just need to test it and forward-port from 1.4.

On Mon, May 12, 2014 at 9:27 AM, Reid Draper notifications@github.comwrote:

[2014-05-12 17:05] seancribbs commented on #922
@reiddraper I vote for 2.0.1

[2014-05-12 17:07] seancribbs commented on #398
@reiddraper No, but I'll be hitting some minor client-related nuisances and bugs this week. This is a small thing to fix.

[2014-05-12 17:12] reiddraper commented on #398
No doubt, but we have a ton of 'small things to fix' for 2.0. Gotta draw the line somewhere. It's fine if this is inside the 2.0 line, but I want to think critically about what makes it in.

[2014-05-12 17:13] reiddraper commented on #922
Thanks @seancribbs. I've moved to 2.0.1.

[2014-05-12 17:13] reiddraper commented on #683
Thanks @evanmcc.

[2014-05-12 17:16] reiddraper commented on #912
@evanmcc great. I just told borshop to merge #913. I'll close this once it's all merged in. Thanks.

[2014-05-12 17:28] reiddraper commented on #912
#913 has merged. Closing.

[2014-05-12 17:31] reiddraper commented on #717
@evanmcc can you go ahead and make a PR for the backport?

[2014-05-12 17:31] reiddraper commented on #717
Moving back to RC milestone.

[2014-05-12 18:24] reiddraper commented on #927
Moving to 2.1 milestone. Speak up if there are any objections, please.

[2014-05-12 18:25] reiddraper commented on #311
Moving to 2.1 milestone. Speak up if there are any objections, please.

[2014-05-12 18:25] reiddraper commented on #403
Moving to 2.1 milestone. Speak up if there are any objections, please.

[2014-05-12 18:25] reiddraper commented on #452
Moving to 2.1 milestone. Speak up if there are any objections, please.

[2014-05-12 18:26] reiddraper commented on #619
Moving to 2.1 milestone. Speak up if there are any objections, please.

[2014-05-12 18:26] reiddraper commented on #749
Is this still an issue? @rzezeski?

[2014-05-12 18:28] reiddraper commented on #918
This sounds like a pretty impactful issue to me. I'm assigning to 2.0-RC. Please speak up if you disagree.

[2014-05-12 18:28] reiddraper commented on #895
Moving to 2.1 milestone. Speak up if there are any objections, please.

[2014-05-12 18:28] reiddraper commented on #884
Moving to 2.1 milestone. Speak up if there are any objections, please.

[2014-05-12 18:29] reiddraper commented on #864
Is this still an open issue? Moving to 2.1 milestone. Speak up if there are any objections, please.

[2014-05-12 18:42] rzezeski commented on #749
@reiddraper Well, Yokozuna is still not in rebar.config but I haven't seen others complain of build/test issues.  Yes, the cyclic dependency needs to be fixed at some point but I don't see what blocking issue it is causing.  To be correct it should be listed but it doesn't seem to be hurting anything {shrug}.

[2014-05-12 18:46] reiddraper commented on #749
OK I'll keep this issue open, but have moved the milestone to 2.1.

[2014-05-12 20:17] seancribbs commented on #398
I'm not incredibly married to either decision, I was only basing this on my capacity. Let's bump to 2.0.1 or 2.1.

[2014-05-12 20:32] reiddraper commented on #398
Thanks @seancribbs. Moved to 2.0.1.

[2014-05-12 20:46] jtuple commented on #900
Punted to 2.1

[2014-05-12 20:55] jtuple commented on #908
Yes. Everything on [this list](https://github.com/basho/riak/issues/536) is still a 2.0 RC task.

[2014-05-12 20:55] jtuple commented on #909
Yes. Everything on [this list](https://github.com/basho/riak/issues/536) is still a 2.0 RC task.

[2014-05-12 20:59] jtuple commented on #713
This seems like a 2.0 blocker, and is easy to fix. Assigning to 2.0 RC for now, will decide to punt later if we decide it's a non-issue / run out of time.

/cc basho/riak#536

[2014-05-12 21:26] engelsanchez commented on #865
The stack trace shows that the problem is the object in question has siblings, which are not handled by the map_object_value function. That's the real reason behind the crash, not the 2i tags.

[code]

[2014-05-12 21:32] engelsanchez commented on #865
I'm moving this issue out of the 2.0 RC milestone, as it seems the MR functions have always had this limitation.

[2014-05-12 21:40] engelsanchez commented on #744
@reiddraper @jonmeredith it would be nice to have a better error code for that failure, but is this really an RC blocker?

[2014-05-12 21:45] engelsanchez commented on #798
It would be nice to handle this field not being set properly, but the workaround is to set it like current clients do.  @jonmeredith Does this need to be in the RC milestone?

[2014-05-12 21:50] engelsanchez commented on #768
@jonmeredith It would be nice to clean that up, but is this an RC blocker?

[2014-05-12 21:54] engelsanchez commented on #905
This old migration code is being removed completely here: https://github.com/basho/riak_kv/pull/925.  I will close this and dialyzer problems can be handled on that PR. Re-open if you disagree Reid.

[2014-05-12 21:54] #905 closed, assigned to nobody

[2014-05-12 21:56] reiddraper commented on #905
+1, thanks @engelsanchez

[2014-05-12 21:57] reiddraper commented on #744
I'd vote 2.0.1 or 2.1.

[2014-05-12 22:52] jonmeredith commented on #768
Given all else we have to do, it's not an RC blocker.  Moved to 2.1.

[2014-05-12 22:53] jonmeredith commented on #744
I'll vote for 2.1 (and move it)

[2014-05-12 23:28] engelsanchez commented on #798
Moving to 2.1, A.K.A. "The big hunking pile of tech debt" milestone then. Scream if you disagree.

[2014-05-13 00:08] engelsanchez commented on #854
Well I'll be... I've been reviewing the code and I can not see how a non-binary could be passed to this function.  @jonmeredith hash_object is that way because different paths in riak_kv_vnode that call update_hashtree may have the binary or the object available (handoff vs. regular puts, etc).  But this function should be used for a backend fold.

[2014-05-13 21:50] kellymclaughlin commented on #875
I'll take this. It seems like an obvious case to add to the riak_test to verify so I'll do that in tandem.

[2014-05-13 22:36] kellymclaughlin opened #944 "Investigate and resolve nondeterministic failure of get_put_monitor_eqc [JIRA: RIAK-1768]"
The test property has been commented out for now, but the cause of the failure should be further investigated and resolved before 2.0.

Here is a sample of the type of failures that occur:

[code]

[2014-05-14 01:11] reiddraper commented on #944
Assigning to myself.

[2014-05-14 20:37] #930 closed, assigned to nobody

[2014-05-14 22:23] reiddraper opened #948 "Forward-port #940 to 2.0"
@evanmcc let me know if I'm misunderstanding. I created this to put something on the 2.0 milestone, so #940 can remain on the 1.4.9 milestone.

[2014-05-15 01:19] randysecrist commented on #900
What are the implications of the break?  How will this impact customers who grow and shrink clusters on a regular basis?

[2014-05-15 15:21] reiddraper commented on #900
@randysecrist

This doesn't affecting shrinking and growing a cluster by adding/removing nodes. Just changing ring size, which is still an experimental feature, afaik.

[2014-05-15 15:23] reiddraper opened #949 "put_fsm_eqc occasionally fails [JIRA: RIAK-1767]"
[code]

[2014-05-19 14:38] reiddraper commented on #948
@evanmcc did you say this ended up not being needed?

[2014-05-19 16:07] reiddraper commented on #934
I've gone through all of these (by visual inspection) and haven't found any that I can see would be retried by a supervisor (and thus could crash the node). But this is an important-enough issue it might be worth having a second-reviewer? If so, I recommend starting at the RPC calls and then tracing them up the call stack by seeing where each RPC-containing function is called.

[2014-05-19 16:17] reiddraper commented on #717
Can this be closed now in favor of #940?

[2014-05-19 16:20] evanmcc commented on #948
No, it still needs to go in.  I started poking at getting 1.4 compiling
cleanly again and then the world exploded.  I'll get it in and tested this
week.

[2014-05-19 16:40] reiddraper commented on #948
Cool, thanks.

[2014-05-19 18:51] reiddraper commented on #921
Closing since #924 is merged.

[2014-05-19 18:51] #921 closed, assigned to rzezeski

[2014-05-19 18:52] reiddraper commented on #918
@macintux any chance you can take a look at this? If not, I can take a stab.

[2014-05-19 18:53] reiddraper commented on #917
@macintux any chance you can take a look at this? If not, I can take a stab.

[2014-05-19 18:54] reiddraper commented on #893
Anyone working on this?

[2014-05-19 19:10] macintux commented on #917
@bowrocker and I are going to look at it this week

[2014-05-19 19:11] macintux commented on #918
Thanks for bringing it to my attention. Will look at it this week also. @bowrocker ping

[2014-05-19 19:33] reiddraper commented on #917
Thanks. Don't hesitate to ping me for help or review.

[2014-05-19 19:34] reiddraper commented on #918
Thanks. Don't hesitate to ping me for help or review.

[2014-05-20 15:14] macintux commented on #917
I'm comfortable that @javajolt's fix is the correct one, but I'm digging around looking for similar gaps and thinking about the problem of permission discovery.

[2014-05-20 15:23] seancribbs commented on #917
@macintux I agree, his solution looks correct and jives with the [PB version](https://github.com/basho/riak_api/blob/develop/src/riak_core_pb_bucket.erl#L68-L71).

[2014-05-20 15:25] joedevivo commented on #934
I see these broken up into three categories:
1. Local Client: Local client stuff isn't relevant, because the `rpc:call`s are all to `node()`, which under the hood in `rpc:call` isn't even an RPC because it knows you're on the local node, so no possibility of Rexception.
2. Legacy Backup: It's legacy, moving on.
3. Entropy Exchange: There's only one call here, and it's in the `riak_kv_exchage_fsm`.

[2014-05-20 17:24] bowrocker commented on #918
The problem appears to be the lack of handling for "riak_kv.delete" in the security-enabled clause of riak_kv_wm_object:forbidden/2:

https://github.com/basho/riak_kv/blob/develop/src/riak_kv_wm_object.erl#L268

No call to forbidden_check_doc, which tries to 404 early if the resource is not available, is done for deletes.

Testing the fix now...

[2014-05-21 00:55] #934 closed, assigned to reiddraper

[2014-05-22 18:28] jburwell opened #954 "Move riak_kv_buckets_fsm:maybe_bucket_type_exists/3 to core [JIRA: RIAK-1766]"
To minimize the impact of changes for #875, the maybe_bucket_type_exists/3 function was defined in riak_kv_buckets_fsm.  However, it is intended to be more general purpose and encapsulate the logic to act on existence of a bucket type.  Therefore, the intention is to move it to riak_core_bucket_type module for broader use across the code base.

[2014-05-22 22:10] bowrocker commented on #917
https://github.com/basho/riak_kv/pull/952 merged, closing.

[2014-05-22 22:10] #917 closed, assigned to nobody

[2014-05-22 22:10] bowrocker commented on #918
https://github.com/basho/riak_kv/pull/952 merged, closing.

[2014-05-22 22:10] #918 closed, assigned to nobody

[2014-05-22 23:36] hazen commented on #917
@bowrocker :thumbsup:

[2014-05-23 12:26] jburwell commented on #875
Implemented a fix and associated riak_tests.  During the course of testing, discovered that listing buckets for an undefined bucket type was also not operating as expected.  The following are the fix PRs:
- riak_core PR: https://github.com/basho/riak_core/pull/594
- riak-kv PR: https://github.com/basho/riak_kv/pull/958
- riak-test PR: https://github.com/basho/riak_test/pull/616

[2014-05-23 16:37] reiddraper commented on #954
Is this 2.0 work? We should apply the 2.0-RC milestone, if so.

[2014-05-23 19:49] macintux commented on #750
@jrwest Propose moving this out of the RC milestone; concerns?

[2014-05-23 19:50] macintux commented on #893
I wrote similar error message cleanup code for `riak_core_console` IIRC; I'll take a look.

Here are the changes I applied to core; will take the same approach here.

https://github.com/basho/riak_core/pull/546/files

[2014-05-27 00:09] jrwest commented on #750
I don't see it as a blocker for RC but if someone gets around to it, it wouldn't hurt either.

[2014-05-27 17:31] macintux commented on #893
Digging through code looking for error tuples. I have no confidence that this is a comprehensive list, and it's possible to define additional validators in the Riak configuration, so the solution will have to be flexible with what it accepts.

[code]

[2014-05-27 17:38] jrwest commented on #893
all of the tuples should live in one of the registered bucket validtors + `riak_core_bucket_props`. I agree we need a general sol'n either way -- if someone adds a tuple but doesn't change the output, things should not break.

I think it would be fine to have something like:

[code]

[2014-05-27 17:40] macintux commented on #893
Yeah, that's pretty much what I defined for security errors.

[2014-05-27 22:11] engelsanchez commented on #846
It sounds like we should lower the default timeout at this point like @jtuple says and postpone any bigger changes for later, right?

[2014-05-28 15:36] sargun opened #959 "Consistent Riak (riak_kv_ensemble_backend) fails to start if AAE is disabled"
So, I noticed that if I don't have anti-entropy on, and I enable strongly consistent Riak, it doesn't work. Specifically, what happens is that riak_kv_ensembles sets up the ensembles, but the riak_ensemble_peer never gets past to all_sync state. It appears that this is because the riak_kv_ensemble_backend relies on anti-entropy to perform an exchange before it comes up. See here:

[code]

(I uncom

[2014-05-29 15:10] engelsanchez opened #960 "List keys using unicode bucket type+name fails on Bitcask"
Running the bucket_types riak_test using the bitcask backend results in a failure on line https://github.com/basho/riak_test/blob/a07018cb4cb76dacd3f0c8ac07185439a542e7c9/tests/bucket_types.erl#L149.  The list keys operation returns an empty list instead of the expected single <<"key">>. This test runs fine using LevelDB as the backend, which is what we do in GiddyUp.

[2014-05-29 15:23] engelsanchez commented on #960
Scratch that. It seems to happen intermittently on either backend.

[2014-05-29 19:59] kellymclaughlin commented on #717
seems to be a duplicate of #940. close ping.

[2014-05-29 20:02] reiddraper commented on #944
Moving to the 2.1 milestone, as we're no worse of without this than we were before.

[2014-05-29 20:20] evanmcc commented on #717
The 2.0 version isn't entirely straightforward.  I am working on getting a PR and an integration test together.  I'll close this one when the PRs open.  That should be today or tomorrow, but we've never really had any tests for the memory backend, so it's taking a bit.

[2014-05-29 22:38] kellymclaughlin commented on #954
Gonna push this to the 2.1 milestone

[2014-05-29 22:39] kellymclaughlin commented on #872
Can we make this a 2.0.1 issue? Seems like a good candidate to me.

[2014-05-30 17:43] engelsanchez commented on #960
BTW, I am currently looking at this issue.

[2014-05-30 17:52] russelldb commented on #750
Given today's discussion think we should bump this to 2.0.1 or 2.1, ok?

[2014-05-30 18:03] jrwest commented on #750
fine by me

[2014-05-30 18:22] jrwest opened #961 "ensure background manager integration points are off by default"
integrated w/ AAE here: https://github.com/basho/riak_kv/blob/develop/src/riak_kv_index_hashtree.erl#L900-L931

integrated w/ handoff here: https://github.com/basho/riak_kv/blob/develop/src/riak_kv_vnode.erl#L937-L944

[2014-05-30 18:23] jrwest opened #962 "make background mgr integration solid enough to turn on by default [JIRA: RIAK-1765]"
see https://github.com/basho/riak_kv/issues/961 for integration points

[2014-05-30 21:34] evanmcc commented on #717
Sorry, this is taking me much longer than I anticipated.  It covers quite a lot of ground, because the memory backend has to be tested in a number of configurations, then retested under the multi backend.  That is mostly working, but I am experiencing some non-deterministic failures due to the occasional long leave and a stubborn weird miscalculation of something that should be static.  The last o

[2014-06-02 14:45] engelsanchez commented on #960
After some debugging, it turns out the root cause is a race between activation of a bucket type and putting a value into a bucket under it. Just like https://github.com/basho/riak_kv/issues/872.  In here, one of the 3 vnodes gets an {error, no_type} when trying to fetch the bucket properties on a put and fails to write.  Since the test reads the value before folding, read repair + the random cover

[2014-06-02 14:46] engelsanchez commented on #960
BTW, if #872 is moved out of the 2.0RC milestone, so should this issue.

[2014-06-02 19:49] jburwell opened #965 "Push bucket type existence checks down into FSMs [JIRA: RIAK-1764]"
Currently, bucket type definition is being checked at the client boundary, riak_kv_pb_bucket, rather than in the FSMs that actually operate on the bucket type.  We elected to implement the checks in this manner due to the proximity of the 2.0 RC date and the depth of the changes involved.  This ticket proposes to re-evaluate that approach, including evaluating pushing other validation operations d

[2014-06-02 19:59] rzezeski opened #967 "riak_kv_crdt:from_map is broken for map"
Recently this failure occurred in Yokozuna eunit with no changes made to Yokozuna code:

[code]

I reproduced on my local workstation and added a print out of the #crdt record that was causing the failure:

[code]

Notice the value for mod is `riak_dt_map`.  If you look at the implementation for `riak_kv_crdt:from_mod/1` you'll notice it uses `?MOD_MAP` which expects `map` as the key.  I think a b

[2014-06-02 20:03] jburwell commented on #875
Solution proposed by @kellymclaughlin to reduce risk to the 2.0 risk has been submitted in the following PRs:
- riak_kv: https://github.com/basho/riak_kv/pull/970
- riak_test: https://github.com/basho/riak_test/pull/627

I have also opened [riak_kv ticket 965](https://github.com/basho/riak_kv/issues/965) to consider pushing these checks down into the associated FSMs during the 2.1 cycle.

[2014-06-02 20:28] jburwell commented on #959
Working up a test case to reproduce.

[2014-06-02 20:31] sargun commented on #959
Turn off aae, and try to start riak_kv, with strong consistency on. Then look at riak ensembles, and they will never reach quorum.

[2014-06-02 21:04] coderoshi commented on #967
This looks to be popping up in other tests, including the Ruby client:

[code]

http://doorman.jtuple.com:8081/builders/ruby-client-test/builds/2/steps/make%20test/logs/stdio

[2014-06-02 21:49] #961 closed, assigned to jrwest

[2014-06-02 21:49] russelldb commented on #967
I'll take this. My guess is the @rzezeski issue is because the new `riak_kv_crdt:mod_map/1` should be used, rather than `?MOD_MAP`. I know that `map` is the key, but we use `lists:keyfind(Mod, 2, ?MOD_MAP)`, as a reverse look up from mod to type. I guess it is the new embedded counter that is the issue. that `riak_dt_pncounter` gives it away, we don't embed those anymore.

I'm pretty sure @coderos

[2014-06-02 21:53] seancribbs commented on #967
@coderoshi I think that's unrelated, similar tests in other clients don't barf on beta5.

[2014-06-02 22:06] bkerley commented on #967
The ruby client has never used `add`; that's not the problem here:

[code]

![writing "hello" to a register inside a map"](https://www.evernote.com/shard/s148/sh/4f28b532-153e-4eae-b26d-0e95709d8d44/207922ff124c63e448f8a926bdb9c77c/deep/0/crdt_operator.rb---riak-ruby-client------Documents-riak-ruby-client-.png)

[2014-06-03 06:05] slfritchie commented on #960
If the propagation of bucket type info is an eventual thing, then this kind of race is going to happen.  So we ought to do something sane when the race does happen.  So, we should fall back to untyped(*) defaults, right?

(*) Where the "type" in "untyped" means bucket types.

[2014-06-03 06:06] slfritchie commented on #872
Hrm, I'll repeat my question here for the wider audienc.e

If the propagation of bucket type info is an eventual thing, then this kind of race is going to happen. So we ought to do something sane when the race does happen. So, we should fall back to untyped(*) defaults, right?

(*) Where the "type" in "untyped" means bucket types.

[2014-06-03 06:54] russelldb commented on #967
But does it use PB? Have you updated the .proto file? It's changed since `add` is dropped. @bkerley ping me when you get on and teach me how to ruby so I can run these tests, please?

[2014-06-03 12:46] russelldb commented on #967
@coderoshi please open a new issue for the ruby test.

[2014-06-03 14:20] jrwest commented on #960
yes it is asynchronous, see: https://github.com/basho/riak_core/blob/develop/src/riak_core_bucket_type.erl#L34-L43

[2014-06-03 14:23] jrwest commented on #872
here I will give the same answer: yes, handling `no_type` is required. see https://github.com/basho/riak_core/blob/develop/src/riak_core_bucket_type.erl#L34-L43

[2014-06-03 15:24] bkerley commented on #967
Ah, I didn't know about the other changes besides not using `add`. The PB stuff in Ruby has been updated: https://github.com/basho/riak-ruby-client/commit/3af5d7f9cb3e5f55649470c2062748db7fe76f58

[2014-06-03 15:25] russelldb commented on #967
https://github.com/basho/riak-ruby-client/commit/3af5d7f9cb3e5f55649470c2062748db7fe76f58 addresses the ruby client issues so no need for a new issue @coderoshi. Thanks @bkerley. Closing in 3…2…1…

[2014-06-03 15:25] #967 closed, assigned to russelldb

[2014-06-03 16:18] bsparrow435 opened #969 "The AAE throttle should be disabled along with AAE"
It is confusing to customers not using AAE to see the AAE vnode throttle messages. It would be better to disable the throttle by default when AAE is set to `off`.

Also, the `set_aae_throttle_kill` function name is confusing. It would be better to call this toggling function `enable_aae_throttle`.

[2014-06-03 19:43] engelsanchez commented on #960
I'm going to close this issue now since the handling of bucket types before they are ready can continue in #872 and making Riak tests more robust to this race is taken care of in basho/riak_test#630

[2014-06-03 19:43] #960 closed, assigned to nobody

[2014-06-03 20:32] kellymclaughlin commented on #872
Relevant r_t PR: https://github.com/basho/riak_test/pull/630

[2014-06-03 22:11] engelsanchez commented on #872
@jrwest: so just like @rzezeski is saying, it is not the race with bucket type creation and activation that we are seeing here. We have been looking at this while trying Kelly's PR.  When a new node joins, sometimes handoff starts before the cluster metadata has propagated, so the handoff object puts get  {error, no_type}.  The code should check for that, but it is letting it through as bucket pro

[2014-06-03 22:17] jrwest commented on #872
that is the exact same race condition....see the link above. specifically: "the following invariant must be satisfied: all nodes in the cluster either see no type or a single version of the type"**. This goes for new nodes as well. Initially, the node doesn't see the type, then metadata propagates and the the authoritative version of the type is seen.

*\* "single version" is probably poor wording

[2014-06-03 22:21] kellymclaughlin commented on #872
Looking through the code, the changes required just the make the error message more user friendly when this does occur seem to be more involved than this is worth at this time. I'm again proposing we punt this out to 2.0.1.

[2014-06-03 22:52] #875 closed, assigned to kellymclaughlin

[2014-06-03 22:56] kellymclaughlin commented on #717
Looks like we're merged up, closing this out.

[2014-06-03 22:56] #717 closed, assigned to evanmcc

[2014-06-03 22:57] kellymclaughlin commented on #948
#963 is merged, closing

[2014-06-03 22:57] #948 closed, assigned to nobody

[2014-06-04 07:30] russelldb commented on #859
Are you using Yokozuna aka Riak Search Two.Oh?

[2014-06-04 08:03] russelldb commented on #859
Also, can you retry with the latest beta of Riak, if possible?

[2014-06-04 08:42] russelldb commented on #859
Also, the contents of one of said files may help us to pin it down, if you can. If you're worried about privacy feel free to email me.

[2014-06-04 11:21] russelldb commented on #872
In the milestones tool this is "unassigned." Any of you want to claim this?

[2014-06-04 14:31] engelsanchez commented on #854
@russelldb I noticed you took this item. During the triage with Kelly and Michelle, I believe we agreed to move this out of the milestone as not reproducible.  If it pops up again in current code, we can open a new issue.

[2014-06-04 14:44] engelsanchez commented on #859
@russelldb @kellymclaughlin @michellep I believe we can also push this off the RC list or close until we get a new report or reproduce.

[2014-06-04 15:08] kellymclaughlin commented on #872
Moving to 2.0.1 #blamemeifinappropriate

[2014-06-04 15:14] reiddraper commented on #859
+1 for moving

[2014-06-04 15:17] wbrown commented on #859
I'd love to help y'all with that -- I've only caught it once or twice using `lsof` -- but as they are transient files, they disappear pretty quickly.  I'm not sure how I can capture the file without running a debugger that traps remove file attempts, or maybe a sys trace logger.

Net effect of these writes is that I now have a dead USB stick, part of why I've been relatively inactive -- i haven't

[2014-06-04 15:20] reiddraper commented on #859
@rzezeski can you take a look at this today and see if the files names look Yoko-familiar?

[2014-06-04 15:26] rzezeski commented on #859
@reiddraper Nothing comes to mind for me.  I'm just as baffled as everyone else.

[2014-06-04 15:27] russelldb commented on #854
So can we change the milestone, please?

[2014-06-04 15:28] wbrown commented on #859
Then, I'll spend time in the near future to attempt to reproduce this with strace and a debugger.  I'd prefer not to lose more USB sticks to this. :)

On Jun 4, 2014, at 11:26 AM, Ryan Zezeski notifications@github.com wrote:

[2014-06-04 15:29] jonmeredith commented on #859
Do you have any of the files left around @wbrown so we can see if it's
anything we create?

On Wed, Jun 4, 2014 at 4:28 PM, wbrown notifications@github.com wrote:

##

Jon Meredith
VP, Engineering
Basho Technologies, Inc.
jmeredith@basho.com

[2014-06-04 15:31] rzezeski commented on #859
@jonmeredith He already mentioned that the files are transient.

https://github.com/basho/riak_kv/issues/859#issuecomment-36470218

[2014-06-04 15:32] wbrown commented on #859
Nope, as they are transient files created and then removed in an eyeblink.

One hint is that they are created in whatever `cwd` Riak is invoked from.  As I invoke it from `/opt/riak`, it'll create the files in `/opt/riak`

I'm OK with this moved to another milestone, really -- I'm just offering to help out if it will help us get a resolution to this.  I can work around this by making /opt/riak a r

[2014-06-04 15:38] reiddraper commented on #859
This does not feel like a 2.0 blocker to me, particularly since running Riak from a USB stick is not going to be the common-case. That being said, let's continue to work with @wbrown in tracking down the root cause.

[2014-06-04 15:39] rzezeski commented on #859
@wbrown Recently I found that the Jetty temp directory was not being set correctly (https://github.com/basho/yokozuna/pull/396).  I moved it to point to /lib/yokozuna/priv/solr (perhaps still inappropriate) but it was pointing to the CWD of Riak.  Perhaps this is a Jetty/Solr temporary file.  I have no reason to believe it is given the limited information but something worth noting.  I'll perform

[2014-06-04 15:47] engelsanchez commented on #854
Moved from RC -> 2.0.1.   @wbrown we are definitely interested in a reproducible case. Ping if you think you have one.

[2014-06-04 15:48] russelldb commented on #859
OK, I vote: leave issue open, re-milestone for 2.1. Can I get a witness?

[2014-06-04 15:49] #893 closed, assigned to macintux

[2014-06-04 15:55] jonmeredith commented on #859
We can move it.  I suspect it is Riak though... It does seem awfully
erlang:now()ish in that filename

[code]

Filed on 2nd March...

On Wed, Jun 4, 2014 at 4:48 PM, Russell Brown notifications@github.com
wrote:

##

Jon Meredith
VP, Engineering
Basho Technologies, Inc.
jmeredith@basho.com

[2014-06-04 15:57] engelsanchez commented on #846
@jtuple I will push a PR to lower and make the time configurable unless you have taken care of this already.

[2014-06-04 15:59] jonmeredith commented on #859
Files are being created by file_sorter.

On Wed, Jun 4, 2014 at 4:55 PM, Jon Meredith jmeredith@basho.com wrote:

##

Jon Meredith
VP, Engineering
Basho Technologies, Inc.
jmeredith@basho.com

[2014-06-04 15:59] rzezeski commented on #859
I grep'd Jetty, Lucene/Solr, and Riak (all deps) code for `fs_`.  I found nothing in Jetty or Lucene/Solr.  Lots of matches in Riak but not one of them looked related to creating temporary files.

[2014-06-04 16:01] jonmeredith commented on #859
Need to add {tmpdir, TmpDir} to options in

to options in
https://github.com/basho/riak_kv/blob/develop/src/riak_kv_exchange_fsm.erl#L397

On Wed, Jun 4, 2014 at 4:59 PM, Ryan Zezeski notifications@github.com
wrote:

##

Jon Meredith
VP, Engineering
Basho Technologies, Inc.
jmeredith@basho.com

[2014-06-04 16:04] rzezeski commented on #859
For those not privy to Erlang:

http://www.erlang.org/doc/man/file_sorter.html

[code]

[2014-06-04 16:15] engelsanchez commented on #846
Interesting side note: riak_kv_exchange_fsm has the same FSM timeout problem that you helped me figure out with 2i AAE. It uses the FSM timeout mechanism, but if you hit handle_info with any message the timeout disappears and it may sit there in the prepare_exchange state for ever I believe.

[2014-06-04 18:04] engelsanchez commented on #846
@jtuple if you have a minute could you glance at the little change in #971 and see if that looks good for now.

[2014-06-04 18:04] jburwell commented on #959
@sargun you are correct -- this behavior is as designed.  When AAE is disabled and strong consistency is enabled, strongly consistent operations will not work because ensembles will never gain quorum.  However, non-consistent operations will continue to work.  We plan to add a log, as well as, riak admin warning regarding the inconsistent configuration.

cc @jtuple

[2014-06-04 19:30] sargun commented on #959
Why not do the aae sync the first time when the riak_ensemble starts up? Riak_kv_entropy_manager supports being executed manually. You don't need continual synchronization, just during the ensemble member start-up.

[2014-06-05 00:54] engelsanchez commented on #846
Closing after merging #971. @jtuple not sure if you want to file another issue for a potentially more robust solution or re-open and move this one.

[2014-06-05 00:54] #846 closed, assigned to engelsanchez

[2014-06-05 12:00] #859 closed, assigned to jonmeredith

[2014-06-09 15:25] seancribbs opened #975 "Linked process shutdown causes test bail [JIRA: RIAK-1763]"
Found while running `make test` locally. I suspect somewhere a linked process is shutdown via `application:stop/1` before unlinking.

[code]

[2014-06-09 15:50] reiddraper commented on #975
I can dig into this a bit.

[2014-06-10 20:07] jburwell commented on #959
@sargun AAE tree construction is an long running operation (often measured in hours to days depending on dataset size). Thus, Riak doesn't build an AAE tree on-demand for a given exchange. Riak builds AAE trees once a week, and keeps them up-to-date in realtime as K/V operations come in. If AAE is disabled, these trees aren't being maintained in realtime and thus all necessary trees would need to

[2014-06-10 20:14] jburwell commented on #959
Open the following PRs to verify proper Riak startup under the conditions described, log a warning on startup, and check the strong consistency/AAE configuration using Riaknostic:
- riak_test: https://github.com/basho/riak_test/pull/636
- riak_kv: https://github.com/basho/riak_kv/pull/978
- riaknostic: https://github.com/basho/riaknostic/pull/83

/cc @kellymclaughlin @jtuple @bsparrow435

[2014-06-13 15:47] reiddraper commented on #975
I have not been able to reproduce yet, but not giving up. Moving to 2.0 as this doesn't block the RC.

[2014-06-13 18:42] engelsanchez opened #982 "Add admin command to wait for strong consistency to be ready [JIRA: RIAK-1762]"
The analog to `riak-admin wait-for-service riak_kv` would be really nice to have for the strong consistency sub-system.  The new ensemble-status information is nice and would help a human operator with knowledge about how the ensembles work to get a rough idea of whether they are ready or not.  But there is no reasonably good way for an operator to say "yep, it looks like a safe point to start dir

[2014-06-13 20:38] engelsanchez opened #983 "Ensemble race: only root starts up"
While testing https://github.com/basho/riak_kv/pull/980 I got a cluster into a state where ensembles other than root will never start.  Even though the root ensemble lists one ensemble per preflist as expected (the return value of riak_ensemble_manager:known_ensembles()), the manager's cluster state only contains an entry for the root ensemble.  So the ensembles will never be started.  The output

[2014-06-13 22:22] jtuple commented on #983
I'd love to see see the logs for this cluster if you still have them.

[2014-06-16 13:32] jburwell commented on #959
All PRs have been approved and merged.

[2014-06-16 13:32] #959 closed, assigned to jburwell

[2014-06-16 15:39] engelsanchez commented on #983
The logs are here: https://s3.amazonaws.com/uploads.hipchat.com/20796/189387/Q7EnwMf4svXcLsf/ensemble-stuck-logs.tgz

Basically the root ensemble somehow has a different cluster version. It tries to gossip the entire ensemble list to everybody, but it is rejected and you get a lot of this in the logs:

[code]

[2014-06-16 17:04] jtuple commented on #983
Different cluster version? Interesting, that should only occur if `riak_ensemble_manager:enable()` was called on more than one node. Unless you were manually calling `enable()` yourself (please don't), that shouldn't happen unless there's a bug in the previously merged basho/riak_core#601. Such fun! More things to investigate.

[2014-06-16 17:26] engelsanchez commented on #983
I didn't call it manually. I've been letting the cluster do its thing. It is possible that this happened because the claimant started with a deleted data directory and somehow created and activated on the initial state before the root ensemble was ready. I started 3 nodes simultaneously with a little script. That must somehow contributed, but by itself has not been enough to reproduce. That's just

[2014-06-16 17:47] jtuple commented on #983
FYI, deleting the `data/ring` directory but not the `data/ensembles` directory should be one way to reproduce, but you're basically reproducing a "don't do that!" scenario.

[2014-06-16 18:39] engelsanchez commented on #983
Adding this info I forgot to mention: The version (which is just {node, time}) of both cluster states show the same node: 'dev1@127.0.0.1', the claimant in my setup. The time of the initial state with root only is 3 minutes ahead of the time of the good, complete cluster state:

[code]

[2014-06-16 19:16] engelsanchez commented on #983
@jtuple would instructions on recovering a failed node need to be updated because of the issue you mentioned above? They tell users to delete their ring directories and re-join the cluster. http://docs.basho.com/riak/latest/ops/running/recovery/failed-node/

[2014-06-16 21:47] jtuple opened #984 "Don't start K/V ensemble peers until riak_kv is up"
After restarting a node that previously created K/V ensembles, `riak_ensemble` will start up those ensemble peers before `riak_kv` itself has come up. This leads to the peers all crashing trying to access the AAE information ETS table as part of the `riak_kv_ensemble_backend:sync` logic. Not only does this spam the log, but at least one case has been seen where the crashes happen fast enough to fo

[2014-06-16 22:02] jtuple opened #985 "riak_kv_ensemble_backend should monitor vnode proxy"
The K/V ensembles (as implemented in `riak_kv_ensemble_backend`) send bare messages to the vnode proxy without accounting for the fact that the proxy or vnode may crash. This can cause ensemble worker processes to stall indefinitely waiting for `local_get` and `local_put` replies. In practice, these requests will timeout (unless the user configures timeout = infinity -- which would be bad), but we

[2014-06-16 22:08] jtuple opened #986 "Implement overload replies for ensemble messages"
The K/V ensembles (as implemented in riak_kv_ensemble_backend) send bare messages to the vnode proxy without accounting for the fact that the proxy may drop those messages on the floor in an overload scenario. This can cause ensemble worker processes to stall indefinitely waiting for local_get and local_put replies. In practice, these requests will timeout (unless the user configures timeout = inf

[2014-06-17 00:10] jonmeredith commented on #982
I think this will have to wait for 2.1 / 2.0.1 - interesting what would
need to know for controlling client load?  Is a commandline tool
sufficient, or do we need an HTTP endpoint for a loadbalancer to hit,
something clients could query to ask,.

On Fri, Jun 13, 2014 at 12:42 PM, Engel A. Sanchez <notifications@github.com

##

Jon Meredith
VP, Engineering
Basho Technologies, Inc.
jmeredith@basho.c

[2014-06-17 08:06] krestenkrab commented on #983
It would seem that a missing `data/ring` directory, but at the same time an existing `data/ensembles` direction is a simple condition to test/warn about.

[2014-06-17 15:12] engelsanchez commented on #984
I'm taking this task. Scream if you are working on it but forgot to make yourself the assignee.

[2014-06-17 16:06] engelsanchez opened #988 "Strong consistency AAE check broken"
The current check to see if AAE is enabled in riak_kv_ensembles is expecting riak_kv/anti_entropy to be on, but this parameter is funky and is actually {on, []} or {on, [debug]}.  So the warning in the logs happens even if all things are good:

[code]

/cc @jburwell

[2014-06-17 16:14] engelsanchez commented on #984
A couple of PRs have been opened to attempt to address this issue.

[2014-06-17 18:19] engelsanchez opened #991 "Intermittent backend test failure with leveldb [JIRA: RIAK-1761]"
See: http://doorman.jtuple.com:8081/builders/test-riak_kv/builds/1510/steps/shell_3/logs/stdio

Sean and I have seen it in the last couple of days. I don't think anybody has looked closely at it yet. A bit from the logs:

[code]

[2014-06-17 18:42] engelsanchez commented on #988
Well, I'm going to take this myself. It should be hopefully quick.

[2014-06-17 21:07] engelsanchez commented on #988
basho/riak_kv#993 is a proposed fix for this

[2014-06-17 23:48] #988 closed, assigned to engelsanchez

[2014-06-18 03:22] andrewjstone commented on #985
Test is here: basho/riak_test#645
Test requires these PRs:
- basho/riak_ensemble#33
- basho/riak_kv#990

[2014-06-18 15:30] reiddraper commented on #991
Not the same failure, but definitely worth looking at #928.

[2014-06-18 15:30] reiddraper commented on #991
I've assigned this to the 2.0 milestone.

[2014-06-18 15:34] reiddraper commented on #982
Assigning 2.0.1 just to get this out of the uncategorized list for now. Feel free to move.

[2014-06-18 17:39] #713 closed, assigned to nobody

[2014-06-19 00:17] andrewjstone commented on #985
All PRs have been merged. closing.

[2014-06-19 00:17] #985 closed, assigned to nobody

[2014-06-20 09:12] runesl opened #995 "Redundant tombstone reaping timers leading to very high memory usage [JIRA: RIAK-1760]"
A new tombstone reaper timer is started on every get operation for an object - irrespective of an existing timer may already have been started to reap this tombstone, which renders the new timer completely redundant.These extra timers add up - using memory - until they eventually fire after delete_mode millis.

https://github.com/basho/riak_kv/blob/1.4/src/riak_kv_vnode.erl#L1438-L1440

The higher