[2014-06-20 09:21] runesl opened #996 "In-memory tombstone reaping [JIRA: RIAK-1759]"
If a Riak node is restartet after firing a tombstone purge timer, but before this timer fires, then this tombstone will not be reaped leading to disk usage for the old tombstone and slower fullsync replication because of the higher object count.

Possible solutions include:
- Make backends tombstone aware, so they can purge old tombstones when they compact.
- Persist the in-memory tombstone reaper

[2014-06-20 14:18] jburwell commented on #988
I re-tested the [riaknostic strong consistency check](https://github.com/basho/riaknostic/blob/develop/src/riaknostic_check_strong_consistency.erl) to ensure that the pattern match was not too loose and mis-reported the warning.  Tests passed for the following scenarios:
- anti_entropy: passive; strong_consistency: off
- anti_entropy: active; strong_consistency: off
- anti_entropy: active-debug; s

[2014-06-20 16:44] andrewjstone commented on #986
Fixed by #994 and basho/riak_core#605

[2014-06-20 16:44] #986 closed, assigned to nobody

[2014-06-23 16:14] binarytemple commented on #969
+1 to fix this - also seen in- https://basho.zendesk.com/agent/#/tickets/8197

[2014-06-23 18:46] engelsanchez commented on #984
This has been fixed in basho/riak_ensemble#32 and basho/riak_kv#989

[2014-06-23 18:46] #984 closed, assigned to engelsanchez

[2014-06-23 19:50] engelsanchez commented on #983
We believe this issue may have something to do with the fact that the root ensemble state is written quickly, whereas the manager and facts are periodically sync'ed to disk.  So the first write takes a bit to actually making it to disk. During that time, an unlucky combination of node stops and restarts could end up in the situation described here. For that, issue basho/riak_ensemble#34 has been o

[2014-06-23 22:35] engelsanchez commented on #876
Implemented in #981

[2014-06-23 22:35] #876 closed, assigned to nobody

[2014-06-24 03:01] engelsanchez commented on #909
Fixed by #980

[2014-06-24 03:01] #909 closed, assigned to nobody

[2014-06-25 21:47] engelsanchez commented on #983
Ok. I've managed to reproduce this issue. This is the timeline of events:
- Start and join 3 nodes into a cluster with strong consistency on
- The claimant activates the cluster which as you can see [here](https://github.com/basho/riak_ensemble/blob/f7807bee9dfc259ad6b9c1c7c6fd6a982658e27c/src/riak_ensemble_manager.erl#L296) didn't use to save the state right away. It would be saved on the next st

[2014-06-25 21:47] #983 closed, assigned to nobody

[2014-06-25 21:50] engelsanchez commented on #983
And for the record, I think that perhaps making the root ensemble use the ensemble storage mechanism so that all facts and root ensemble data are saved atomically might prevent other scenarios where the data diverges due to a series of unfortunate events.

[2014-07-09 18:50] jtuple commented on #908
This work is no longer necessary given changes made in basho/riak_ensemble#37. Closing issue.

[2014-07-09 18:51] #908 closed, assigned to nobody

[2014-07-09 19:12] engelsanchez opened #1001 "Test performance of new tombstone strategy [JIRA: RIAK-1758]"
For the first time in its life, Bitcask will re-open already finished files to append tombstones found during a merge.  That is, a tombstone pointing to file 3 will be appended to file 3 if it still exists during a merge.  Tombstones pointing to the file they are in are simply dropped.

We need some long tests to see how that affects our performance profile when merges are happening. I don't think

[2014-07-09 19:23] jonmeredith commented on #1001
Agreed - 2.0 final

[2014-07-16 23:00] rzezeski commented on #969
@bsparrow435 I linked a PR that attempts to fix the main issue in this ticket.

[2014-07-16 23:10] engelsanchez commented on #969
I believe his rate is a six-pack of Boh per PR.

[2014-07-16 23:18] rzezeski commented on #969
@engelsanchez I made this fix after @tsantero complained about it on IRC.  So he owes me the sixer.

[2014-07-16 23:54] tsantero commented on #969
no payment will be issued until after this pr passes all tests and is merged

[2014-07-17 06:14] slfritchie commented on #969
Hiya, @rzezeski, many thanks for the summer PR!  Had I known that I'd piss so many people off with the timing of that message, I'd added even more messages to write myself an entire case.  Or keg, even!

[2014-07-17 06:14] #969 closed, assigned to nobody

[2014-07-17 13:07] rzezeski commented on #969
@slfritchie ありがとう Fritchie-san, for the quick review.

[2014-07-31 20:41] andrewjstone opened #1007 "Ensembles not created for strong bucket type with n_val different from default"
When we start with default bucket props containing `n_val = 5` and then create a strongly consistent bucket_type with `n_val = 3`, the corresponding riak_ensembles for that new n_val will not be created. The problem seems to stem from the fact that `riak_kv_ensembles:required_ensembles/1` checks all current bucket n_vals  for ensembles to create, but doesn't check bucket types that don't yet have

[2014-08-08 17:15] engelsanchez opened #1014 "Investigate default for bitcask merge check jitter [JIRA: RIAK-1757]"
The bitcask.merge_check_jitter was added to avoid the regular bitcask merge check done every 3 mins from triggering synchronized merges on many vnodes at once. It was observed at a large customer recently, where the synchronized merges were spking bitcask latencies.  The default might be good enough (10% spread on those 3 minutes), but some verification on that would be nice.

[2014-08-12 03:30] ksauzz commented on #670
A customer needs this feature. (zd#8431)

[2014-08-15 20:57] atlantis commented on #311
In case it helps anyone, here's a quick ruby script to crawl through and remove the tombstones

_use at your own risk_ - you're not supposed to list all keys in production, but for us the alternative was to have 560K tombstones sitting around taking up space when we only needed ~3K active keys.  Toss this in a monthly cron job and there you go - also, if you needed the script to use less memory yo

[2014-08-18 18:12] russelldb opened #1017 "DataType Stats are not updated"
https://github.com/basho/riak_kv/blob/develop/src/riak_kv_stat.erl#L274 expects `{Type, actor_count, COunt}` but gets `{actor_count, Count}` https://github.com/basho/riak_kv/blob/develop/src/riak_kv_pb_crdt.erl#L136

[2014-08-18 19:06] russelldb commented on #1017
Actually, this report maybe incorrect. Will investigate UK tomorrow.

[2014-08-18 20:37] seancribbs commented on #1017
I'm currently writing a riak_test to verify.

[2014-08-18 21:35] seancribbs commented on #1017
^^ @jburwell

[2014-08-18 22:14] seancribbs commented on #1017
We discovered that the test code was not exercising the datatype API on read, instead using plain KV fetches. This meant that the actor counts would not be recorded because we were not extracting the CRDT from the value. I'm still modifying the `verify_riak_stats` test to check the datatype stats and will mention this issue when sending a PR.

^^ @matthewvon @russelldb

[2014-08-18 22:14] #1017 closed, assigned to nobody

[2014-08-22 03:12] #1007 closed, assigned to nobody

[2014-08-22 21:40] russelldb commented on #679
As @jrwest rightly points out, delete mode never (i.e. don't reap tombstones) is a work around for the doomstone data loss flavour of this bug. Given that is the most likely cause, and the least "byzantine" maybe that is enough for 2.1, with more comprehensive fixes for later versions.

[2014-08-23 02:57] jrwest opened #1019 "add cuttlefish mapping for fold_preflist_filter [JIRA: RIAK-1756]"
it was added in https://github.com/basho/riak_kv/pull/685 before cuttlefish and a mapping it was never given.

[2014-08-23 15:18] seancribbs commented on #1019
Can you explain what this setting does?

[2014-08-23 16:40] jrwest commented on #1019
is the description of the work linked above (#685) not sufficient? The flag simply turns it on or off.

[2014-09-11 15:32] lukebakken opened #1021 "AAE error logged in 1.4.10 [JIRA: RIAK-1755]"
See ticket 8686 for logs and debugs.

A customer running Riak 1.4.10 provided `error.log` files that contained many of these messages emitted in a short time frame:

[code]

Here is a representative crash report from `crash.log`:

[code]

[2014-09-11 15:37] jerith commented on #623
This is a problem for some APIs we're building that expose continuation tokens to third-party clients. At the moment, we can't easily differentiate between an error due to bad input (the continuation token in this case) and a server error that's beyond the client's control.

[2014-09-17 00:47] stephen-mw commented on #468
Unfortunately affecting me as well. As far as I know I don't have any strangely encoding buckets. s3cmd displays them without errror.

[2014-09-17 01:06] shino commented on #468
@stephen-mw s3cmd? If you use Riak CS, Riak CS uses non-UTF-8 names for Riak buckets.

[2014-09-17 16:58] stephen-mw commented on #468
The problem is that I can interact with my riak-cs buckets with s3cmd without issue. However if I try and use the HTTP API I get the error you displayed.

[2014-09-18 11:16] slfritchie opened #1024 "riak_kv_backend:behavior_info(callbacks) is missing callbacks [JIRA: RIAK-1754]"
@ksauzz makes a good argument that the currently-optional callbacks of get_object() and put_object() callbacks for the backend API should no longer be optional.  If they're no longer optional, then they should be formally specified in the callback behavior definition.

[2014-09-22 04:46] slfritchie opened #1025 "riak_kv_bitcask_backend: clean up async_fold=false cases [JIRA: RIAK-1753]"
Bitcask is now supporting `async_fold` all the time now, so some simple refactoring work can remove all of the async_fold=false cases in riak_kv_bitcask_backend.erl.

[2014-09-26 09:49] russelldb commented on #690
Three: separate user and system metadata

[2014-10-05 12:21] sargun opened #1029 "riak_kv_pipe_get isn't strongly consistent aware [JIRA: RIAK-1752]"
When doing a get on a consistent bucket, it should go to the riak_ensemble master as opposed to any random vnode.

[2014-10-08 04:46] slfritchie opened #1031 "Bitcask fold key issue: binary_to_term(<<>>) [JIRA: RIAK-1751]"
(also applies to Riak 2.0?)
Excerpt from http://lists.basho.com/pipermail/riak-users_lists.basho.com/2014-October/016007.html , please refer to it for full context

Hello all,
I am using riak 1.4.3
I have an error during map reduce (not every time) :

{
  "phase": "listkeys",
  "error": "function_clause",
  "input": "xxx",
  "type": "error",
  "stack": "[
    {riak_kv_pipe_listkeys,keysend,

[2014-10-08 04:48] slfritchie commented on #1031
Reported by @awetzel, I believe.

[2014-10-09 11:50] awetzel commented on #1031
Yes this issue was reported by me, actually in riak2.0, the key format has changed, but if I look `bk_to_tuple`,
https://github.com/basho/riak_kv/blob/develop/src/riak_kv_bitcask_backend.erl#L110

 I would guess that in the same case in riak2, the error would also appear with a `function_clause bk_to_tuple` since there is no code protecting from a corrupted key.

[2014-10-09 13:32] engelsanchez commented on #1031
@awetzel Bitcask data records use CRC encoding to verify they are correct and data corrupted on disk should, with all likelihood, be caught before it gets to this point.  But it is possible for a user or script  on the Riak console to add values to the bitcask backend directly with keys that do not conform to what Riak expects. I imagine that is what happened in this case.

We should add protectio

[2014-10-13 20:29] roncemer opened #1033 "Riak should provide a single, fast HTTP REST API for deleting an entire bucket"
I realize that this issue exists because of Riak's design decision to lump all buckets together.  However, this is a huge problem for time-series data where you only want to keep the most recent history in Riak.

Riak needs to have a configuration option, much like mysql's innodb_file_per_table, which allows Riak to store each bucket under its own directory which can be easily and quickly deleted

[2014-10-13 22:29] aphyr commented on #1033
![selfie-1](http://i.imgur.com/ribKjoe.png)

[2014-10-15 03:55] #1033 closed, assigned to nobody

[2014-10-15 04:17] andrewjstone commented on #1033
Basho has repeatedly stated on the mailing list and elsewhere that list-keys is not meant for production use. The problems are much more complex than you make them out to be and the tone of this issue is insulting. Riak is designed and built by hardworking engineers who study and build distributed systems for a living. Very specific tradeoffs were made in the implementation of Riak and like any la

[2014-10-15 16:38] roncemer commented on #1033
Interesting response.  How is it that ES is able to get this right, and Riak is not, except that the Riak team stubbornly insists on throwing all buckets into the same LevelDB files, rather than segregating them into separate LevelDB directories?  This solution is simple and elegant, and clearly gives ES the upper hand in the areas of query-ability and quick deletion of expired time-series data (o

[2014-10-15 16:41] aphyr commented on #1033
Brief note that while your painful experience with Riak performance is legitimate and shared by others, Basho engineers may have had other considerations, like "avoiding massive data loss", that led them to make different design decisions than the Elasticsearch team.

[2014-10-15 16:48] seancribbs commented on #1033
Thank you for your feedback.

While ES does have attractive features, we simply have different design goals. We are improving queryability (e.g. the Solr integration in 2.0), but if ES fits your needs better, you should use it and be happy. Many people are happy with the tradeoffs that Riak makes and don't need advanced query capabilities; Riak will not fade into obscurity just because your use-ca

[2014-10-18 03:56] bsparrow435 opened #1036 "Enable more complex backend filtering for multi backend folds [JIRA: RIAK-1750]"
Currently the multi backend fold only has a backend filter for 2i reindexing[1]. It would be very helpful in support situations if the {backend, [LIST_OF_BACKENDS]} option was supported so we only scan a subset of backends.

[1] https://github.com/basho/riak_kv/blob/develop/src/riak_kv_multi_backend.erl#L517-L525

[2014-11-05 10:35] ayushmishra2005 commented on #358
Did anybody find the solution of the issue? Issue is still open. I have got stuck badly in this issue. Now I am deciding to replace riak with any other DB.

Can anyone help me to resolve this? Thanks in advance.

[2014-11-05 21:29] lukebakken opened #1038 "Error in AAE status with N value of 1 [JIRA: RIAK-1749]"
Customer ticket 8972

`riak-admin aae-status` will error with the following when `N = 1` in a cluster:

[code]

[2014-11-06 19:01] mde commented on #358
@rogier's workaround above worked fine for me.

[2014-11-06 21:19] oleksiyk opened #1039 "error,mailbox_overload when 1 node left the cluster"
I'm running a 5 node cluster, Riak 2.0.1, Ubuntu 14.04, 64GB RAM, private gigabit network between nodes.

Recently a hard drive have failed on 1 of the nodes so I had to shut it down. Just a few minutes after I did riak-admin down riak@10.0.1.3 my application started to receive "error,mailbox_overload" on all requests. This happened from all remaining 4 nodes. Restarting Riak helps for a few minut

[2014-11-07 02:46] ayushmishra2005 commented on #358
This is a hack not a solution.

[2014-11-07 07:52] oleksiyk commented on #1039
It was the AAE that was recovering keys by thousands and it took it 5 hours before Riak started replying on requests. I tried disabling AAE (passive) and it helped with load of course but the Read Repair is not the best solution.

Is there any way to reduce impact caused by AAE so that riak cluster will continue to answer requests?

[2014-11-07 08:09] slfritchie commented on #854
Is there anything new to report for this bug report?

[2014-11-07 08:10] slfritchie commented on #1039
Fixed by this PR in the 1.4 branch: https://github.com/basho/riak_kv/pull/754
Fixed by this PR in the develop branch: https://github.com/basho/riak_kv/pull/785

You said that you were using Riak 2.0.1.  Did you have the AAE throttle disabled?  That throttle is quite verbose when it activates.

[2014-11-07 08:40] oleksiyk commented on #1039
I didn't configure the AAE throttle tiers at all, so it was running with some defaults. Yes, there were many messages like this:

[code]

[2014-11-07 08:50] slfritchie commented on #1039
Those messages indicate that the throttle was indeed working.  (Your mailing list mention of "console.log" only had 11 mentions total, on the afternoon of 2014-11-04.)

The repairee/repair destination node doesn't have sufficient resources to absorb the repairs from AAE.  You can tune the throttle to be more aggressive with its behavior[1], and/or try to address the resource limitation (probably d

[2014-11-07 09:05] oleksiyk commented on #1039
Yes, the problem I described in mailing list happened few days ago and it wasn't too much time before the cluster settled.

But yesterday problem with replaced node (because of the failed disk) resulted in 5+ hours of AAE during which the cluster was unavailable to the application.

The disk system was a software RAID0 setup using four 64MB Cache SATA 6.0Gb/s disks. Do you think switching to hardw

[2014-11-07 09:07] oleksiyk commented on #1039
You mentioned that the problem is already fixed a year ago in develop branch, is that PR a part of 2.0.1 already?

[2014-11-07 09:21] slfritchie commented on #1039
Those PRs are for the AAE throttle feature, which were apparently active but not sufficiently tuned for your environment, sorry.

As for making improvements to your hardware, that's a tough & big subject.  Once you exhaust Basho's advice at [0], then Brandan Gregg's advice [1], [2] and his "Systems Performance" book are among the best I've encountered.  I personally don't like hardware RAID contro

[2014-11-07 09:25] oleksiyk commented on #1039
The [0] was already exhausted. Will try others, many thanks!

[2014-11-07 20:50] seancribbs commented on #358
@ayushmishra2005 We appreciate your frustration with this broken feature. Unfortunately, we have deprecated JavaScript MapReduce with the Riak 2.0 release and are currently designing a long-term replacement. In the meantime, please use Erlang for phase functions.

You may use some of the Erlang built-ins to accomplish close to what you want, as I will outline below.

If you want to skip tombstones

[2014-11-07 20:50] #358 closed, assigned to nobody

[2014-11-09 06:12] slfritchie commented on #1039
Thank you for reporting your experience.  It is in a report I'm writing about AAE repair and next steps for improving it.

[2014-11-09 06:12] #1039 closed, assigned to nobody

[2014-11-09 16:38] oleksiyk commented on #1039
Thanks, I didn't expect AAE to bring my cluster and application down so when it happened under live load there was a bit of panic. At that moment I tried to setup AAE tiers but I didn't notice that the example in the documentation is wrong, so Riak even didn't start with this:

http://docs.basho.com/riak/latest/ops/advanced/aae/#Configuring-AAE

[code]

All lines have 'tier1' in them instead of ti

[2014-11-12 19:09] nickelization commented on #1024
Hey Scott, I'm in my second week as a Basho dev, and Kelly put this issue on a list of stuff to cut my teeth on. I'd be happy to take this on, but I don't actually see the get_object callback in any of the riak_kv backend modules except riak_kv_yessir_backend.

Am I missing something obvious? Your comment makes it sound like these functions might already be implemented, and we just want to formall

[2014-11-13 07:42] slfritchie commented on #1024
The argument was during a source code reading meeting, sorry, no recording.

Though this backend have never made it beyond prototype stage, there is another example, perhaps even with the same specs for both functions.  https://github.com/basho/riak_cs/blob/feature/fs2-backend-stability-rebase2/src/riak_kv_fs2_backend.erl

[2014-11-13 20:25] lucperkins opened #1042 "Problems with counters in the HTTP API [JIRA: RIAK-1748]"
I've detected two problems in the HTTP API for counters.
#### Problem 1

You can pass in a raw integer as valid JSON. The following will work:

[code]

This will increment the counter by 5. Relatedly, passing in `-5` will decrement the counter. Requiring that you      specify JSON as the content type yet allowing you to pass in invalid JSON strikes me as a bug.
#### Problem 2

If you attempt to de

[2014-11-14 21:27] nickelization commented on #1031
This should be easy to fix, and I think I might take a stab at it, but it doesn't seem 100% obvious what the correct behavior should be if we hit on a case like this. Just ignore it? Ignore it and log a warning/error? Should we dump the bad data to a separate location for manual analysis? etc.

If I had to guess, I would probably say ignore the bad data and log a warning, but I'm still pretty new

[2014-11-15 07:36] osiloke opened #1045 "Bitcask fails to start after server runs all day"
Hi,
I'm working on a system which continuously processes images from live tv. I'm in the process of trying out different nosql dbs for storing metadata and i'm currently on riak. I have a problem where the riak cluster crashes after running for a couple of hours collecting metadata. It seems to be due to bitcask not being able to load the indexes. I have no experience with erlang so i cant make se

[2014-11-15 17:31] engelsanchez commented on #1045
Hi @osiloke. Would you mind telling us what version of Riak you are using? Also, would you mind attaching more information like: is the disk full? Were there any errors in the logs prior to this one? There should be, as this one indicates some error happened repeatedly to the point it gave up opening the files.

[2014-11-15 18:49] osiloke commented on #1045
Hi, i'm running the latest riak version (2.0.2) as instructed here, http://docs.basho.com/riak/latest/ops/building/installing/debian-ubuntu/#Advanced-apt-Installation, on ubuntu 14.04. The disk isn't full. I switched to eleveldb as a backend and it's been running smooth all day with only one node as opposed to when i used bitcask with two nodes although the memory seems to be gradually filling up

[2014-11-15 19:05] engelsanchez commented on #1045
Ah, yes. You will hit problems with any of our backends eventually if you don't give it a high ulimit. Riak is probably showing the ulimit warning when you start it and in the log files.  This is annoying but standard with database software, which is normally file handle hungry. Make sure you follow the recommendations in the docs http://docs.basho.com/riak/latest/ops/tuning/open-files-limit/

I'm

[2014-11-15 19:05] #1045 closed, assigned to nobody

[2014-11-15 19:06] osiloke commented on #1045
Yeah, next time i'll look far into the log. Thank you very much sir

[2014-11-17 15:30] slfritchie opened #1046 "False/bogus/needless sibling creation during handoff"
First, many thanks to @shino for being tenacious and putting together the necessary evil.  I would've floundered without it.

Prerequisite: Set up Riak 1.4.x using Shino's recipe at https://gist.github.com/shino/f30eb66d8a53b8d71224 ... I used Riak 1.4.10.

My annotated log messages discussing the problem are at:
https://gist.github.com/slfritchie/442e09035c70c5ab6240 ... the first put is boring.

[2014-11-17 16:03] jonmeredith commented on #1046
Could the handle_handoff_command on the handoff node just strip the coord from the put request?

[2014-11-17 16:05] slfritchie commented on #1046
@jonmeredith That code is twisted.  I spent a long time before I realized the following thingies below, from internal chat.

[code]

and

[code]

[2014-11-17 16:06] russelldb commented on #1046
I think it needs to do more than that. But it needs to modify the request, which means a small change to riak_core to allow that. I’m on with it.

Just change https://github.com/basho/riak_core/blob/1.4/src/riak_core_vnode.erl#L369 to allow either `{forward, NewModState}` or `{forward, ModdedRequest, NewModState}`. Backwards compatible too.

On 17 Nov 2014, at 16:03, Jon Meredith notifications@git

[2014-11-17 16:06] slfritchie commented on #1046
Er, sorry ... that was intended to show that handle_handoff_command() doesn't just do stuff on a handoff receiver's execution path.

[2014-11-17 16:12] slfritchie commented on #1046
FWIW, I built Riak 1.3.2 from source, using the `app.config` patches from Shino's gist.

The sibling explosion is later, but it still happens.  Instead of 10 seconds delay in visit_item() as he originally suggests, perhaps using 1 second could get the transfers to happen a bit more quickly and reveal the extra siblings?

A list of something like `[1,2]` is good.  A list of `[1,2,15,16,17]` is bad.

[2014-11-17 16:16] jonmeredith commented on #1046
At https://github.com/basho/riak_kv/blob/1.4/src/riak_kv_vnode.erl#L872 can
we do something like this?  Or am I misunderstanding the problem?

handle_handoff_command(Req=?KV_PUT_REQ{}, Sender, State) ->
    Req1 = strip_coord(Req),
    {noreply, NewState} = handle_command(Req1, Sender, State),
    {forward, NewState};

strip_coord(?KV_PUT_REQ{options= Options} = Req) ->
    Req?KV_PUT_REQ{options

[2014-11-17 16:17] slfritchie commented on #1046
Can't do that -- riak_kv_vnode:handle_handoff_command() is called in the the 1st coordinating vnode's execution path.  Madness!

[2014-11-17 16:19] russelldb commented on #1046
Since vnode1 is handing off, handle_handoff_command is called. This makes sense to me.
However, the return from vnode1 of {forward, NewModState} just tells riak_core_vnode to forward the _original_ request on.

Removing coord is not enough, anyway. The request is a put request, you need to generate a frontier on it. It _must_ be coordinated somewhere.

[2014-11-17 16:36] jonmeredith commented on #1046
Thanks for the clarification, adding support for returning a {forward, NewReq, NewModState} definitely seems like the answer.

[2014-11-17 16:45] kellymclaughlin commented on #1046
Wow, nice work on this diagnosis @shino, @slfritchie, and @russelldb!

[2014-11-18 02:13] shino commented on #1046
I want to ask one questions for necessary condition.
Is a pair of interleaved read-modify-writes necessary to generate siblings at forwarded (target) vnode?

[2014-11-18 09:36] russelldb commented on #1046
@shino I don't think you need any interleaving.

Node D has been added to the system and claims partition X from node A
Node A is now "handing off" partition X
Client reads key K
Node D's partition X will not but contacted for the read until handoff is over
Client modifies K and sends to Riak
Node A vnode X coordinates the write (stores clock [{ax, 1}]
Node A vnode X forwards the write to Node D v

[2014-11-18 12:27] shino commented on #1046
Perfect explanation, thank you!

[2014-11-20 04:51] andrewjstone commented on #1046
Finally took the time to read through this issue. Great work Scott, Russell
and Shino!

On Tue, Nov 18, 2014 at 7:27 AM, Shunichi Shinohara <
notifications@github.com> wrote:

[2014-11-20 05:00] slfritchie commented on #1046
Fixed by #1047, closing.

[2014-11-20 05:00] #1046 closed, assigned to nobody

[2014-11-21 07:00] lukebakken opened #1051 "Error when updating statistic. [JIRA: RIAK-1747]"
Customer ticket 9572

[code]

Riak version 2.0.2 using a counter CRDT.

[2014-11-21 09:02] russelldb commented on #1051
Do you think this is dealt with by 2.0.3 and exometer @jburwell ?

[2014-11-21 12:35] russelldb commented on #1051
Is it the same issue?
On 21 Nov 2014, at 12:31, John Burwell notifications@github.com wrote:

[2014-11-21 13:49] jburwell commented on #1051
I will check the r_t verify_riak_stats test case to see if pn counter stats are verified.

/cc @uwiger

[2014-11-24 11:14] slfritchie opened #1052 "riak_object.erl's use of `sets` considered harmful? [JIRA: RIAK-1746]"
Howdy.  There's a problem with using `sets:from_list()` and `sets:subtract()` in riak_object.erl.  For a Riak CS use case, where there is only 1 object (because the read is typically done with n_val=1 hack), and if that Riak object contains a single 1MByte value, then `riak_object:reconcile/2` can take several milliseconds.

NOTE: all measurements shown here are microseconds:

[code]

However, if

[2014-11-25 23:48] binarytemple commented on #1052
- Current (develop) implementation can be found [here](https://github.com/basho/riak_kv/blob/develop/src/riak_object.erl#L193,L216)
- 1.4 implementation can be found [here](https://github.com/basho/riak_kv/blob/1.4/src/riak_object.erl#L188,L201)

[2014-11-26 02:58] russelldb commented on #1052
https://github.com/basho/riak_kv/blob/develop/src/riak_object.erl#L193,L216

[2014-11-26 07:12] kuenishi opened #1054 "Quick question on riak_kv_pb_mapred"
Looks like [this head](https://github.com/basho/riak_kv/blob/2.0/src/riak_kv_pb_mapred.erl#L146-L162)

[code]

is never called as the second argument is actually `ReqId` in riak_api sense, as the `process` function is [returning PipeRef](https://github.com/basho/riak_kv/blob/2.0/src/riak_kv_pb_mapred.erl#L209) and then never matches with the monitor reference, even when the pipe input sender crash

[2014-11-26 09:44] krestenkrab commented on #1054
It looks like you're right. The parameter you call `PipeRef` is called `ReqId` in the previous head - https://github.com/basho/riak_kv/blob/2.0/src/riak_kv_pb_mapred.erl#L106-L113.

Would this be catchable by adding some extra type specs?  Looks a little tricky.

[2014-11-27 02:07] kuenishi commented on #1054
Maybe changing PipeRef to something other than `reference()`, like `{pipe, reference}` makes dialyzer happy, but I just don't know the code impact. If `ReqId` stuff for riak_pb_api_service is opaque, then that might work.

Oh, I just found riak_api_pb_service is using old-style behaviour_info definition. Maybe changing to this style (not sure this works..) ?

[code]

[2014-11-27 17:11] seancribbs commented on #1054
@kuenishi Do you have an outdated version? [2.0](https://github.com/basho/riak_api/blob/2.0/src/riak_api_pb_service.erl#L178) and develop have proper new-style callback annotations.

[2014-11-28 15:06] kuenishi commented on #1054
@seancribbs Oh, that was me reading 1.4 code bases.

[2014-12-07 02:39] ghost commented on #919
ERROR: OTP release 17 does not match required regex R17

[2014-12-07 02:41] ghost commented on #919
ah, lol nm figured it out

[2014-12-13 14:07] slfritchie opened #1060 "Optimization opportunities for riak_object.erl [JIRA: RIAK-1745]"
It's quite likely that `riak_object:from_binary/3` could use some intense scrutiny.  According to the flamegraphs I've made, using a method of sending sequential KV get ops directly to a single vnode, that function is almost 50% of wall-clock time.  (Both flamegraphs use fairly-high-overhead Erlang tracing of all function calls & returns by the vnode proc under test.)

http://www.snookles.com/scot

[2014-12-13 14:09] slfritchie commented on #1060
Derp, sorry, the Riak version measured here was 1.4.10.

[2014-12-16 20:50] lukebakken opened #1064 "Leak in memory backend [JIRA: RIAK-1576]"
Mailing list messages:

http://lists.basho.com/pipermail/riak-users_lists.basho.com/2014-December/016416.html
http://lists.basho.com/pipermail/riak-users_lists.basho.com/2014-October/016025.html

I have confirmed that you can reproduce this leak using the following bash script to load data into a bucket whose backend is named `mem_backend`:

https://gist.github.com/lukebakken/65cff6499315dc66d7f7

[2014-12-16 21:37] lukebakken commented on #1064
Note: the `memory` backend has the following configuration (for testing):

[code]

[2014-12-18 21:12] lucperkins opened #1066 "Add "riak config generate" command to man output [JIRA: RIAK-1744]"
If you run the `riak config` command by itself, only two subcommands are listed: `effective` and `describe`. We should add `generate` and `generate -l debug` to that output.

[2014-12-29 12:27] russelldb opened #1069 "Never call `hd/1` in `riak_object:most_recent_content/1` with the empty list [JIRA: RIAK-1743]"
Reported here http://lists.basho.com/pipermail/riak-users_lists.basho.com/2014-December/016459.html

Some merge/reconcile bug is causing the empty list to be passed to `hd`, probably passed to `most_recent_content` in fact. Investigate the cause. Add a guard earlier to catch the error sooner.

Settings are LWW=true, allow_mult=false.

[2015-01-12 17:39] ghost commented on #1069
We're actually seeing this same error.. One key appears to be the culprit... It's crashing in initialcall: riak_kv_Get_fsm:init/1

Which is awesome, in that the request actually then times out...

Any ideas as to a clean way to patch this in the meantime, either delete the key by hand, or something else.

[2015-01-12 17:41] russelldb commented on #1069
@boardom any chance I can see this data item? You can sanitize the content/key as you see fit, but if I could see the vclock it would be really valuable for me to diagnose the root cause.

You'd need to get each key straight from it's vnode, rather than via the API. If you're willing to do this let me know, and I'll link a snippet you can run on an attached riak node to get this data for me.

[2015-01-12 17:43] ghost commented on #1069
Sure man, no problems. Shoot me the snippet

On Mon, Jan 12, 2015 at 12:41 PM, Russell Brown notifications@github.com
wrote:

[2015-01-12 17:47] russelldb commented on #1069
@boardom if you attach to a node with

[code]

then run https://gist.github.com/russelldb/0b11fbcea1c6f618d2f5

you well get 3 copies of the object output on the console. If you don't want to paste them here, feel free to email me russelldb@basho.com

[2015-01-22 05:10] kuenishi commented on #1054
Direct fix for this is opened as #1073. But even in 2.0 latest branch there are no way to catch this by dialyzer. Because callback type/specs in `riak_pb_api_service` is specifying just `term()` for request id and that's all given by the callback interface. One easy solution for this is to restrict `ReqId` as only for reference in callbacks like:

[code]

But this is somewhat backwards incompatibl

[2015-01-22 14:42] seancribbs commented on #1054
We can't narrow that type to `reference()` because many of the KV FSMs use integers for the `ReqId` term.

[2015-01-23 04:11] kuenishi commented on #1054
Goof. Closing, waiting for Erlang and dialyzer support templates parameters like C++ to restrict types :trollface:

[2015-01-23 04:11] #1054 closed, assigned to nobody

[2015-02-13 16:21] lukebakken commented on #1064
Also see #963

[2015-02-13 17:19] lukebakken commented on #1064
![Image from Git Extensions for the commit](https://s3.amazonaws.com/uploads.hipchat.com/20796/427071/qloKdWV7nVarMt7/riak_kv-issue-963-info.png)

[2015-02-26 20:02] ksauzz opened #1086 "Metrics doesn't work after consistent put or get. [JIRA: RIAK-1575]"
`riak-admin status` and `riak-admin stat` fails after consistent put or get. According to crash.log it seems exometer's process died.

crash.log

[code]
#### To reproduce (riak-2.0.5)

setup strong consistency

[code]

put object

[code]

attempt to get metrics

[code]

[code]

[2015-02-27 00:37] HMcKelvey commented on #1064
Pushing to Jira

[2015-02-27 23:03] DeadZen commented on #877
Hello guys, What is the status of this? Inquiring minds want to know.

[2015-02-27 23:09] cmeiklejohn commented on #877
No plans currently.

However, it's something I'm very much interested in personally.  Maybe we can chat more via the mailing list?

[2015-03-12 21:57] dmitrizagidulin opened #1089 "Add 'search_query_latency_mean' and 'search_index_latency_mean' metrics [JIRA: RIAK-1610]"
I suspect the search-related _mean metrics got accidentally left out from this:
https://github.com/basho/riak_kv/pull/855

We have all the others (median, 95, etc), but not mean.
Can we add them?

[2015-03-12 22:06] dmitrizagidulin commented on #1089
Whoops, opened an issue on the wrong repo.
Moving this to https://github.com/basho/yokozuna/issues/468  and closing this one.

[2015-03-12 22:06] #1089 closed, assigned to nobody

[2015-03-14 14:38] ksauzz opened #1090 "AAE concurrency limitation for tree build only. [JIRA: RIAK-1615]"
Sometimes building multiple trees happen on a node at a time span even if anti_entropy.tree.build_limit.number is 1. Because `anti_entropy.tree.build_limit.per_timespan` and `anti_entropy.tree.build_limit.number` provide the limitation of starting a build tree only, not the limitation of the number of workers at a time span.

For example, in the following case, tree build can start on 2 partitions

[2015-03-14 15:25] ksauzz opened #1091 "AAE build limit in cluster-wide. [JIRA: RIAK-1616]"
To avoid bad effect to latency, the number of running build tree on all Riak nodes at the same time should be controllable.

[2015-03-18 17:21] russelldb opened #1093 "The riak_kv schema tests assume riak_kv is the top level [JIRA: RIAK-1625]"
https://github.com/basho/riak_kv/blob/develop/test/riak_kv_schema_tests.erl#L298-L304

However, if you want to test riak_kv with deps that riak builds/ships with you usually need to test it from riak/deps/riak_kv with

`./rebar eunit skip_deps=true deps_dir=../`

which will cause these tests to fail.

It would be _ace_ if they would run in a location independent manner. Please.

[2015-03-21 07:12] jisaacstone opened #1095 "json api seems to artifically limit the datatypes assignable to the register datatype? [JIRA: RIAK-1641]"
https://github.com/basho/riak_kv/blob/2.0/src/riak_kv_crdt_json.erl#L49

registers can be assigned any erlang term (seems)

tested just now in 2.0.5

`riak attach`

[code]

Anyway they ought to be consistent and I looked at the source & could not see any reason why numbers (or other things) can't be assigned to a register.

So looks like a bug.

I feel this ought to work:

Can I get confirmation?

[2015-03-21 18:01] seancribbs commented on #1095
This is correct, and intentional; we limit the acceptable values that can be stored in registers and sets to binaries so that we can be consistent across both client interfaces. You should not be using the datatypes directly on the Riak node, but via a client. Serialize whatever data you want into a binary (string in JSON) as the value of the register.

[2015-03-21 18:01] #1095 closed, assigned to nobody

[2015-03-25 20:06] nickelization commented on #900
Just commenting to note that this is still an issue in the latest code. I discovered this problem completely by accident when I noticed extremely high CPU usage coming from riak_ensemble on my dev setup. Long story short, it turned out that I had previously been running at a larger ring size, and hadn't cleared out the ensemble data when I wiped my cluster data. So it continued trying to start ens

[2015-04-01 18:20] Basho-JIRA commented on #1095
[~seancribbs], can this be closed?

**_[posted via JIRA by Derek Somogyi]**_

[2015-04-08 20:04] jcapricebasho commented on #1064
I've confirmed that the changes in PR #963 are in the 2.0.5 source.

This issue going forward should be treated as a yet to be identified memory leak affecting the 2.x series.

[2015-04-13 20:40] Basho-JIRA commented on #1064
PROD: Attempt to fix in the 2.1.1 release or 2.2 if no 2.1.1 release.

***[posted via JIRA by Seema Jethani]***

[2015-04-15 18:27] russelldb opened #1103 "vnode status file can cause a riak node to fail to start [JIRA: RIAK-1717]"
https://github.com/basho/riak_kv/blob/develop/src/riak_kv_vnode_status_mgr.erl#L333

Due to changes in unicode semantics in r17, the vnode status manager file, after storing a random binary as vnode id, may fail to be read with `file:consult` as the vnode id binary is not valid text.

This _MUST_ be fixed before erlang r17 is supported.

However, this is a specific case of a more general problem o

[2015-04-16 19:02] seancribbs commented on #1086
@ksauzz Was this fixed in 2.1? Can you re-check?

[2015-04-17 01:29] ksauzz commented on #1086
@seancribbs I reproduced this on 2.1.

console.log

[code]

crash.log

[code]

[2015-04-17 03:04] seancribbs commented on #1086
Thanks @ksauzz!

[2015-04-20 18:01] uwiger commented on #1086
The thing that crashes the histogram is that `riak_client:maybe_update_consistent_stat/5` calls `riak_kv_stat:update({Stat, Bucket, Duration, ObjSize})` with `ObjSize=undefined`.

From the looks of it, this is deliberate, but `riak_kv_stat:do_update/1` needs to detect it (as it does with several other metrics), and not try to add `undefined` to the histogram.

There are of course other issues:
- T

[2015-04-20 18:05] uwiger commented on #1086
To be clear:

[code]

needs to change to:

[code]

which is consistent in style with similar patterns above it.

[2015-04-21 16:36] DSomogyi commented on #1069
Comment for Jira.

[2015-04-21 16:37] DSomogyi commented on #1066
Comment for Jira.

[2015-04-21 16:51] DSomogyi commented on #1060
Comment for Jira.

[2015-04-21 16:52] DSomogyi commented on #1052
Comment for Jira.

[2015-04-21 16:53] DSomogyi commented on #1051
Comment for Jira.

[2015-04-21 16:53] DSomogyi commented on #1042
Comment for Jira.

[2015-04-21 16:54] DSomogyi commented on #1038
Comment for Jira.

[2015-04-21 16:54] DSomogyi commented on #1036
Comment for Jira.

[2015-04-21 16:55] DSomogyi commented on #1031
Comment for Jira.

[2015-04-21 16:55] DSomogyi commented on #1029
Comment for Jira.

[2015-04-21 16:55] DSomogyi commented on #1025
Comment for Jira.

[2015-04-21 16:55] DSomogyi commented on #1024
Comment for Jira.

[2015-04-21 16:56] DSomogyi commented on #1021
Comment for Jira.

[2015-04-21 16:56] DSomogyi commented on #1019
Comment for Jira.

[2015-04-21 16:56] DSomogyi commented on #1014
Comment for Jira.

[2015-04-21 16:57] DSomogyi commented on #1001
Comment for Jira.

[2015-04-21 16:57] jrwest commented on #1036
Is it known that these "comment for JIRA" comments spam everyone who is watching the repo not just basho employees? It's nice to be able to watch the project for progress but this makes it rather a pain in the ass. It also reflects poorly on the open source project. I understand that you need to integrate JURA and GitHub but is there not a better way?

Sent from my iPhone

[2015-04-21 16:59] DSomogyi commented on #996
Comment for Jira.

[2015-04-21 17:07] DSomogyi commented on #995
Comment for Jira.

[2015-04-21 17:07] DSomogyi commented on #991
Comment for Jira.

[2015-04-21 17:07] DSomogyi commented on #982
Comment for Jira.

[2015-04-21 17:07] DSomogyi commented on #975
Comment for Jira.

[2015-04-21 17:08] DSomogyi commented on #965
Comment for Jira.

[2015-04-21 17:08] DSomogyi commented on #962
Comment for Jira.

[2015-04-21 17:08] DSomogyi commented on #954
Comment for Jira.

[2015-04-21 17:08] DSomogyi commented on #949
Comment for Jira.

[2015-04-21 17:08] DSomogyi commented on #944
Comment for Jira.

[2015-04-22 18:17] uwiger commented on #1086
I was able to replicate the crash. Substituting the latest exometer_core for the old one (locally), the crash goes away, even though `riak_kv_stat.erl` hasn't been fixed yet.

The reason for this is that exometer_histogram now discards non-numeric inputs (not even reporting the error). In other words, there is no crash.

We can fake a histogram crash and verify that it recovers:

[code]

It would

[2015-04-30 19:58] macintux opened #1112 "Failing tests on develop [JIRA: RIAK-1791]"
Seeing these frequently but not every time:

[code]

[2015-04-30 20:05] macintux opened #1113 "Failed test on the builder [JIRA: RIAK-1792]"
Haven't seen this locally

[code]

(followed by literally 10k+ lines of state dump; pardon me for not including them)

[2015-05-05 19:25] Basho-JIRA commented on #1103
https://github.com/basho/riak_kv/issues/1103

**_[posted via JIRA by Deborah Rakow]**_

[2015-05-11 02:35] hmmr commented on #1025
I have been on the dead code cleaning spree lately (related to legacy_gossip in riak_core), and so chose to look at this one, too.

A simple reading of this issue I had at first led me to completely remove the async_fold=false branches in those three functions. That is, the caller would be expected always to imply async_fold=true, and therefore also expect `{async, BucketFolder}` as a return value

[2015-05-15 13:52] jonmeredith opened #1117 "Log vnode startup and vnodeid allocation [JIRA: RIAK-1809]"
It would be very helpful to log when vnodes are started and why (primary, next-owner, fallback) and if it's a first start or a restart.

Also for KV vnodes, would be very good to know when vnodeids are being allocated and why (new vnode, corrupt status file, vnodeid wrap around).

Perhaps better done as a feature in riak_core where the vnode init callback can pass back some extra status informatio

[2015-05-19 18:02] engelsanchez commented on #1031
Ok. After debugging a related customer issue, I think I finally understand everything that is going on here. I believe this issue points to the root cause of the problem: https://github.com/basho/bitcask/issues/212

On 2.0, reading keys from a corrupted data file when the hintfile is not available or invalid may lead to startup crashes as we try to convert they key. Before 2.0 though, there was no

[2015-05-20 19:47] macintux commented on #1112
This was due to a lack of an `epmd` daemon. Will update the kv test suite to launch it automatically.

[2015-05-20 19:51] macintux opened #1118 "Occasional test failure: riak_kv_stats [JIRA: RIAK-1820]"
Seeing this on the builders during some runs. Sometimes this failure is much noisier, with hundreds/thousands of lines of meck status dump.

/cc @uwiger

[code]

[2015-05-20 19:57] macintux commented on #1118
Oops, this duplicates my own ticket https://github.com/basho/riak_kv/issues/1113, perhaps with a bit more context.

[2015-05-21 18:53] krestenkrab opened #1120 "riak_kv_bitcask_backend infinite loop recovery [JIRA: RIAK-1821]"
We have an installation in which a disk corruption causes a riak that will not restart.

We get an infinite number of these messages (see below).  The same file seem to be retried again and again.  Dunno how the `<<>>` key made it into the file, but it can't be converted using `riak_kv_bitcask_backend:key_transform_to_1/1`, and that seems to cause an infinite superviser restart or something.

[cod

[2015-05-21 19:20] engelsanchez commented on #1120
Hey @krestenkrab, did you see these:
- https://github.com/basho/bitcask/issues/212
- https://github.com/basho/bitcask/pull/213
- https://github.com/basho/bitcask/pull/214

I believe you are hitting the same problem. Let me know if it looks like a different or if the new PRs help or not. They have not been reviewed yet, but we will try to fix this issue for our next release.

[2015-05-21 19:29] krestenkrab commented on #1120
Indeed.  Even our data files are corrupt for some reason. Here's an example of a corrupt `.data` file with just a single tombstone and a single key in it.

We've seen this problem twice the last week, so there must be something wrong with the OS/file system we're running this on.

[code]

[2015-05-21 19:29] #1120 closed, assigned to nobody

[2015-05-21 21:05] engelsanchez commented on #1120
Wait, that's interesting.  There was a change in Bitcask for Riak 2.0 that deals with data resurrection when merging tombstones.  The new code will actually re-open old files and append tombstones to it during a merge, which is a first for Bitcask.  It's tricky enough that you could be seeing a bug related to it. I can see you are using Bitcask with this new scheme on, since your tombstone has the

[2015-05-22 15:35] krestenkrab commented on #1120
Cluster activity is simple, it's a single node 64/partition system running plain open source Riak, I'll see if I can get the exact version from ops.

I'll mail you a bad bit cask file.

[2015-05-26 08:49] lixen opened #1123 "Bucket types API [JIRA: RIAK-1829]"
We are missing API for bucket types. Is this in the road map or are there a reason behind not exposing this functionality?

I have been looking at what would be needed to add this function to the riak-erlang-client and it seems straight forward unless I'm missing something.

I'm not sure if PB should copy all functionality of the command line or if it should look different.
http://docs.basho.com/r

[2015-05-27 13:17] krestenkrab commented on #1120
I noticed this text in Kafka's documentation [End of section 5.5, "Guarantees"](http://kafka.apache.org/documentation.html#log)

This might be what caused zeros to appear at the end of the data file.

[2015-05-27 16:34] jonmeredith opened #1128 "riak-admin handoff details fail for eleveldb [JIRA: RIAK-1835]"
When leveldb is selected as the backend, `riak-admin handoff detail`` fails as the backend reports status differently.

[2015-05-28 13:32] macintux commented on #1118
Closing: we've disabled cover in rebar for riak_kv to eliminate this weird problem.

[2015-05-28 13:32] #1118 closed, assigned to macintux

[2015-05-28 13:33] macintux commented on #1113
Closing: we've disabled cover in rebar for riak_kv to eliminate this weird problem.

[2015-05-28 13:33] #1113 closed, assigned to nobody

[2015-05-28 13:37] #1112 closed, assigned to nobody

[2015-05-29 08:45] mbbroberg opened #1137 "Need a license file on this repo. [JIRA: RIAK-1837]"
It's unclear what license is available to users of this repo. Please add one like in the main Riak repo: https://github.com/basho/riak/blob/develop/LICENSE#L4

[2015-06-10 13:08] nerophon opened #1138 "Bad match in PUT or transfer path [JIRA: RIAK-1850]"
The line:

https://github.com/basho/riak_kv/blob/develop/src/riak_kv_vnode.erl#L1044

... suffers a bad match causing process failure. Encountered by a customer running dual memory/leveldb backend. Triggers during handoff send. Crash causes transfer counts to balloon (on the sender) and eventual node crash.

Example error output:

[code]

[2015-06-10 13:50] fadushin commented on #1138
Is this a mixed-mode cluster?  I.e., are not all nodes in the cluster on 2.1.1?

[2015-06-10 13:55] sacreman commented on #1138
$ ansible -m shell -a "riak version" riak -K -s

[code]

[2015-06-11 14:02] russelldb opened #1142 "Vnode won't start with crash error for mixed vnode_status file [JIRA: RIAK-1857]"
From Dams in #riak on IRC

[code]

Looks like it is possible for the vnode status file to be written as v1, and have a counter. Have asked for more information in IRC.

https://github.com/basho/riak_kv/blob/2.1/src/riak_kv_vnode_status_mgr.erl#L259

Maybe the scenario was run with vnode_counters, then turn off vnode_counters, then turn them on.

[2015-06-11 14:26] russelldb commented on #1142
As a workaround until a patch, removing the vnode_status file allows the vnode to start again safely

[2015-06-18 14:28] russelldb commented on #1142
See basho/riak_kv/pull/1144

[2015-06-18 21:12] engelsanchez commented on #1064
It seems that we are dealing with the same problem we have with Bitcask TTL. We haven't been able to reproduce this on a one node cluster with n_val of 1, right? AAE is not integrated with backend expiration, and with enough read requests could occasionally resurrect keys that get a fresh new TTL.  Have we tried this with AAE off?

[2015-06-18 21:20] engelsanchez commented on #1064
Err, I mean just plain read-repairs would do it too. You don't even need active anti-entropy.

[2015-06-18 21:32] engelsanchez commented on #1064
My explanation above doesn't really explain the high memory usage part of this. I'll investigate that.

[2015-06-26 22:32] Basho-JIRA commented on #1103
Jon M confirmed code merged to 2.0.6 on 6/25/15.  Dev is done. Now just waiting to go into additional releases.

**_[posted via JIRA by Patricia Brewer]**_

[2015-06-26 22:32] #1103 closed, assigned to russelldb

[2015-06-29 16:12] russelldb commented on #1069
Current research shows this to be an issue with conflicting bucket properties.

[code]

and an indexing backend (`leveldb` or `memory`.)

Work around is just to set `{dvv_enabled, false}` if you are using `lww`. We're working on code that means you can't shoot yourself in the foot with this. We have manual repro, working now on automating it ,then the fix.

[2015-07-10 07:15] ksauzz opened #1151 "build window of AAE. [JIRA: RIAK-1936]"
Like merge_window of Bitcask, AAE build window would be useful, which allows AAE to run build tree in specified periods.

[2015-07-17 17:21] JeetKunDoug commented on #1142
Now that basho/riak_kv#1144 is merged into 2.1, can we close this?

[2015-07-20 18:56] Basho-JIRA commented on #1069
Advisory issued. Need to add bucket validation and fixup to make sure users can't do this by accident in the future.

**_[posted via JIRA by Douglas Rohrer]**_

[2015-07-22 21:43] mekhanique commented on #1137
+1

[2015-07-23 13:39] bsparrow435 opened #1154 "Change riak_kv_env to use lager instead of error_logger [JIRA: RIAK-2040]"
Lager has the benefit of parse transforms adding mod:fun/line_num to all log entires which is very useful when filtering the same log entry across nodes when the Pid might not be the same. It would be preferred for the riak_kv_env check to use this instead of error_logger.

[2015-07-24 23:16] jonmeredith opened #1156 "Read repairs should ignore sibling and object limits like handoffs [JIRA: RIAK-2045]"
During read repair, if the reconciled object exceeds sibling limits or object size it cannot be read repaired.

Read repair should be treated as handoff and permit the large objects to be merged and written so that the object can be reconciled.

The workaround is for a client to read with R=all which will force the return of a vclock that covers all the replicas so it can be resolved.

[code]

[2015-07-24 23:50] jonmeredith commented on #1128
Possibly only be on larger vnodes - saw it at a customer recently.  Couldn't reproduce with small setup or delaying handoff.

[2015-07-27 14:45] jonmeredith commented on #1128
Happens on large vnodes...

[code]

[2015-07-28 15:10] Basho-JIRA commented on #1138
Reviewed PR and tests - added rt:wait_for_bucket_type_visible to test to prevent flappiness. Once Fred's run the test for a while longer, will merge PRs.

**_[posted via JIRA by Douglas Rohrer]**_

[2015-07-29 10:13] binarytemple commented on #343
+1 - current vnode-status isn't much better. See [customer issue](https://basho.zendesk.com/agent/tickets/11440). Would be much better if it output as Erlang terms OR JSON. The hodgepodge output formatting is neither easy to read nor easy to parse.

[2015-07-29 16:00] zeeshanlakhani opened #1161 "makes secondary systems (focused on yokozuna initially) calls/indexing async on the vnode [JIRA: RIAK-2054]"
Starter read related to yokozuna by @fadushin -> https://gist.github.com/fadushin/fb0a2a5701794f742bc5

[2015-07-31 16:00] hcs42 commented on #343
I agree with @binarytemple: currently I have a Python script that converts the output of `riak-admin vnode-status` into a list of Erlang terms so that I can process it with an escript. If the output was already an Erlang term (or JSON), I wouldn't need the extra Python script.

But also note that it would be nice not to deminish the little readability it already has.

So instead of this:

[code]

[2015-08-03 15:32] Basho-JIRA commented on #1138
Reviewed by Doug and merged to 2.1 branch.
2.1 will need to merge forward to develop.

**_[posted via JIRA by Jon Meredith]**_

[2015-08-03 15:32] #1138 closed, assigned to nobody

[2015-08-03 16:35] Basho-JIRA commented on #1069
Assigned Fred per the Riak Social / Mumble

**_[posted via JIRA by Patricia Brewer]**_

[2015-08-06 08:35] #484 closed, assigned to nobody

[2015-08-10 12:57] kri5 commented on #1086
Any updates?

[2015-08-10 20:09] jonmeredith commented on #1086
We've merged the fix into the 2.0 mainline and it'll merge forward.  It should appear in the next 2.0 and 2.1 releases.

[2015-08-11 18:52] Basho-JIRA commented on #1069
Seems the assignment of Fred did not take and this was still assigned to me.  Fixed it.  [~fdushin]

**_[posted via JIRA by Patricia Brewer]**_

[2015-08-13 05:00] danieldreier commented on #802
@mjbrender pretty sure this can be closed, since it seems unlikely that any more riak 1.4 functionality is going to be added.

[2015-08-13 13:35] mbbroberg commented on #802
@danieldreier good call. 1.4 is near EOL and 1.2 definitely is.

[2015-08-13 13:35] #802 closed, assigned to nobody

[2015-08-13 23:21] #1086 closed, assigned to jonmeredith

[2015-08-13 23:22] Basho-JIRA commented on #1086
why is this in PMT not Riak

**_[posted via JIRA by Jon Meredith]**_

[2015-08-13 23:24] jonmeredith commented on #1086
tracked as RIAK-2087

[2015-08-17 19:29] seemaj commented on #1091
Can you clarify if you are referring to
a) A command line feature similar to `riak-admin transfer-limit` that would concurrently set a per-node setting across the cluster.
b) A cluster-wide build limit
c) Both

[2015-08-18 00:31] ksauzz commented on #1091
I mean `b) config items` to control a cluster-wide build limit such as max_fssource_cluster of MDC. Of cause it would be worth to provide the both. :)

[2015-08-18 19:35] dmitrizagidulin opened #1171 "Return /props for inactive bucket types [JIRA: RIAK-2105]"
Currently, you can only fetch the Bucket Type properties for inactive bucket types on the command line, via `riak-admin bucket-type status <inactive bucket type name>`.
Doing an HTTP GET to `/types/<name>/props` only works for active bucket types, and returns a 404 Not Found for inactive ones.

The HTTP endpoint needs to also handle inactive ones.

[2015-08-18 19:38] dmitrizagidulin commented on #1171
(This is useful for external admin tools like Riak Control / Riak Explorer)

[2015-08-18 19:40] dmitrizagidulin opened #1172 "Add 'active' property to HTTP Get Bucket Type Props API call [JIRA: RIAK-2106]"
Getting bucket type props via the command line (`riak-admin bucket-type status <type>`) includes the `active` property (whether or not the bucket type has been activated).

However, doing an HTTP GET to `/types/<type>/props` does not include the `active` property.

This happens because the bucket type props [jsonify code](https://github.com/basho/riak_kv/blob/develop/src/riak_kv_wm_utils.erl#L299-

[2015-08-20 18:54] seemaj commented on #1064
@engelsanchez Were you able to investigate this issue?

[2015-08-20 19:15] engelsanchez commented on #1064
This was dealt with in a chat.  The high memory usage came from having AAE enabled, which enables the eleveldb system, which by default allocates enough memory to run with leveldb as a backend.  The workaround until we change eleveldb to stop being so greedy is to configure it to use less: http://docs.basho.com/riak/latest/ops/advanced/backends/leveldb/#Configuring-eLevelDB

As far as I know, ther

[2015-08-24 17:01] Basho-JIRA commented on #1069
This was reviewed by [~fdushin], [~jmeredith] for the 2.0 merge, and by [~drohrer] for the 2.1 merge.

**_[posted via JIRA by Fred Dushin]**_

[2015-08-24 17:02] #1069 closed, assigned to fadushin

[2015-08-28 14:22] hmmr commented on #922
The #1164 (merged into 2.1 branch) deals with these warnings. Is it sufficient to close this issue?

[2015-09-02 19:16] ian-mi opened #1178 "get/put FSM supervisor PID leak when overload protection is enabled [JIRA: RIAK-2157]"
Calls to `riak_kv_get_fsm_sup:start_get_fsm` leave abandoned PIDs in the `riak_kv_get_fsm_sup` state because FSMs are linked to a sidejob supervisor rather than the get FSM supervisor. A similar issue applies to the put FSM supervisor. This can cause extended shutdown times as the supervisor attempts to iterate through millions of dead PIDs.

[2015-09-02 21:32] jonmeredith commented on #1178
Do you have a reproducer or customer ticket this came from?

[2015-09-04 15:59] ian-mi commented on #1178
I've reproduced the issue by doing the following from riak attach on a new node:

supervisor:count_children(riak_kv_get_fsm_sup).
[{specs,1},{active,0},{supervisors,0},{workers,0}]

riak_kv_get_fsm_sup:start_get_fsm(node(), [<<"">>, <<"bucket">>, <<"key">>, []]).
{ok,<0.5520.0>}

process_info(list_to_pid("<0.5520.0>")).
undefined

supervisor:count_children(riak_kv_get_fsm_sup).
[{specs,1},{active,

[2015-09-10 00:10] Basho-JIRA commented on #1142
[~russelldb] Is this the same as PR1144 mentioned above (JIRA Riak-1857)?  Should this be closed and done?  I can see that PR1144 was merged but don't see PR1142 as merged in the comparison list I have from Jon M.

**_[posted via JIRA by Patricia Brewer]**_

[2015-09-17 03:17] shino opened #1188 "Put FSM Redirect Retries and Siblings [JIRA: RIAK-2191]"
### Symptom and Cause

Single put from client may create many, for example O(10), siblings
when a node in cluster is too slow or almost frozen. No specific
options in put is required.

Another flavor is non-zero PW option is used and some nodes are
stopped. In this case, siblings are not created, but many Put FSMs are
spawned.

These are caused by Put FSM coordinator redirection and ack logic.
Red

[2015-09-17 18:03] ian-mi opened #1189 "Inconsistent Hashing of Metadata Dict [JIRA: RIAK-2193]"
As the internal representation of the dict data structure is not defined it is not guaranteed to have a unique representation. Therefore hashing identical dicts can lead to differing results. When this occurs, AAE will attempt to trigger read repair but the object is never repaired because its vclock does not differ leading to endless AAE churn.

Jira issue: [RIAK-2043]

[2015-09-28 16:24] jcapricebasho opened #1194 "Add last_write_wins validation to Data Type Bucket Types [JIRA: RIAK-2206]"
We currently perform validation in `riak_kv_bucket.erl` for `allow_mult = true` on both creation and update of Data Type bucket types. We do not perform the same validation on `last_write_wins`. Setting `last_write_wins` to `true` on Data Type bucket types will result in data loss when an update is performed to an object in a bucket of that type. Validation needs to be added to prevent bucket type

[2015-09-29 21:54] martinsumner opened #1198 "JSON encoding - potential cost [JIRA: RIAK-2208]"
In returning 2i query results over HTTP the results are [JSON encoded](https://github.com/basho/riak_kv/blob/master/src/riak_kv_wm_index.erl#L456)

For large 2i query responses I believe this can take a non-trivial amount of time.

If I generate some keys/terms using [this function](https://github.com/martinsumner/riak_hints/blob/master/src/hints_bloom.erl#L344)

... and then time how long an enco

[2015-09-29 22:46] jonmeredith commented on #1198
Thanks @martinsumner we're interested in using a more efficient json encoder in other places too and are considering something like jiffy.  We'd need to do a fair bit of QA before adopting/replacing.

[2015-09-30 11:01] martinsumner commented on #1198
OK, understood.  It would be something of value to us, in that it is always nice to see things go faster, but the current response times aren't causing any direct issues at present.  So we don't have an urgent need to see any improvement.

[2015-10-01 20:29] jonmeredith commented on #1178
The riak_kv_get_fsm_sup should be deprecated. The only consumer I could find is `riak_repl_util:reap/3` called in `riak_repl_util:do_repl_put/3` which could be modified to just call start_link instead.

If using sidejob it would obey overload protection which is a good thing and not create a link to the calling process.  The case where overload protection is disabled is more tricky - if the FSM cr

[2015-10-01 20:39] jonmeredith commented on #1188
@shino I think you could solve this if you added the list of bad coordinators here https://github.com/basho/riak_kv/blob/2.0/src/riak_kv_put_fsm.erl#L343 and then parse as an argument into the FSM.  Then you should be in the preference list on on the forwarded node.

As well as this, we could modify the coordinator selection algorithm to prefer the primary nodes over secondary nodes, but that does

[2015-10-05 20:13] Basho-JIRA commented on #1086
Via Riak-2087 - We've merged the fix into the 2.0 mainline and it'll merge forward. It should appear in the next 2.0 and 2.1 releases. per Jon M. I am removing the labels on this story Riak 2141 since noted 2087 is tracking but much of the history can be found on 2141, not 2087

**_[posted via JIRA by Patricia Brewer]**_

[2015-10-05 22:49] sargun opened #1205 "Add node_*_fsm_total [JIRA: RIAK-2214]"
We need to track how many total gets / put / \* FSMs occurred. We already track the point in time metrics, counting the total would allow people to take the derivative themselves.

[2015-10-06 00:18] ian-mi commented on #1178
It seems incorrect that riak_kv_get_fsm:start_link does not link to the caller when sidejob is enabled as that breaks the expected semantics of start_link. One fix I've been thinking of is to manually call link when sidejob is used. However, the reason start_link has been used seems to be just an artifact of avoiding the get_fsm_sup for performance reasons. Based on my discussions with others in c

[2015-10-06 16:24] jonmeredith commented on #1205
Are you looking for something other than the node get/put totals?

[code]

[2015-10-06 17:58] Basho-JIRA opened #1207 "TS KV Queue giving error every other query [JIRA: RTS-365]"
Every other time I make a query to Riak TS, I get the following error:

https://gist.github.com/alexmoore/3b41f30df30aac3bb552

I've tried waiting 5 mins to see if anything clears with time, but it always fails every other time.

I have ruby scripts to reproduce on client side if needed.

**[Created in JIRA by Alexander Moore]**

[2015-10-06 18:08] Basho-JIRA commented on #1189
related - https://gist.github.com/andytill/e00f173e52aeb9ab64ca

***[posted via JIRA by Bryan Hunt]***

[2015-10-06 18:24] Basho-JIRA commented on #1189
related - https://gist.github.com/andytill/e00f173e52aeb9ab64ca

***[posted via JIRA by Bryan Hunt]***

[2015-10-06 20:24] Basho-JIRA commented on #1207
Hm. Looks like a bug, and it is in my code. Assigning to myself.

**_[posted via JIRA by Andrei Zavada]**_

[2015-10-06 23:48] jonmeredith commented on #1178
Probably go with the rename. You could set up a monitor instead. That
should return exit on an already dead pid.
On Mon, Oct 5, 2015 at 6:18 PM ian-mi notifications@github.com wrote:

[2015-10-07 08:00] Basho-JIRA commented on #1189
gist also available

***[posted via JIRA by Bryan Hunt]***

[2015-10-07 08:18] Basho-JIRA commented on #1189
https://basho.zendesk.com/agent/tickets/11958

Possibly related - and possibly related to Yokozuna endlessly repairing the same keys,

https://gist.github.com/andytill/e00f173e52aeb9ab64ca

https://basho.zendesk.com/agent/tickets/12005

***[posted via JIRA by Bryan Hunt]***

[2015-10-07 20:35] ian-mi commented on #1189
It is my belief that the hash comparisons should match the comparisons done in the get FSM in order to trigger read repair. As the get FSM only uses the vclock to trigger read repair, I  think it makes sense for AAE to only hash the vclock. As riak_object:hash already pulls out the vclock and sorts it to give a canonical vclock, we could do the same and simply pass the sorted vclock alone to the h

[2015-10-08 00:54] jonmeredith commented on #1189
I think you need vclock plus dots, but in principle yes.
We got burned by bugs with an early customer where we were generating the
same vclock for two different events so I would rather decouple the
mechanism.

Don't forget we have write once data and last_write_wins stuff going on too
- that makes it more robust.

On Tue, Oct 6, 2015 at 12:24 PM Basho JIRA bot! notifications@github.com
wrote:

[2015-10-08 06:20] russelldb commented on #1189
I think it's a great idea, but it only counts for post per-key-actor-epoch version vectors. Before then we could conceivably have two VVs that mean totally different histories.

We need a quick fix/workaround, but medium term this canonical hash needs to be considered in whatever new object format we come up with.

[2015-10-08 08:22] shino commented on #1188
@jonmeredith thanks for recommendation. Russel also gave some ideas in hipchat.

There are three points to be fixed:
- Indefinite redirect retry loop
- Redirection of redirection may leads to exponential growth of put fsm processes
- Difference between views of healthy node between redirecting node and redireted node

and idea to fix each of them:
- Set max count for coordinator redirect, default

[2015-10-08 14:01] jonmeredith commented on #1189
Canonical hash absolutely has to be considered in object format and any
payloads that use it.

On Tue, Oct 6, 2015 at 12:24 PM Basho JIRA bot! notifications@github.com
wrote:

[2015-10-09 16:54] Basho-JIRA commented on #1207
I came across the cause of this while I was investigating something else. The fix was a one liner and it was affecting me so fixed it in branch: https://github.com/basho/riak_kv/tree/feature/at/rts365_error_every_other_query

**_[posted via JIRA by Andy Till]**_

[2015-10-09 17:04] Basho-JIRA commented on #1207
It quacks like a fix and walks like a fix, so it's very likely the fix.

**_[posted via JIRA by Andrei Zavada]**_

[2015-10-12 19:29] Basho-JIRA commented on #1207
This fix is now merged into end-to-end/timeseries.

**_[posted via JIRA by Andy Till]**_

[2015-10-13 20:09] alexmoore commented on #1207
Now I'm getting a different "every other query" error:

[code]

[2015-10-13 20:11] alexmoore commented on #1207
All that shows up in the response is `bad_qid`.

[2015-10-26 17:38] jonasrichard opened #1238 "riak_kv memory backend has very likely a memory leak [JIRA: RIAK-2240]"
When using memory backend with TTL defined, and if we get a key which is stale (according to the TTL value), the code removes the objects from the DataRef and IndexRef tables but not from the TimeRef (time index) ETS table.

https://github.com/basho/riak_kv/blob/b107be2e6c4135eaeeca98f0350f41cbb9033bce/src/riak_kv_memory_backend.erl#L183

It can be seen after executing an `ets:i()`:

[code]

78782

[2015-10-26 18:00] jonasrichard commented on #1238
Please check this branch, in theory it fixes the issue.

https://github.com/jonasrichard/riak_kv/tree/fix_riak_kv_1238

[2015-11-02 19:34] zeeshanlakhani opened #1252 "Handle Tombstone Collapsing [JIRA: RIAK-2260]"
In cases where objects are created and deleted in parallel and then merged, should we merge them down to a single tombstone?

[2015-11-03 23:07] Basho-JIRA commented on #1064
[~drohrer]Given Engel's comment above, can we investigate this issue and close if needed?

**_[posted via JIRA by Seema Jethani]**_

[2015-11-05 16:29] lukebakken opened #1256 "Error in TsGetReq / TsDelReq [JIRA: RIAK-2266]"
[code]

[2015-11-05 16:39] lukebakken commented on #1256
This is the error returned when an incorrect key is passed to the `TsPutReq` and `TsDelReq` operations.

[2015-11-05 18:24] lukebakken opened #1257 "Error in TsGetReq when invalid data passed in key [JIRA: RIAK-2267]"
Using the following table def:

[code]

If you make a `TsGetReq` with a `TsCell` whose `double_value` is set for the `time` parameter as opposed to using `integer_value`, Riak will return a `badarith` error.

Expected: Riak TS should validate that keys passed to it for `TsGetReq` and `TsDelReq` have the correct count of `TsCell` values and that the data in the cells are as expected. If not, a frie

[2015-11-06 04:45] hmmr commented on #1256
Just happened to fix this in https://github.com/basho/riak_kv/commit/cf6151ef. Some gitwork is needed to make a PR out of it; will look at it tomorrow.

[2015-11-06 16:45] alexmoore commented on #1207
This has been fixed.

[2015-11-06 16:45] #1207 closed, assigned to nobody

[2015-11-06 17:50] Basho-JIRA commented on #1257
PR:
https://github.com/basho/riak_kv/issues/1257

**_[posted via JIRA by Derek Somogyi]**_

[2015-11-06 19:04] #1257 closed, assigned to nobody

[2015-11-06 19:47] Basho-JIRA opened #1261 "Return empty message for non-existant TS Single Row Fetch instead of error. [JIRA: RTS-565]"
Currently if you do a single row fetch in TS and the row doesn't exist, it returns an error.  It should return an empty response instead.

**[Created in JIRA by Alexander Moore]**

[2015-11-06 21:51] lukebakken opened #1263 "RpbIndexReq returns unexpected response. [JIRA: RIAK-2269]"
https://github.com/basho/riak_pb/blob/end-to-end/timeseries/src/riak_kv.proto#L176

To reproduce:
- Build Riak TS from current `end-to-end/timeseries` branch.
- Run specific Node.js client test. Prerequisites are `npm` and `node` installed:

[code]

You will see error messages like the following:

[code]

The test sets [`return_terms` to `true` on the `RpbIndexReq`](https://github.com/basho/riak_p

[2015-11-06 23:30] #1261 closed, assigned to alexmoore

[2015-11-07 14:38] macintux commented on #1263
It looks like there's an empty result set with the wrong message type sent at the end of streaming results; everything else looks reasonable as far as I can tell from my testing with the Erlang client.

[2015-11-07 14:42] macintux commented on #1263
[code]

[2015-11-07 14:43] macintux commented on #1263
Example:

[code]

[2015-11-07 14:43] macintux commented on #1263
Should be seeing index terms returned there too, not sure what to make of that.

[2015-11-07 16:07] lukebakken commented on #1263
Thanks for looking at this. Let me know if I can help.

[2015-11-08 01:59] macintux commented on #1263
ah, `return_terms` (plural), so that mystery at least is solved.

[2015-11-08 02:33] macintux commented on #1263
PR filed @lukebakken.  Thanks again for the good catch.

[2015-11-08 13:06] #1263 closed, assigned to macintux

[2015-11-09 22:46] JeetKunDoug opened #1265 "Investigate riak_core_capability:get and maybe using mochiglobal to speed up perf [JIRA: RIAK-2286]"
This line:
riak_object.erl:1120

Appears to be a bottleneck in the put path - if you just return false, it runs much faster. We are not sure, however, if it's the compression that's the problem or the capability check - it now appears that it's the capability check that is the issue.
Test always returning _true_ and see if compression of the vclock is the issue, or if it's the capability check (ET

[2015-11-10 17:25] #1256 closed, assigned to nobody

[2015-11-11 18:01] lukebakken commented on #1123
basho/riak_pb#161
basho/riak_api#99
basho/riak-erlang-client#248

[2015-11-13 20:45] bsparrow435 opened #1269 "2i AAE not reporting or repairing correctly [JIRA: RIAK-2293]"
Modified riak_test as well as manual testing shows 2i_aae is not repairing forcibly removed index entries although it is reporting as successful. Subsequent runs report the same entries but none are repaired.

Will add more information soon.

[2015-11-17 17:12] jonmeredith commented on #1238
Thanks @jonasrichard sorry this has sat for so long.

[2015-11-18 19:44] macintux commented on #1238
Trivial automated test passes, code looks good. I believe the extra `time_entry/4` function clause to be unnecessary because the logic leading to that invocation will not permit an undefined `TimeRef` value, but the `put` function is sufficiently murky it's a good idea to include it anyway.

My hope is to do some additional cleanup on the module to make the logic much easier to follow, but this pa

[2015-11-19 14:16] jonasrichard commented on #1238
Sounds great. Yeah, I found traces of history of ideas in the code, but that is the way it goes.

[2015-12-07 01:21] jonmeredith opened #1293 "w1c remaining timeout calculation mistake [JIRA: RIAK-2317]"
The remaining w1c timeout calculation works out the elapsed time in microseconds then forgets to convert to milliseconds before adjusting the timeout.  Noticed when I added so much debug logging to track down something else it started to trip in batch sizes of 300.

https://github.com/basho/riak_kv/blob/end-to-end/timeseries/src/riak_kv_w1c_worker.erl#L399

[code]

Would recommend a fix like this

[2015-12-07 01:57] Basho-JIRA commented on #1293
[~dsomogyi] MUSTFIX for 1.0

**_[posted via JIRA by Jon Meredith]**_

[2015-12-07 17:26] Basho-JIRA commented on #1293
https://github.com/basho/riak_kv/pull/1295

**_[posted via JIRA by John Daily]**_

[2015-12-07 23:18] #1293 closed, assigned to macintux

[2015-12-09 15:18] Ducatel opened #1301 "Performance issue on https interface [JIRA: RIAK-2320]"
Hi everyone,

I have a bad performance on read/write through the HTTPS interface.

[code]

I just update a little my `riak.conf`

[code]

I use riak `2.1.2` in a docker container.
My server:
- 2 core of Xeon E5v3
- 8 Go ram
- All FS on SSD

So is it normal ?
How I can improve that ?

Thanks for your help ;)

PS: I have the same trouble when I used the PHP API.

[2015-12-11 01:34] slfritchie commented on #1188
Ping @JeetKunDoug and @jonmeredith ... I know that the KV team has quite a few items in the backlog, but mitigating this problem would be really useful for reducing certain ops pains (and commensurate Support load).

[2015-12-14 10:38] xinuc commented on #854
still experiencing this issue.

is there any quick fix?

[2015-12-14 22:47] erikleitch opened #1307 "a/sync_put mashup [JIRA: RIAK-2329]"
As a knock-on effect of last-minute performance changes, we have created a bizarre situation where TS W1C path with async_put=true now calls down to eleveldb:sync_put, which is really actually a synchronous put, and async_put=false calls down to eleveldb:put, which is not actually a synchronous put at all

This should be sorted out for TS1.1:
- async_put=true should call down to eleveldb:async_put

[2015-12-15 07:22] Basho-JIRA opened #1308 "The query sub-system does not have resilience to worker failures [JIRA: RTS-760]"
The current supervision structure for the query sub-system in TS has riak_kv_qry_sup (qry_sup in short form) supervising qry_queue and all the qry_workers.

First of all the best way to set this up is have a simple_one_for_one qry_worker_sup that supervises all the qry_worker processes. qry_sup should then supervise qry_queue and qry_worker_sup using a rest_for_one strategy - if the qry_queue is g

[2015-12-15 10:13] Basho-JIRA commented on #1308
Currently the client process will time out after the configured period and return a timeout error, including if the qry_worker crashes and gets restarted.  There are some known issues withe the query system here: https://docs.google.com/document/d/1nAFF4c74uy0C_ehi2SDMwxYIWwvaMKaQt8oe2b0SXGQ/edit

**_[posted via JIRA by Andy Till]**_

[2015-12-15 11:53] Basho-JIRA commented on #1308
It sounds like we have taken a decision to ship without dealing with worker failures fully - how many know of that decision? And who was involved in taking it?

**_[posted via JIRA by Torben Hoffmann]**_

[2015-12-15 15:45] Basho-JIRA commented on #1308
Not sure what you're suggesting here.  The doc is available, has been circulated several times, and is maintained, at least by myself when I made changes to the query system.

**_[posted via JIRA by Andy Till]**_

[2015-12-16 09:11] Basho-JIRA commented on #1308
Discussed it with Jon M.

Given that this might be something that we can fix by leveraging the coverage functionality of Riak it does not make sense to fix it while we are in a hurry for 1.1.
Something to fix when we have enough time to take the right decision for the long term.

**_[posted via JIRA by Torben Hoffmann]**_

[2016-01-04 16:45] nerophon opened #1316 "`fold_preflist_filter` = `true` causes a problem in RiakCS functionality [JIRA: RIAK-2339]"
Codepoint is here:
https://github.com/basho/riak_kv/blob/942b2bd95266702f6d3feb035511d541cefc6d1e/src/riak_kv_vnode.erl#L1859

Symptoms: customer using RiakCS found that, when setting `fold_preflist_filter` to true via `riak attach` at runtime, the result of `s3cmd la` was invariably an empty list. The command should in fact list all objects in all buckets.

Resolution: setting `fold_preflist_filt

[2016-01-04 16:46] nerophon commented on #1019
Warning! As of now setting this to true causes a problem in RiakCS. See issue #1316.

[2016-01-04 17:25] Basho-JIRA commented on #1093
PR: https://github.com/basho/riak_kv/pull/1111

**_[posted via JIRA by Derek Somogyi]**_

[2016-01-05 21:09] Basho-JIRA commented on #1307
Comments in  https://github.com/basho/riak_kv/pull/1320

**_[posted via JIRA by Erik Leitch]**_

[2016-01-06 18:36] Basho-JIRA commented on #1307
Closing this as it has been deferred to TS 1.2 or after.  RTS-820 has been created for "picking this work back up" and is currently targeted for TS 1.2 release.

**_[posted via JIRA by Derek Somogyi]**_

[2016-01-06 18:36] #1307 closed, assigned to hazen

[2016-01-19 01:26] ksauzz opened #1326 "Leveldb backend leaves empty partitions' directories even after handoff finished. [JIRA: RIAK-2355]"
It seems eleveldb:destroy/2 have been changed its behavior. This is not harmless, but leveldb's data directory looks a little messy since it always has all partition in the cluster.

[2016-01-22 15:24] lukebakken opened #1329 "Multi backend not returning "indexes_not_supported" when expected [JIRA: RIAK-2360]"
Riak 2.1.3 devrel, built with Erlang basho/otp OTP_R16B02_basho10rc2

Following the examples here: http://docs.basho.com/riak/latest/dev/using/2i/#Examples

Reproduction script is attached: [test-2i.txt](https://github.com/basho/riak_kv/files/101011/test-2i.txt)

Please create a bucket type named `people` using the leveldb backend (or use leveldb as the default Riak backend)

Output:

[code]

Outp

[2016-01-22 18:09] Basho-JIRA commented on #1064
We have found at least one legit memory leak in the memory backend thanks to [~nbellerophon]- I'll link the branches from 2.0.6/2.1.3 here and we should get them merged forward from 2.0 to 2.1.

**_[posted via JIRA by Douglas Rohrer]**_

[2016-01-22 18:11] Basho-JIRA commented on #1064
Please use this branch to pull in to 2.0.7. Maybe just PR directly from this to 2.0 branch if it merges cleanly.

**_[posted via JIRA by Douglas Rohrer]**_

[2016-01-22 20:43] Basho-JIRA commented on #1064
PR for 2.0 is at https://github.com/basho/riak_kv/pull/1331

**_[posted via JIRA by Douglas Rohrer]**_

[2016-01-26 14:19] lukebakken commented on #1329
@JeetKunDoug @jonmeredith - This only happens when typed buckets are used. I just added basho/riak_test#981 to begin adding tests. I added a test that does not use types, and will add typed tests going forward.

[2016-01-26 18:22] hazen commented on #1329
@lukebakken I'm assuming this problem exists back in 2.0, right?  I assume we'll want this for the next 2.0 release then, too, @JeetKunDoug?  Just making sure the fix lands in the right place.

[2016-01-27 14:40] lukebakken commented on #1329
@JeetKunDoug @javajolt - this gets even more interesting. I just ran `test-2i` against the devrel set up via `riak_test` and the script ran fine. The default backend for the devrel was `eleveldb`, as opposed to the multi backend I have been using. I am going to set up `2.1.3` with `eleveldb` as the default to see what happens.

[2016-01-27 14:52] JeetKunDoug commented on #1329
Hrm - so perhaps the multi-backend is the real culprit... interesting. Thank you for continuing to try to figure this out.

[2016-01-27 15:00] lukebakken commented on #1329
OK it gets even better.
- Originally, I used [this script](https://github.com/basho/riak-client-tools/blob/master/devrel/setup-examples#L90-L94) to set up bucket types for the Riak Docs code examples I was working on.
- While working on [this code example](https://github.com/basho/riak-go-client/blob/master/examples/dev/using/2i/main.go#L283-L324) I noticed that I would get multiple keys back, whi

[2016-01-27 15:39] lukebakken commented on #1329
If I have my cluster set to use `bitcask` as the default backend, and try to store an object with index data, I get this error, which is expected:

[code]

If I use multi backend with `bitcask` as the default, and save the same objects with index data to a type that is using the default backend, I do not get the same error.

[2016-01-27 22:22] Basho-JIRA commented on #1064
Please review PR linked in the comments.

**_[posted via JIRA by Douglas Rohrer]**_

[2016-01-28 21:51] joecaswell opened #1336 "Return value of the GET that schedules tombstone reap is silently discarded [JIRA: RIAK-2365]"
When deleting a value, the riak_kv_delete module replaces the value with riak tombstone, then calls riak_client:get to trigger reaping in accordance with delete_mode.  The response is sent to the client when the PUT completes, if the subsequent GET fails, for example timeout or overload, the tombstone is  not reaped.  This causes problems in use cases where keys are not reused, as there will be no

[2016-02-05 12:37] Basho-JIRA commented on #1189
I believe these issues refer to the same problem.

**_[posted via JIRA by Nicholas Bellerophon]**_

[2016-02-05 12:38] nerophon commented on #1189
This github issue is, I believe, in JIRA as both a critical bug and a major story:
https://bashoeng.atlassian.net/browse/RIAK-2043
https://bashoeng.atlassian.net/browse/RIAK-2193

[2016-02-08 18:51] awangc commented on #1269
Any updates to this issue?

[2016-02-08 20:31] bsparrow435 commented on #1269
@awangc yes, this work is currently blocked by our ongoing rework of AAE hashing to has only the vector clock and therefore eliminate the out-of-order metadata issue. This work is in progress but not yet complete. Once that is tested and merged, I can integrate my fix for the 2i AAE issue and make necessary changes based on that rework.

[2016-02-18 09:55] bashoshaun opened #1353 "returnbody parameter is ignored when bucket type has a true 'write_once' property [JIRA: RIAK-2396]"
The body of an HTTP is not returned when inserting an object into a bucket with write_once enabled, even when the returnbody parameter is true.  Example:

[code]

[2016-02-22 15:54] Basho-JIRA commented on #1064
This is in both 2.0 and develop-2.2 branch. Now done.

**_[posted via JIRA by Douglas Rohrer]**_

[2016-02-22 15:55] #1064 closed, assigned to nobody

[2016-02-27 14:41] jolson7168 opened #1356 "Riak KV (w/LevelDB backend) running as a single node does not persist data [JIRA: RIAK-2416]"
RiakKV in a single node, non-clustered setup does not seem to persist data to disk using LevelDB as a backend.

Overview of test:
1. Set up Riak KV as a single node using LevelDB as a backend
2. Write a kv pair to node
3. Stop and start riak using 'riak stop' and 'riak start'
4. Try to retrieve the kv pair. Any KV pairs written in step #2 will be gone.

Attached is the procedure I followed **verba

[2016-02-28 17:51] matthewvon commented on #1356
Problem is within DB::Open().  This routine creates an internal DBImpl object, but continues to use original parameters past to the call.  The DBImpl object contains the database name (database path) as corrected for tiered storage.  DB:Open()'s use of the original database path is incorrect.

The problem is limited to the first recovery log, 0000xxxx.log, created upon database start/restart.  All

[2016-03-01 13:17] matthewvon commented on #1356
This PR was merged to "develop" branch of leveldb 2/29/16:

https://github.com/basho/leveldb/pull/188

New release tags are pending.

[2016-03-01 18:05] zeeshanlakhani opened #1360 "the delete a CRDT and update a CRDT issue [JIRA: RIAK-2424]"
- a mergeable CRDT tombstone - aka write a CRDT tombstone that is an empty map so that it can be merged with the concurrent update

[2016-03-01 21:06] Basho-JIRA commented on #1156
https://github.com/basho/riak_kv/pull/1363

**_[posted via JIRA by Brian Sparrow]**_

[2016-03-01 21:37] Basho-JIRA commented on #1156
https://github.com/basho/riak_test/pull/1007

**_[posted via JIRA by Brian Sparrow]**_

[2016-03-02 21:49] Basho-JIRA commented on #1156
https://github.com/basho/riak_test/pull/1009 replaces 1007

**_[posted via JIRA by Brian Sparrow]**_

[2016-03-04 20:44] #1156 closed, assigned to nickelization

[2016-04-06 08:32] Basho-JIRA commented on #1353
Can anyone confirm if this is intended? Should there be no returnbody option on write once buckets? I think this should be fairly easy/quick to confirm and then we can let the customer know and close the ticket.

Thanks,
Dan

**_[posted via JIRA by Dan Brown]**_

[2016-04-14 16:37] whyteks opened #1393 "Package for Ubuntu precise/riak_2.1.4-1_amd64.deb broken! [JIRA: RIAK-2499]"
Automatic update to riak 2.1.4 perfomed by puppet broke riak across our cluster. (ok, auto update to 'latest' not such a great idea)

This is the change in the packages postinst from 2.1.3:

x@xx:/tmp$ diff 2.1.3/postinst 2.1.4/
29,31d28
< chown -R riak:riak /usr/lib/riak
< chown -R riak:riak /etc/riak
<

The result is that the .schema files (at least) in /usr/lib/riak/lib remain as owner:root and

[2016-04-14 19:42] deejay1 commented on #1393
I can confirm this issue, temporary workaround is doing a

[code]

[2016-04-15 00:55] JeetKunDoug commented on #1393
First, thank you for pointing out the packaging issue. We actually made the files under /usr/lib/riak root:root on purpose (see basho/node_package#196 for more information), but on our build machine the filesystem permissions were unfortunately set improperly for the Ubuntu 12 build. A better (and more secure) workaround would be to change the file mode to make sure it is readable (a+r), rather th

[2016-04-15 12:25] kappac opened #1394 "riak-2.1.4-1 on ubuntu crashes on startup [JIRA: RIAK-2501]"
I made a clean install of riak-2.1.4-1 package on Ubuntu 14.04 server from PackageCloud.

With default config server starts well as expected.

After nodename changing to riak@system_ip server crashes during start up:

`{"Kernel pid terminated",application_controller,"{application_start_failure,riak_core,{bad_return,{{riak_core_app,start,[normal,[]]},{'EXIT',{{function_clause,[{orddict,fetch,['riak

[2016-04-15 18:09] JeetKunDoug commented on #1394
Thank you for reporting this. I assume you're running Ubuntu 12.04? If so, please see #1393 and, if could, close this issue if it is the same problem. We will be issuing updated packages soon (today hopefully) that fix a permissions issue in the packaging. No code changes, just a packaging change, so it will be released as riak-2.1.4-2.

[2016-04-16 10:49] kappac commented on #1394
Hi, thank you for your response! I'm using Ubuntu 14.04.4 LTS Server version. I tried suggestions in https://github.com/basho/riak_kv/issues/1393. I got this problem after permissions change.

[2016-04-16 11:18] kappac commented on #1394
I got the same problem with 2.1.4-2 build, but figured out the way to fix.

Steps to reproduce:
1. Run riak first time           ->            system starts, and everything works ok.
2. Stop riak.
3. Change config file(nodename or listener.http.internal).
4. Start riak                          ->            system craches with error mensioned above.

The same happens if I try restart riak with `se

[2016-04-19 17:26] JeetKunDoug commented on #1394
Sorry for misreading your stack trace - I should have realized it's a different issue. You are correct in that if you start a Riak node without setting the node name, and then stop the node/fix the name and restart, you will end up with this issue. We are working to make the cause of this particular crash more obvious than it is.

I'm going to close this now - please let us know if there's anythin

[2016-04-19 17:26] #1394 closed, assigned to nobody

[2016-04-19 17:28] JeetKunDoug commented on #1393
To close the loop, riak_2.1.4-2_amd64.deb is now posted at http://docs.basho.com/riak/kv/2.1.4/downloads/

Direct link is http://s3.amazonaws.com/downloads.basho.com/riak/2.1/2.1.4/ubuntu/precise/riak_2.1.4-2_amd64.deb.

I'm sorry for the inconvenience this caused you, and thanks again for letting us know of this packaging issue.

I'm going to close this issue - please let us know if you have any

[2016-04-19 17:28] #1393 closed, assigned to nobody

[2016-04-20 11:06] nerophon commented on #1238
I believe this is similar to or a duplicate of #1064, and finally fixed in branch:
https://github.com/basho/riak_kv/tree/hotfix/2.0.6-memory_backend_ets_leaks

[2016-04-20 11:32] jonasrichard commented on #1238
Yes, think so. I am closing this.

[2016-04-20 11:32] #1238 closed, assigned to nobody

[2016-04-20 15:03] kappac commented on #1394
Thank you for your response! Nothing else.

[2016-04-20 21:59] Basho-JIRA commented on #1393
Closed in GH so closing JIRA issue.  Updated package has been posted.

**_[posted via JIRA by Patricia Brewer]**_

[2016-04-21 21:45] Basho-JIRA commented on #1189
Added the label of 2.2 so we can track it in our 2.2 discussions and Kanban.  Did not put in the fix version of 2.2.0 until we have a sense that it will go in that release.

**_[posted via JIRA by Patricia Brewer]**_

[2016-04-22 17:02] Basho-JIRA commented on #1178
[~hmckelvey][~pbrewer] This has been seen affecting a customer more severely than we may have originally thought. We should schedule it for fix ASAP.

***[posted via JIRA by Douglas Rohrer]***

[2016-04-27 13:38] nerophon commented on #1178
This is severely affecting a customer. It prevents them from restarting cleanly, which indirectly resulted in a costly outage.

[2016-05-03 22:04] lukebakken opened #1411 "Riak TS - badarg error not translated to TTB correctly [JIRA: RIAK-2540]"
@rcgenova demonstrated an issue where the Python client mistakenly passes an empty list (`[]`) for the cover context in a query request when the actual value should be the `undefined` atom. This causes the following `{error, badarg}` which is not correctly TTB-encoded for the client's use:

[code]

The Python client gets message code 0 instead of 104 with `rpberrorresp` as the return atom.

I am f

[2016-05-03 23:05] lukebakken commented on #1411
The clients can be modified to expect message code `0` as well as `104` when dealing with TTB messages. This is a better fix as other parts of Riak can raise errors that have to be handled.

basho/riak-java-client#616
basho/riak-python-client#467

[2016-05-03 23:05] #1411 closed, assigned to hmmr

[2016-05-04 01:09] Basho-JIRA commented on #1411
Pushed a server-side fix in https://github.com/basho/riak_kv/pull/1412.

**_[posted via JIRA by Andrei Zavada]**_

[2016-05-04 20:38] dieu commented on #1064
Looks great that this problem is solved, but I still not found any release version with this fixes.

[2016-05-04 20:39] lukebakken commented on #1064
@dieu - based on @JeetKunDoug's comment, it will land in Riak 2.2

[2016-05-05 22:03] dieu commented on #1064
@lukebakken Yes, but how I understand that commit already merged into 2.0 branch (https://github.com/basho/riak_kv/pull/1331) but nobody build new version for 2.x.

[2016-05-05 23:05] JeetKunDoug commented on #1064
@dieu there will be a new 2.0 release in the coming weeks - we've been working hard on some difficult, rather hard-to-fix issues, but 2.0.7 is in the final review/testing phase right now. I can't give you a definitive date "until it's done" but it shouldn't be long now.

[2016-05-06 00:34] dieu commented on #1064
@JeetKunDoug thanks so much for your work!

Also I have question, what about 2.1.x? it's possible to have this patch into 2.1.x release?

[2016-05-06 12:37] JeetKunDoug commented on #1064
@dieu Riak KV 2.2.0 will be the next release after 2.1.4. Because 2.2.0 will be including an upgrade of Solr to 4.10.4 and an updated Erlang (R16B02_basho10) we felt it was appropriate to bump the minor version of Riak. We do not intend to release any additional Riak versions in the 2.1.x series. I realize this is a bit of a change from Basho's previous versioning schemes (we stayed with 1.4.x for

[2016-05-09 17:12] nickelization commented on #1178
PR'd a small, safe fix for this in the 2.0.x branch here: https://github.com/basho/riak_repl/pull/742

Leaving this issue open though, since I will write a better fix for the 2.2 branch involving riak_kv APIs and removing the overload-disabled code path.

[2016-05-13 11:10] emauton opened #1418 "API crash: mishandling of some atom error responses in Riak TS PB/TTB service. [JIRA: RIAK-2556]"
For riak-ts_1.3.0-1_amd64.deb from http://docs.basho.com/riak/ts/1.3.0/downloads/

Throwing some basho_bench load at Riak TS, I get lots of 'disconnected'. Looking at Riak TS itself, the PB server is crashing on a `badarg`:

[code]

This is the atom `overload` not being translated and dropping off the end of the case at
  https://github.com/basho/riak_kv/blob/2.1.3-ts/src/riak_kv_ts_svc.erl#L445

[2016-05-18 16:38] Basho-JIRA commented on #1189
The plan is still to release a patch as well as the feature with 2.2 Two issues have delayed the patch:
1. We've identified an issue with pre 2.1 data where data will become permanently irreparable with the new hashing scheme. We need to use the old hashing scheme and the read repair code to do a full sweep before a user upgrades to the new hashing. This code is complete but not yet reviewed.
2. T

[2016-05-18 17:32] Basho-JIRA commented on #1178
Removing 2.2 tag: will open a separate issue for the 2.2 version of the bug fix, since it's substantially different and still in progress.

**_[posted via JIRA by Nick Marino]**_

[2016-05-18 17:33] nickelization commented on #1178
Stupid JIRA. Reopening...

[2016-05-18 17:42] Basho-JIRA opened #1419 "2.2 - Fix get/put FSM supervisor PID leak when overload protection is enabled [JIRA: RIAK-2567]"
null

**[Created in JIRA by Nick Marino]**

[2016-05-18 17:43] nickelization commented on #1419
Argh, stupid JIRA. Deleting this...

[2016-05-18 17:43] #1419 closed, assigned to nickelization

[2016-05-18 17:53] Basho-JIRA commented on #1178
Ignore the above comment. It was posted involuntarily due to my commenting on the deletion of a redundant GitHub issue that JIRA also created without asking me.

***[posted via JIRA by Nick Marino]***

[2016-05-19 05:55] Basho-JIRA commented on #1178
[~drohrer]this is the 207 pid leak story.  Doesn't have a fix version yet, so just wanted to double check with you that you see it is merged.  I probably shouldn't just plug in fix versions.

**_[posted via JIRA by Patricia Brewer]**_

[2016-05-19 13:47] Basho-JIRA commented on #1178
[~pbrewer] here is the PR where this was merged into the 2.0 branch: https://github.com/basho/riak_repl/pull/742

Does this mean I should put "2.0.7" into the "fix version" field? I've never really payed attention to that field before, so want to make sure I understand it before I go messing with it.

**_[posted via JIRA by Nick Marino]**_

[2016-05-19 15:04] Basho-JIRA commented on #1178
If it's fixed and merged, yes, please mark it as "2.0.7" in the fix version.

**_[posted via JIRA by Douglas Rohrer]**_

[2016-05-31 22:34] Basho-JIRA commented on #1411
The PR with a fix has been merged 25 days ago (and a fixup for that, too, in https://github.com/basho/riak_kv/pull/1422).

**_[posted via JIRA by Andrei Zavada]**_

[2016-06-16 13:03] macintux opened #1429 "Consider distributing TS coverage chunks evenly [JIRA: RIAK-2632]"
[code]

Notice that both partitions in the 2nd request are located on dev1.

[2016-06-20 18:11] Basho-JIRA commented on #1178
For 2.0.7, the fix is in https://github.com/basho/riak_repl/pull/742

For 2.2.0, a more complete fix is in https://github.com/basho/riak_kv/pull/1420 (removing the old code completely).

**_[posted via JIRA by Douglas Rohrer]**_

[2016-07-01 19:33] ian-mi opened #1433 "riak_kv_put_fsm can become stuck in finish state [JIRA: RIAK-2670]"
In working ticket [#13749](https://basho.zendesk.com/agent/tickets/13749) we saw put FSMs stuck in the finish state. These FSMs had been stuck for nearly a day and caused the FSM limit of 50,000 to be reached preventing further puts from being executed. The FSMs in the state appeared to have replied with {error, all_nodes_down} before entering the finish state.

The finish state relies on a timeou

[2016-07-01 19:47] Basho-JIRA commented on #1433
Process info from a stuck put FSM:

{code}
    0x00007fef28df8bc0 Return addr 0x0000000000866af8 (<terminate process normally>)

[code]

{code}

**_[posted via JIRA by Ian Milligan]**_

[2016-07-05 21:24] Basho-JIRA commented on #1433
Found this thread on erlang-questions which addresses the practice of relying on a 0 timeout to trigger an event: http://erlang.org/pipermail/erlang-questions/2015-July/085314.html

This confirms that an enqueued message can prevent the timeout event from being sent. A more reliable method would be to send an async event to ourself before a state transition.

**_[posted via JIRA by Ian Milligan]**

[2016-07-19 05:11] Basho-JIRA commented on #1433
Was able to reproduce this deadlock using eqc/PULSE:

{code}
1> eqc:quickcheck(put_fsm_coord_redir:prop_pulse_redir()).
Starting Quviq QuickCheck version 1.37.2
   (compiled at {{2016,2,29},{10,50,19}})
Licence for Basho reserved until {{2016,7,18},{21,35,56}}
.Failed! Reason:
{'EXIT',deadlock}
After 2 tests.
{18829,91390,59943}
false
{code}

The following is a log of events from PULSE:

{code}
[{

[2016-07-27 00:54] point9repeating commented on #1418
I have seen the same thing happening. We will get an error message from our client that says "no response from backend". If I look at the riak error and crash logs, I see exceptions like the following:

`{{error,badarg,[{erlang,iolist_to_binary,[overload],[]},{riak_kv_ts_svc,make_rpberrresp,2,[{file,"src/riak_kv_ts_svc.erl"},{line,483}]},{riak_kv_ts_svc,sub_tsqu
eryreq,4,[{file,"src/riak_kv_ts_svc

[2016-07-27 20:47] lukebakken commented on #1418
@angrycub a fix should be planned for 1.4

[2016-08-01 17:12] #1178 closed, assigned to nickelization

[2016-08-15 18:24] alexmoore opened #1463 "Riak TS Overzelous Log Messages [JIRA: RIAK-2764]"
With 1.4.0 RC4, I get these messages in Riak's error.log whenever I create a new bucket-type:

[code]

This should probably be logged as warning or info instead of error.

[2016-08-17 16:34] alexmoore opened #1464 "Riak TS: Performing single row fetches sometimes results in "timeout" [JIRA: RTS-1328]"
Sometimes when performing a single row fetch operation over the TTB interface, I get back the error "timeout" with code 1010.

The issue seems to resolve itself fairly quickly, as subsequent fetches and queries will pull back the row successfully.

Probably EC in action, but a more descriptive error message would be better.

Will update issue with a reproducer test link.

[2016-08-17 16:41] alexmoore commented on #1464
See https://github.com/basho/riak-java-client/blob/kv-1464-reproducer/src/test/java/com/basho/riak/client/api/commands/itest/ITestTimeSeriesFetchBug.java for a reproducer test.

Test can be run with:
`mvn test -Dtest=ITestTimeSeriesFetchBug -Dcom.basho.riak.pbcport=10017 -Dcom.basho.riak.timeseries=true`

May take many runs to reproduce, have had more success with larger devrel clusters (4-5 devre

[2016-08-17 17:08] alexmoore commented on #1464
Error is thrown here: https://github.com/basho/riak_kv/blob/a1ba1f4bad805a9e043b43495a74dac1d05267a8/src/riak_kv_ts_svc.erl#L309-L310

[2016-08-22 22:45] Basho-JIRA commented on #1464
Fix pushed to https://github.com/basho/riak_kv/pull/1466

**_[posted via JIRA by Andrei Zavada]**_

[2016-08-24 00:11] Basho-JIRA commented on #1464
Following a discussion, it was decided to disallow 0 for a timeout value (and thus, no 'infinity') in get, delete and list_keys API calls. No change is required in riak_kv; and [~amoore] will take care of diagnosing and handling this situation in clients.

**_[posted via JIRA by Andrei Zavada]**_

[2016-08-25 19:08] #1464 closed, assigned to alexmoore

[2016-09-01 03:25] johnzhou2011 opened #1471 "Riak KV memory backend did't discarding oldest objects when met max memory [JIRA: RIAK-2781]"
## ENV

OS: CenterOS 6.5
Riak KV:2.1.4
Installed by:

## My Setting:

## Document

[http://docs.basho.com/riak/kv/2.1.4/setup/planning/backend/memory/](url)

## Setps

1.Use sh to Loop POST [512kb] files (0.ts,index.m3u8,1.ts,index.m3u8,2.ts,index.m3u8........)
2.When meet the max memory 2 MB, some object discarded but not beginning with the oldest object(index.m3u8 discarded)
[curl.sh.txt](https:

[2016-09-01 15:50] macintux opened #1472 "Crashing errors when using date/time strings in riak-shell [JIRA: RIAK-2782]"
This appears to be a consequence of a nonsensical query (> noon and < 1pm, when using reduced accuracy times, is effectively the same as `>= X andalso < X`.

[code]

[2016-09-02 19:57] macintux commented on #1472
This problem arises only at quantum boundaries.

[code]

[2016-09-02 20:25] macintux commented on #1472
Provisional fix committed: https://github.com/basho/riak_kv/commit/56fc414536ddb83501bfb3518f1924cbad235dd3

[2016-09-06 15:36] macintux commented on #1472
[code]

[2016-09-06 17:19] Basho-JIRA commented on #1472
PRs: https://github.com/basho/riak_kv/pull/1474, https://github.com/basho/riak_test/pull/1138

**_[posted via JIRA by John Daily]**_

[2016-09-07 15:32] binarytemple-external commented on #1189
@bsparrow435 is this still due for inclusion with 2.2 ?

[2016-09-07 15:36] binarytemple-external commented on #1151
@ksauzz - I've previously created a more detailed version in Riak repository [here](https://github.com/basho/riak/issues/856) should it be moved to riak_kv repository?

[2016-09-08 01:46] ksauzz commented on #1151
hmm, I think either is fine since it seems Jira keeps track of Riak issues over the repositories. Feel free to close this issue.

[2016-09-13 16:02] Basho-JIRA commented on #1472
Both PRs have now been merged.  Probably OK to close.

**_[posted via JIRA by Brett Hazen]**_

[2016-09-13 21:53] #1472 closed, assigned to macintux

[2016-09-18 02:29] johnzhou2011 commented on #1471
@macintux
Hi, John. Any idea about this?

[2016-09-20 15:48] macintux commented on #1471
I suspect you're hitting a documentation precision problem.

Each instance of the memory backend across the cluster has a subset of the full keys. The backend instance that fills up will delete the oldest objects it has stored, not the oldest objects across the cluster.

Furthermore, when one instance deletes an object, it does not notify the rest of the cluster, so the other memory backend instan

[2016-09-22 11:01] lishen-kingsoft commented on #1471
@macintux
the index.m3u8 file update every second,so why index.m3u8 discarded instead of discard *.ts which never update?

[2016-09-23 10:18] deejay1 commented on #1393
It seems like the trusty package is also broken this way...

[2016-09-26 22:03] joecaswell opened #1486 "Missing case clause in riak_object:fold_contents [JIRA: RIAK-2789]"
riak_object:fold_contents/3 calls [riak_kv_crdt:merge_value/2](https://github.com/basho/riak_kv/blob/develop/src/riak_kv_crdt.erl#L225-L240) in a case statement at [line 452](https://github.com/basho/riak_kv/blob/develop/src/riak_object.erl#L452).
3 of the possible return values are handled but there is a 4th that is not.

If the value starts with a capital 'E', but `deserialize_crdt/2` fails, mer

[2016-09-27 19:29] #1189 closed, assigned to nobody

[2016-09-29 17:11] Basho-JIRA commented on #1123
+ [~angrycub]

***[posted via JIRA by Pavel Hardak]***

[2016-10-05 18:56] bsparrow435 commented on #311
We spent quite a bit of time today discussing this behavior and have decided to roll better reaping functionality into AAE as opposed to relying entirely on the get after put which might not be done propagating(depending on dw/pw settings). Additionally, when AAE is used as a view of the data for scans etc, we'll be smarted about sifting out tombstones.

Thanks everyone for their discussion and co

[2016-10-05 18:56] #311 closed, assigned to nobody

[2016-10-05 19:15] #312 closed, assigned to nobody

[2016-10-05 21:20] #318 closed, assigned to nobody

[2016-10-06 15:52] bsparrow435 commented on #434
This functionality exists with the addition of exometer_core.

[2016-10-06 15:52] #434 closed, assigned to nobody

[2016-10-06 15:58] #452 closed, assigned to russelldb

[2016-10-10 19:49] paulhenrich opened #1497 "riak_kv_util:get_index_n doesn't handle error case [JIRA: RIAK-2810]"
in [riak_kv_util:get_index_n/1](https://github.com/basho/riak_kv/blob/develop/src/riak_kv_util.erl#L187):

[code]

This function calls `riak_core_bucket:get_bucket(Bucket)` and doesn't handle the `{error, ...}` case in the following call. We see this causing crashes in `verify_handoff_write_once` that do not cause the test to fail but indicate some code path is actually hitting this on a running c

[2016-10-10 20:17] russelldb commented on #1497
Looks like the API changed back when we introduced bucket types, and that this (and maybe other) consumers were not updated:

https://github.com/basho/riak_core/commit/b74d7d5bef190feb47f50e4b95dfec0e257ff02d?diff=split

Might be worth grepping the code for other possible instances?

[2016-10-19 20:15] mikedotson opened #1508 "riak_kv_put_fsm:execute_remote doesn't include schedule_timeout Raw [JIRA: RIAK-2896]"
Finding the following in the console log when cluster nodes are slow:

[code]

(https://github.com/basho/riak_repl/blob/develop/src/riak_repl_util.erl#L180-L190)

Shows that we're erroring out during the `wait_for_response` call in `do_repl_put`.  Tracing back to (https://github.com/basho/riak_repl/blob/develop/src/riak_repl_util.erl#L146-L148)

`riak_kv_put_fsm:start_link()` converges to `riak_kv

[2016-10-25 23:04] #1486 closed, assigned to nobody

[2016-10-31 21:27] Basho-JIRA commented on #1123
From GT Nexus (Oct 31, 2016)
I saw that we have use an riak-admin command to create and activate a bucket type. Is there a way to do it from the java client..without doing it manually?
https://basho.zendesk.com/agent/tickets/14127

***[posted via JIRA by Pavel Hardak]***

[2016-11-01 02:57] Basho-JIRA commented on #1123
From old emails:

---------- Forwarded message ----------
From: John Daily <jdaily@basho.com>
Date: Wed, Dec 16, 2015 at 11:41 AM
Subject: Re: Table creation API
To: Luke Bakken <lbakken@basho.com>
Cc: Time Series <eng.ts@basho.com>

Luke, since you’re the author of the current PRs, and I’m about to
head out on vacation...

We need to add a check for riak_core_security:is_enabled() to
riak_core_pb

[2016-11-01 02:57] Basho-JIRA commented on #1123
From GT Nexus (Oct 31, 2016)
{quote}I saw that we have use an riak-admin command to create and activate a bucket type. Is there a way to do it from the java client..without doing it manually?{quote}
https://basho.zendesk.com/agent/tickets/14127

***[posted via JIRA by Pavel Hardak]***

[2016-11-01 14:41] Basho-JIRA commented on #1123
Removed myself as "Assignee".

Since it requires a relatively significant amount of work from KV I suggest we keep it in KV and Clients will simply support the effort once it is prioritized and added to a release.
+ [~angrycub] / [~pbrewer]

***[posted via JIRA by Derek Somogyi]***

[2016-11-01 19:34] Basho-JIRA commented on #1123
+ [~jmusser]

***[posted via JIRA by Pavel Hardak]***

[2016-11-02 20:00] Basho-JIRA commented on #1307
[~kclark]

**_[posted via JIRA by Korrigan Clark]**_

[2016-11-02 20:05] Basho-JIRA commented on #1307
[~brett]

**_[posted via JIRA by Korrigan Clark]**_

[2016-11-03 14:19] Basho-JIRA commented on #1123
There are two competing proposals for providing this functionality.  Riak Explorer and the referenced PRs.  Both have their merits; however, I think the agreement that we all need to make is "where should a management API live in the long term?"  In the case of Riak Explorer, it can be separated both physically and logically from the KV nodes that it is managing.  Incorporating it directly into KV

[2016-11-11 13:19] Basho-JIRA opened #1533 "Expose more query buffer tunables in riak_kv.schema [JIRA: RTS-1520]"
There may be a need to add more configurable items, and possibly add new ones to the riak_kv schema. As [~eleitch] pointed out, specifically on throttling the dispatch of subqueries:

Andrei:

Erik:

So at least the throttling window size needs to be configurable. And possibly

**[Created in JIRA by Andrei Zavada]**

[2016-11-15 16:19] bsparrow435 opened #1537 "Index hashtree upgrade could stall if node added at specific time [JIRA: RIAK-2976]"
If a new node is added to the cluster after the index_hashtree upgrade has started or finished and the new node has legacy trees, the new node could end up in a situation where the trees will never upgrade. Should add a check here: https://github.com/basho/riak_kv/blob/develop-2.2/src/riak_kv_entropy_manager.erl#L689 to check the remote nodes pending_version and version and if either is NOT legacy

[2016-11-16 11:43] binarytemple-external commented on #1418
1.4 was released in August, might do with a fix version label.

[2016-11-19 17:04] lukebakken opened #1541 "Commit hook not called when set on bucket type [JIRA: RIAK-2988]"
See the following riak-users message:

http://lists.basho.com/pipermail/riak-users_lists.basho.com/2016-November/018839.html

Entire thread:

http://lists.basho.com/pipermail/riak-users_lists.basho.com/2016-November/018827.html

[2016-11-21 20:38] Basho-JIRA commented on #1418
Addressed in:
* https://github.com/basho/riak_kv/pull/1544
* https://github.com/basho/riak_test/pull/1204

***[posted via JIRA by James Gorlick]***

[2016-11-23 20:09] #1418 closed, assigned to nobody

[2016-11-25 17:02] lukebakken commented on #1360
More details from @russelldb -

[2016-11-25 17:58] lucafavatella commented on #1360
Do I understand correctly that this ticket does not apply to the case [`delete_mode`](https://docs.basho.com/riak/kv/2.2.0/using/reference/object-deletion/#configuring-object-deletion) set to `immediate`?

[2016-11-28 15:02] lucafavatella commented on #1360
I see that this semantics would follow [the semantics of a set that is a field of a map](https://github.com/basho/riak_dt/blob/f96f943ca66902e12263a445cf9099d7f635d5ab/src/riak_dt_map.erl#L59-L65).

[2016-11-29 15:46] mav4001 commented on #1541
This seems to happen only on 2.0.x versions
In Version 2.1.4 the hooks are called with just a {bucket-type,object} tuple for buckets of a type, and a single argument Object for buckets that are not of a type

[2016-12-02 13:07] nerophon opened #1556 "riak_kv_http_cache hangs under load [JIRA: RIAK-3074]"
RiakKV stats can become stuck under high load.

Polling persistently fails as follows:

[code]

This issue has been reproduced by a customer in RiakKV `2.0.7` and by the client services team in RiakKV `2.2.0`. The customer sees it under high production load. We also see it under high test load, specifically a combination of:

+ upgrade to `2.2.0`
+ AAE tree rebuilds and/or Solr re-indexing
+ disk

[2016-12-06 17:00] fadushin opened #1561 "Call to raw_put in ensemble_put should fail [JIRA: RIAK-3096]"
In the back port to 2.0, we noticed that the call to raw_put at:

https://github.com/basho/riak_kv/pull/1557/files#diff-6b4885a6d597404589cb21dead13165aR1132

does not match the raw_put signature, and should fail.

This fix should be forward merged to 2.2.x

[2016-12-06 21:09] Basho-JIRA commented on #1556
This kind of timeout error is generally caused trying to get vnode statuses, which calls out to each vnode to get a few data points:

1) per_key_epoch information (Counter State for the vnode)
2) Backend status
3) Vnode ID

Originally, we thought this was just to get the backend status/eleveldb-specific stats that could have been done a different way, but it ends up there's more than just backend

[2016-12-07 12:43] bashoshaun opened #1564 "Custom Bucket Type Properties have odd criteria [JIRA: RIAK-3106]"
It's currently possible to create a bucket-type property with a custom name that has no defined or documented behaviour.  Example:

[code]

However, you can only add a property with a custom name as long as that name can be converted into an existing atom.  This seems like a bizarre criteria for allowing custom properties, and is also out-of-line with how things are handled when adding a custom pr

[2016-12-12 21:05] Basho-JIRA commented on #1561
[~fdushin] Please estimate when you have a moment.

***[posted via JIRA by Patricia Brewer]***

[2016-12-21 15:50] Basho-JIRA commented on #1307
Reopening per a discussion with Brett.  Required for the KV/TS Merge.  Includes code cleanup.

***[posted via JIRA by Derek Somogyi]***

[2016-12-21 20:13] Basho-JIRA commented on #1533
Done in https://github.com/basho/riak_kv/pull/1550.

***[posted via JIRA by Andrei Zavada]***

[2016-12-21 20:16] #1533 closed, assigned to hmmr

[2016-12-27 14:47] andrelaszlo commented on #1128
This happens for me too. Riak 2.0.5.

[code]

[2016-12-30 11:35] lucafavatella commented on #1123
What would help for completing this? I understand that the most current proposal for this is tracked in the following tickets that look in good shape:
* https://github.com/basho/riak_pb/pull/161
* https://github.com/basho/riak_api/pull/99
* https://github.com/basho/riak-erlang-client/pull/248

This would be nice to have for simplifying deployments, as it would remove the need of [using the CLI](ht

[2016-12-30 16:26] lukebakken commented on #1123
@lucafavatella I'll forward your request to Product Management.

@angrycub

[2016-12-30 17:57] angrycub commented on #1123
This is a really good suggestion and something very much like it has been in the Product team’s backlog for awhile. We haven’t implemented it yet because there is some additional hidden complexity. The original custom bucket property implementation taught us that, if misused, the constant gossip of custom bucket properties will create undesirable performance characteristics. Our current implementa

[2017-01-11 03:36] Basho-JIRA commented on #1556
After making a riak_test to call `/stats` once a second, I was unable to create this overload scenario. Additionally, `riak_kv_wm_stats:get_stats()`, which is called when the cache is too old to handle the stats call, does not call out to the vnode status call. After tracing the code, I'd say we're probably looking at an exometer deadlock which could stall the http_cache waiting for results from t

[2017-01-20 23:50] Basho-JIRA opened #1606 "Add CORS support for Riak add-ons [JIRA: RTS-1709]"
In order for Grafana Riak TS Datasource plugin to communicate with Riak TS via the HTTP interface, cross-origin resource sharing (CORS) comes into play (*), so should be opened.

To allow customers to specify the allowable origins w/i their environment, the allowable_origins should be configurable. That said, the add-on and others that may come are optional so should be configured in advanced.conf

[2017-01-31 16:37] bsparrow435 commented on #1541
Fixed on 2.0 and 2.2

[2017-01-31 16:37] #1541 closed, assigned to nobody

[2017-02-03 22:26] lukebakken opened #1623 "MapReduce input lists can't include bucket type without key data [JIRA: RIAK-3248]"
Source line:

https://github.com/basho/riak_kv/blob/develop/src/riak_kv_mapred_term.erl#L111-L122

Consider the following inputs to MapReduce:

[code]

The linked code will not parse this correctly unless `KeyData` is also present, like this:

[code]

[2017-02-07 13:10] nerophon opened #1625 "LevelDB query files named by concatenating table fields in RiakTS 1.5 [JIRA: RTS-1760]"
https://github.com/basho/riak_kv/blob/riak_ts-develop/src/riak_kv_qry_buffers_ldb.erl#L43

The above code causes queries to fail where the table has a lot of fields, because the filename exceeds the limit permitted by the OS. This was experienced by a customer; the following log was retrieved:

[code]

This bug will automatically be fixed when https://github.com/basho/riak_kv/pull/1601 is complete

[2017-02-07 17:15] Basho-JIRA commented on #1625
The customer has expressed a desire to get these new 1.5 features into their next sprint which concludes Feb 20th. So that would be a patch or minor version if we're going to keep them happy there.
* Zendesk ticket is here: https://basho.zendesk.com/agent/tickets/14384

***[posted via JIRA by Derek Somogyi]***

[2017-02-08 03:14] Basho-JIRA commented on #1625
Fix pushed to https://github.com/basho/riak_kv/pull/1626.

***[posted via JIRA by Andrei Zavada]***

[2017-02-08 18:07] Basho-JIRA commented on #1556
Will do some larger testing to reproduce and will send notes to CliServ to instruct to get crash dump.

***[posted via JIRA by Patricia Brewer]***

[2017-02-08 18:11] Basho-JIRA commented on #1537
Brian has a fix just hasn't PRd yet.

***[posted via JIRA by Patricia Brewer]***

[2017-02-09 17:23] hmmr commented on #1625
Fix merged to riak_ts-develop-1.5, will appear in 1.5.2.

[2017-02-09 17:23] #1625 closed, assigned to hmmr

[2017-02-09 17:24] Basho-JIRA commented on #1625
Fix merged.

***[posted via JIRA by Andrei Zavada]***

[2017-02-17 17:14] nerophon commented on #1556
Original ticket: 14071.

[2017-02-20 00:36] Basho-JIRA commented on #1307
New, updated PR with Erik's comments: https://github.com/basho/riak_kv/pull/1628

***[posted via JIRA by Brett Hazen]***

[2017-02-20 02:29] Basho-JIRA commented on #1307
New, updated PR with Erik's comments: https://github.com/basho/riak_kv/pull/1628. However, this does not seem to be the final solution.  More discussion underway.

***[posted via JIRA by Brett Hazen]***

[2017-03-01 21:29] Basho-JIRA commented on #1307
Looks like this will be superseded by MvM's non-blocking write work:
- https://github.com/basho/riak_kv/pull/1632
- https://github.com/basho/eleveldb/pull/222
- https://github.com/basho/leveldb/pull/212

***[posted via JIRA by Brett Hazen]***

[2017-03-02 00:10] Basho-JIRA commented on #1307
New, updated PR with Erik's comments: -https://github.com/basho/riak_kv/pull/1628-. However, this does not seem to be the final solution.  More discussion underway.

***[posted via JIRA by Brett Hazen]***

[2017-03-02 00:13] Basho-JIRA commented on #1537
Addressed with https://github.com/basho/riak_kv/commit/354ed7d353f06eab472d53677551edcdada296d3

***[posted via JIRA by Brian Sparrow]***

[2017-03-02 00:13] #1537 closed, assigned to nobody

[2017-03-07 16:18] Basho-JIRA commented on #1561
https://github.com/basho/riak_kv/commit/522f983e032c43d7c940a6b5ecb2c88c53a9c898

***[posted via JIRA by Brian Sparrow]***

[2017-03-07 16:18] #1561 closed, assigned to nobody

[2017-03-29 20:56] lukebakken opened #1645 "Riak TS HTTP API - return null instead of [] [JIRA: RIAK-3398]"
See basho/riak#910

[2017-04-07 09:06] ghost opened #1647 "How can i use recon lib in riak? [JIRA: RIAK-3402]"
As we know that riak is bulid on erlang. I want parse the performance about the riak processes. eg: the most binary memory occupied by which process. And the recon can provide the ability. So who know  how the recon uesed in riak erl vm machine.

[2017-04-07 09:34] ghost opened #1648 "binary_alloc: Cannot allocate 1345022656 bytes of memory (of type "binary"). [JIRA: RIAK-3403]"
I have a 35 nodes riak cluster. After add 12 new nodes to the cluster ,My system report erl_crash.dump very often. Most of them said " binary_alloc: Cannot allocate xxxxx bytes of memory (of type "binary")."
In console.log and error.log I found lots of log like below.
Is there any way to parse how it hanpped ? Or anyone knows what's the reson about this?

 Put failure: too many siblings for object

[2017-04-07 10:05] martinsumner opened #1649 "riak_kv_sweeper with alternate backend capabilities [JIRA: RIAK-3404]"
The leveled backend is designed to make scanning across partitions to find subsets of key metadata much more efficient due to the separation of keys/metadata from values.  For example scans for Keys/Clocks to support hashtree rebuilds, scans to assess the total number of keys, or total object sizes (the object size is kept as metadata).

However, moving hashtree rebuilds to riak_kv_sweeper seems t

[2017-04-07 10:59] russelldb commented on #1648
@alisawangJJ suggest you try the riak-user mailing list in the first instance http://lists.basho.com/mailman/listinfo/riak-users_lists.basho.com. Looks like "sibling explosion" at first guess…what version of riak are you using? But like I say, better/faster response on the mailing list, and then _if_ there as an issue with riak_kv, it would be time to open one.

[2017-04-07 11:02] andytill commented on #1647
Hi @alisawangJJ, recon can be added to a running VM by [attaching](http://docs.basho.com/riak/kv/2.2.3/using/admin/riak-cli/#attach) a shell and then calling the [code:add_path/1](http://erlang.org/doc/man/code.html#add_path-1) function, the dir should be recon's ebin directory after compilation, it may have to be the absolute path. recon modules will then be available from the shell on that node.

[2017-04-07 14:42] lukebakken commented on #1648
Thanks @russelldb

@alisawangJJ - this is your problem:

You must ensure that conflicts are resolved. There is [documentation on conflicts](http://docs.basho.com/riak/kv/2.2.3/developing/usage/conflict-resolution/) and [documentation](http://docs.basho.com/riak/kv/2.2.3/developing/getting-started/) for each client library.

[2017-04-07 14:42] #1648 closed, assigned to nobody

[2017-04-07 14:44] lukebakken commented on #1647
Thanks @andytill

Another option would be to add `recon` to the `basho-patches` directory. This directory is usually `/usr/lib/riak/lib/basho-patches` or `/usr/lib64/lib/basho-patches`, and is added to the code path when Riak starts.

[2017-04-07 14:44] #1647 closed, assigned to nobody

[2017-04-10 12:38] ghost commented on #1648
@lukebakken  @russelldb  thank you guys.
I changed the configuration  "bucktes.default.merge_statrgey = 2"  then the problem seems have been resolved. And I want to know  what scene will lead to "sibling explosion" ?Does the add nodes event cause "sibling explosion" ?and my "object.size.maximum=50m" but i see lots of logs say"put very large object....." whick object size greater than 50m?

[2017-04-10 14:06] nickelization commented on #1649
Hi Martin,

This is a good question. So in some instances, the sweeper may combine multiple sweep callbacks into a single fold, if two callbacks are scheduled to run around the same time. In this case, if even one of the sweep callbacks requires the object data, then we're going to have to do a fold_objects call anyway, so having a separate fold_metadata call (or whatever we might choose to name i

[2017-04-10 15:45] martinsumner commented on #1649
Thanks Nick.

fold_objects would perform relatively poorly if it were to be done in leveled, as in the current implementation the fetching of the values would be a non-sequential read.  That can be changed, but this would mean that fold_objects would not return in key order - and I'm not sure if anything depends on that.

The interesting things about the other things sweeper might need fold_object

[2017-04-10 16:15] nickelization commented on #1649
Thanks! I may not be a paid contributor anymore, but it's still an OSS project, and I'd still like to see it succeed :). Definitely also interested in leveled, so I'm happy to field questions like this too.

I'm not sure if anything depends on fold_objects returning values in key order, but it seems like it shouldn't, because we do support non-sorted backends (e.g. Bitcask). I think most places I'

[2017-04-10 17:42] martinsumner commented on #1649
OK, I did try to do some reasoning about reappearing objects as I was implementing the TTL, but it may well have been naive and incomplete.

If we assume a kv_sweeper implementation is necessary, I'm still not sure it needs to be fold_objects in leveled.   The leveled keystore contains keys and metadata, and for Riak objects this contains a full Riak object binary - but with the #r_content values

[2017-04-10 19:15] nickelization commented on #1649
Ah okay yeah, that's a good point. If the last-modified tags can be accessed in the metadata returned from fold_heads, then those sweeper plugins should work fine without needing fold_objects. So really, out of all the sweeper plugins we've implemented so far, I think fold_heads should suffice for all of them. Awesome :)

[2017-04-21 02:14] ghost commented on #1647
The question had been resolved. thank you two very much!

[2017-04-24 21:21] nickelization opened #1651 "Sweeper code may or may not deal with crashed worker processes cleanly"
I was chatting with Martin Sumner about Leveled and the sweeper, and he mentioned looking over the sweeper code and being curious about how it handles crashed worker processes. This dredged up some long-buried memories in my brain, and I remembered that better sweeper handling for crashed workers was on my TODO list at one point, but I had been putting it off since it seemed like Ted's worker syst

[2017-04-26 15:39] lucafavatella opened #1652 "Incorrect URL in location header when generating a key using HTTP CRDT API"
In Riak KV HTTP CRDT API, when generating a key using [POST](https://github.com/basho/riak_kv/blob/d5cfe62d8f0ff36ead2019bde7a08cdd33fd3764/src/riak_kv_wm_crdt.erl#L68), the `Location` header in the returned response contains string [`keys`](https://github.com/basho/riak_kv/blob/d5cfe62d8f0ff36ead2019bde7a08cdd33fd3764/src/riak_kv_wm_utils.erl#L193-L208) rather than [`datatypes`](https://github.co

[2017-05-01 19:28] smarj opened #1653 "TS partition repair does not repair all records"
# Description

If a node loses data (or, never receives it from replication, as reported by a user), partition repair can't repopulate data. Read repair is required to repopulate the data.

## Reproduction Steps

All required scripts are located in this [gist](https://gist.github.com/BillSmargiassi/cae128ea76d80fb6aae94919559fb62f).

1. Create a 3-node cluster with Docker (using `createdtc.sh`)
2.

[2017-05-17 09:33] ranisen commented on #1198
Did some work on this using jiffy, however it appeared to cause scheduler collapse. Deferring this work until on a later release of Erlang.

[2017-05-17 15:50] jadeallenx commented on #1198
https://github.com/sile/jsone is fast and pure Erlang. Might be the thing to help move this along.

[2017-07-20 12:38] ghost opened #1654 "the riak node down and log printing:[error] emulator Too many processes"
after one node exit abnormally, the other two nodes in my cluster down with log:

i found some log in others nodes like this. everyone who knows what's these logs mean:

[2017-08-09 16:00] martinsumner opened #1656 "On a fresh Riak 2.2 cluster - AAE won't work for most of the first day"
I’ve been recently doing some testing of Riak 2.2.3 with active anti-entropy, so I'm documenting here the issue I've found in case others stumble into this same situation.

The background to this is in: https://github.com/basho/riak_kv/pull/1473

If a new cluster is started (for example we will assume a 5-node cluster with a ring-size of 64), with all nodes running Riak 2.2.3 and active anti-entro

[2017-08-10 10:18] martinsumner commented on #1656
This branch has the changes I've been testing:

https://github.com/martinsumner/riak_kv/tree/mas-2.1.7-aaeupdate

It is a branch of mas-217-baseline which is taken from the 2.1.7 tag of Basho riak_kv

[2017-11-22 12:29] ghost commented on #1189
Hmm. Unclear what action was taken in relation to this issue.

[2017-11-22 13:03] bsparrow435 commented on #1189
Hey Bryan the fix for this was included in Riak 2.2 with the launch of the new aae version.

[2017-11-22 13:20] ghost commented on #1189
Thanks @bsparrow435 !

[2017-12-19 10:18] martincox commented on #1508
Fixed by #1511 - merged into develop-2.2

[2017-12-19 10:18] #1508 closed, assigned to nobody

[2018-01-05 10:56] martinsumner opened #1659 "Riak 2.2 - AAE stops exchanging after cluster change operation"
This is related to - https://github.com/basho/riak_kv/issues/1656.

When a new riak_kv_index_hashtree is started, if the hashtree did not previously exist it will default to starting as a "legacy" version tree (using hashes of the object rather than a hash of the sorted vector clock).

If a cluster has started, and gone through the uplift to version 0 hashtree, then the riak_kv_entropy_manager for

[2018-01-05 10:58] martinsumner commented on #1659
I will confirm this is mitigated through a node restart as expected in the next few days.

[2018-01-05 11:01] martinsumner commented on #1659
Going forward, is there a better way of handling this?  The version is set by the riak_kv_entropy_manager in a named ETS table - should this be checked by riak_kv_index_hashtree on init, so that it will initialised at the version set in the ETS table, bypassing the legacy state if the node has already completed the upgrade?

I'm not immediately sure about the purpose of the version being set in th

[2018-01-08 10:40] martinsumner commented on #1659
Confirmation that a node stop/start will cause the entropy-manager to re-assess the version status, and consequently prompt any outstanding rebuilds.

[2018-01-10 11:37] russelldb opened #1660 "Two different paths to same `pw_val_unsatisfied` error are confusing"
There are two different ways that riak generates a `pw_val_unsatisfied` error. There should be only one.

-------

When a client requests a put with a `pw` value, the put fsm checks that the preflist has enough primaries to satisfy the `pw` value. If the preflist does not the fsm short-circuits the request, not even attempting the put, and returns the error `{pw_val_unsatisfied, PW, NumPrimaries}`

[2018-02-06 11:20] martinsumner opened #1661 "Soft threshold checks for coordinators"
## Background

Riak for most operations does a good job of working around the slow node problem.  In sending n requests for a GET and being able to return a response on r replies, low variance in client response times can still be achieved even when nodes are impaired by hardware failure (e.g. loss of disk in a RAID array) or software interruption (e.g AAE tree rebuilds, page cache pollution).

Ri

[2018-02-06 11:21] martinsumner commented on #1661
@russelldb - does this explain it well enough?

[2018-02-06 11:39] russelldb commented on #1661
it does @martinsumner, thanks. IMO no need to cache in ETS unless there is an observed need to cache in ETS (i.e. we should do the simple work and benchmark/profile before adding a cache.)

[2018-02-06 22:40] jadeallenx commented on #1661
Sorry to be *that guy* - I'm just wondering if you fired off a request to some random node, maybe you should send another request 5 milliseconds later to other (possibly different) nodes. This would be like the techniques that are described in [The Tail at Scale](https://blog.acolyer.org/2015/01/15/the-tail-at-scale).

[2018-02-06 23:52] martinsumner commented on #1661
As in a hedged request for the queue_size message or something more fundamentally different?  For the queue_size message I think that's interesting idea, and seems more helpful than having to rely so much on the aggressive timeout.

That paper is on my reading list for tomorrow now :-)

[2018-02-07 03:35] jadeallenx commented on #1661
Yes, exactly. The hedged request method showed substantial improvements in median and mode, and reduced tail latency quite a bit.

[2018-02-07 15:06] ghost opened #1662 "test issue for slack integration"

[2018-02-07 16:22] ghost commented on #1662
trigger hook

[2018-02-07 16:22] #1662 closed, assigned to nobody

[2018-02-26 15:48] martinsumner commented on #1661
There are some hints to the potential benefits of this from the following volume test write up:

https://github.com/martinsumner/leveled/blob/master/docs/VOLUME.md#riak-cluster-test---phase-6---nhs-hardware-compare

Working around individual mailbox queues prior to the overload state being entered, is important to maintaining stable response times.

[2018-02-26 21:49] martinsumner commented on #1661
Been thinking tonight, about which vnode to initially choose at the GET coordinator.

Initially I had thought:
- go local;
- if no local vnode in the preflist choose at random.

The issue though is cache efficiency.  If we assume requests are balanced equally across nodes, then requests for a given object will have its coordinator balanced evenly across the three vnodes.  However, we're doing noth

[2018-04-19 11:38] ghost opened #1669 "Remove erlang_js before releasing riak 2.2.6"
There is nobody (to the best of my knowledge) using this functionality for several years now, but the dependency persists.

The dependency bundles and compiles several of it's dependencies, such as spidermonkey, nspr, and the quizzically named 'system'. These libraries are provided as standard on all contemporary Linux distributions and can be installed easily on OSX using 'brew'.

Anyway, nobody

[2018-04-19 13:16] Licenser commented on #1669
https://github.com/basho/erlang_js/pull/67 Should fix the readline issue on FreeBSD

[2018-04-19 13:25] ghost commented on #1669
Tested @Licenser patch and can confirm it works - would be nice to apply it as a stopgap measure to fix the freebsd build before beginning the work to purge erlang_js from the codebase.

[2018-04-19 18:21] jadeallenx commented on #1669
kill it with cleansing fire

cc @cmeiklejohn

[2018-05-02 09:02] russelldb commented on #1661
In the spirit of doing the least amount of work possible to decide if this is a worthwhile approach, how does this sound:

- lower the `{riak_core,  vnode_check_request_interval}` to `50`
- add a function to vnode proxy `get_mailbox_size() -> pos_integer()`
- update put fsm with the `if MBox > SoftLimit` logic

Then run the volume tests. Too minimal?

[2018-05-17 18:13] vood opened #1671 "What is the state of the project?"
Is there any active development or maintenance happening? Does basho exist as a company?

[2018-05-17 21:26] jadeallenx commented on #1671
Basho's gone, but people are still working on Riak. IIRC, Riak 2.2.5 was tagged and released recently.

[2018-05-17 21:28] russelldb commented on #1671
Basho went bankrupt a year ago. bet365 bought the assets. A community team recently released riak-2.2.5, including open source multidatacentre replication. Pop into postriak.slack.com, or #riak on freenode, or post to the mailing list if you want to get involved. Most of the work on this repo (KV) is on develop-2.2 or develop-3.0

[2018-05-20 02:32] Bob-The-Marauder commented on #1671
Riak KV 2.2.5 packages are available at https://files.tiot.jp/riak/kv/2.2/2.2.5/

[2018-09-10 20:48] #605 closed, assigned to nobody

[2018-09-13 00:55] palitu commented on #1671
I am trying to get an invite to the postriak - though i am more interested in Riak TS.  I am also not too certain on the differences or who is doing what for the dev of Riak.  It is nice to see that it is still being developed!

[2018-09-13 06:49] russelldb commented on #1671
https://join.slack.com/t/postriak/shared_invite/enQtMjcyMjkyNzAyMDM4LTM2YzQxMTUzMDhlZDQ1ZGYzZDk4NDVlMzM2Njc1OGVjZTdmNTU3YThkY2VhMGFlODlkN2YzZmMxZGM3YTM5ZDA Come join us.

[2018-12-27 03:49] yangjie1993 opened #1674 "Problems occurring when backing up data"
Hello

According to http://docs.basho.com/riak/kv/2.1.4/using/cluster-operations/backing-up/

I back up the file which the above document request like ‘/var/lib/riak’ ‘/etc/riak’

But when i want to bring up a new node and restore the data.

The riak_kv always initialize data

And the log shows message like this：
![image](https://user-images.githubusercontent.com/18029405/50464698-66d9b480-09cd-11

[2019-01-02 14:49] Bob-The-Marauder commented on #1674
Can you provide a little more information as to what the goal you are trying to achieve is, please? For example, are you trying to replace an existing functional node with a new node or are you trying to build a new cluster starting with the same data?

Did you stop Riak and then wait a few minutes for a complete stop before taking the backup?

After restoring from the backup, when Riak finishes s

[2019-01-24 10:00] martinsumner opened #1676 "The aae-fold needs a PB API"
See https://github.com/basho/riak_kv/pull/1675

[2019-01-24 10:01] martinsumner opened #1677 "Make HEAD more efficient"
The 'HEAD' request supported in the HTTP API follows the GET path, and then strips the body before returning a response to the client.  This could now be more efficient if the backend supports the `head` capability.

See https://github.com/basho/riak_kv/pull/1675

[2019-02-20 15:18] llelf commented on #1669
How about before 3.0?
I will help with the exorcism.

[2019-02-20 15:26] cmeiklejohn commented on #1669
It's already been removed in the develop-3.0 build of Riak we are working on.

[2019-02-28 18:04] martinsumner opened #1684 "Add Expiry to Leveled backend"
Leveled supports a TTL on an object - it can actually be set per object, rather than being a default all store setting.

Nothing has been done in riak_kv to enable this feature yet.  Partly as no-one had asked for it (but now http://lists.basho.com/pipermail/riak-users_lists.basho.com/2019-February/039333.html).  However, there was also the problem of reasoning about what to do with AAE/Tictac-AAE

[2019-02-28 18:11] martinsumner commented on #1684
Is there a desire for expiry to be per-bucket (rather than just the whole backend)?  Or even would it be good to be able to set a TTL metadata header to control expiry on a per object basis?

[2019-02-28 18:12] martinsumner commented on #1684
I'm guessing per-bucket expiry with bitcask has to be handled with multi-backend.  However multi-backend brings its own challenges.

[2019-03-01 09:28] freakhill commented on #1684
We run expiry by backend with multi-backend, originally with bitcask, then we migrated to leveldb (for secondary indices) while keeping the multi-backend infrastructure. (we have lots of mutable objects, some multi megabytes big, with auto-expiry)

[2019-03-01 16:45] koudelka commented on #1684
just for an extra vote, per-object TTL support would be huge for my organization.

[2019-03-07 09:59] ThomasArts opened #1685 "Make tests write data to different directories"
When using rebar3 instead of rebar for building riak_kv in develop-3.0, then files are written in the top level directory. Instead, they should be written somewhere relative to _build/test directory, which is ignored in .gitignore.

[2019-03-19 17:12] martinsumner commented on #1685
I think I've resolved this on `develop-3.0-merge` (on my repo) - the branch which combines `develop-3.0` and develop-2.9`.

See https://github.com/martinsumner/riak_kv/commit/d6f642051128505d21f774bae91249ba36ce22c9

plus this:

https://github.com/martinsumner/riak_kv/commit/2d8f00a73bc3841c0ce2986be724ba96873da839

[2019-03-26 10:43] martinsumner opened #1691 "Automated full-sync with Tictac AAE"
Tictac AAE was introduced in 2.9.0, which allowed for the use of AAE in full-sync co-ordination between clusters with:

- no pausing for (or failures due to) rebuilds;
- support for full-sync between different ring_size;
- support for per-bucket full-sync;
- support for use of cached entropy trees (all bucket full-sync) or modified date range full-sync (per bucket) to improve efficiency.

However,

[2019-03-26 10:53] martinsumner commented on #1691
The proposed configuration for full-sync is to be built on the following principles and constraints:

- Each node in the cluster will be independently configured to act as a source for full-sync replication.  There will be no cluster-wide co-ordination of full-sync (and associated election of leaders and fallback handling).  This proposal is intended to reduce complexity.

- Any node in a cluster

[2019-03-26 11:17] martinsumner commented on #1691
Proposed configuration elements:

``ttaaefs_active: on|off``

``ttaaefs_scope: all|bucket_list``

``ttaaefs_bucketlist: [{Type, Bucket}]``

``ttaaefs_peerip: <<ip_addr>>``

``ttaaefs_port:  port#``

``ttaaefs_protocol:  http:pb``

``ttaaefs_nocheck: 0 - 100``

``ttaaefs_allcheck: 0 - 100``

``ttaaefs_hourcheck: 0 - 100``

``ttaaefs_daycheck: 0 - 100``

[2019-03-26 11:31] martinsumner commented on #1684
As mentioned above, the key issue with TTL is how it should work with AAE.

The obvious thing to do is to set a TTL on the object stored in the AAE store, as well as the TTL on the object stored in the standard KV store.

However the expiry will not be co-ordinated, as the AAE trees are themselves cached.  This will mean that there may be an excess of false results following the expiry being recog

[2019-03-26 11:36] martinsumner commented on #1661
For PUTs this is now added to 2.9.

Whether this should be extended to GETs is still an outstanding question

[2019-03-26 11:38] martinsumner commented on #1556
@ramensen please note this with regards to discussion today

[2019-03-26 11:40] martinsumner commented on #1497
@ramensen again look at this with respect to conversation earlier.  I have provisionally added a 2.9.1 label to this as it might be the cause of issues

[2019-03-26 11:46] martinsumner commented on #1433
It would be good to look at this again as part of 3.0, and ensure that it is addressed, and if not potentially consider using gen_statem as a mechanism for managing state transitions (and timeouts) in a more reliable way.

[2019-03-26 14:20] martinsumner opened #1692 "GET after HEAD - one or enough"
Currently when Riak supports HEAD requests as part of the GET pipeline, the riak_kv_get_fsm waits for enough responses (from the HEAD request) before deciding to send a GET request to fastest responding HEAD response (which is dominated).

Latency may be reduced by instead either:

- Assuming the first response won't be dominated and immediately issuing the GET, or;
- vnode polling and then doing

[2019-03-26 14:26] martinsumner commented on #1692
When looking at this previously, the focus had been on throughput not median latency.  The throughput gain was small (< 5%), but I never properly compared other factors such as median GET response time.

[2019-04-08 10:59] martincox opened #1693 "Incorrect return matched from rand:uniform/1"
rand:uniform/1 returns only an integer, not the state as with rand:uniform_s/1.

https://github.com/basho/riak_kv/blob/0d58e386d5feaf69107c108094f1b4a75ee79a0b/src/riak_kv_put_fsm.erl#L333

[2019-04-11 09:18] martinsumner commented on #1691
https://github.com/martinsumner/riak_kv/compare/develop-2.9...martinsumner:mas-i1691-ttaaefullsync

Work in progress.  this has been subject to manual testing, focus on automated testing now.

[2019-04-11 09:22] martinsumner commented on #1691
One issue is how to re-queue when a mismatch is discovered.

We can call the rt_enqueue HTTP API (from within riak_repl).  This would mean that any thing configured for real-time replication (such as SSL or NAT) would be respected as that real-time channel would be re-used.

However, real-time replication expects that both clusters be the same ring-size.  So this would impact the ability for this

[2019-04-11 09:34] martinsumner commented on #1691
The correct long-term answer is to use rabl (or an equivalent real-time replication method that doesn't have the ring-size limitations.

However, there are now some issues making rabl available for a 2.9 release, in that support for OTP R16 is not available on any supported rabbit deployment (all supported versions would require Riak 3.0).

[2019-04-11 16:49] russelldb commented on #1691
The rabbit beam and riak beam don't have to be the same, do they?

[2019-04-12 09:47] martinsumner commented on #1691
@russelldb - good point.  This was just a problem in my head, now you mention it, there is no reason I can think of why they need to be the same version.

[2019-04-12 09:49] martinsumner commented on #1691
First test for this - https://github.com/nhs-riak/riak_test/blob/mas-i1691-ttaaefullsync/tests/repl_ttaaefs_manual.erl.

The test exposed the limitation of using the HTTP API, in that keys must be UTF-8 format.  For example if you add a key of the form <<129:32/integer>>, then the HTTP API will fail to list_keys or nay other operation that tries to JSON format the output.  So it will be better to

[2019-04-12 17:36] martinsumner commented on #1691
There's some work to be done here:

Tombstones need further thought;
Options in addition to asis requires (don't update lmd, disable hooks);
Different object types may need different handling.

I think it would be good if the source notified the sink of the keys which needed updating, and left the sink to work out how to request those objects.  This would help make a solution to be used by Riak ->

[2019-04-16 09:06] martinsumner commented on #1691
The attempt to write this using the existing external API for GET/PUT (and hence have a simple AAE full-sync not dependent on any real-time replication) has hit issues with:

- No mechanism for doing a delete `asis`
- Issues with passing through and preserving `last_modified_date`

Need to make a decision to either:

- Get it working with existing real-time replication;
- Get it working with an al

[2019-04-16 11:53] martinsumner commented on #1691
When fetching a tombstone the riak_kv_get_fsm will return only `{error, {deleted, Vclock}}` and no further information about the tombstone.  There is a last-modified-date on the HTTP response, this appears to be the date/time of the request and is not related to the modified time of the object  (e.g. the PUT time of the tombstone).

More information than the vector clock is needed to correctly rep

[2019-04-18 16:31] martinsumner commented on #1691
The branch https://github.com/martinsumner/riak_kv/compare/develop-2.9...martinsumner:mas-i1691-ttaaefullsync now has a rudimentary repl solution to complement the AAE full-sync.

The test https://github.com/nhs-riak/riak_test/blob/mas-i1691-ttaaefullsync/tests/repl_ttaaefs_manual.erl will now pass.

There is a lot of work still required to hook this together and automate the behaviour, but hopefu

[2019-04-24 11:48] martinsumner commented on #1691
Second test now working, which allows the replication triggered by full-sync to happen semi-automatically by using the first working parts of a new real-time repl solution.

https://github.com/nhs-riak/riak_test/blob/mas-i1691-ttaaefullsync/tests/repl_ttaaefs_semiauto.erl

All code still in https://github.com/martinsumner/riak_kv/compare/develop-2.9...martinsumner:mas-i1691-ttaaefullsync

[2019-05-11 06:17] #1693 closed, assigned to nobody

[2019-05-13 15:58] llelf commented on #1198
Jiffy should get a lot better (both speed & scheduling-wise) with https://github.com/davisp/jiffy/pull/176.
But it’s still «`e->p[e->i++] = '\"';`» though ;-)

[2019-05-23 09:55] martinsumner opened #1699 "Poor GC of leveled during handoff"
During handoff (i.e. a node transfer), the PUT rate into a vnode may be higher than normal.

During the 2.9 cycle of release candidates, a change was introduced to do per-process GC on leveled_sst files if they still exist 10s after they were created.  This stopped an issue with poor GC on these processes when running Riak on OTP16.

When put pressure is high, level 1 files may be moved to the del

[2019-05-23 09:55] martinsumner commented on #1699
This could also have an impact where leveled is used as a Tictac AAE backend.

[2019-05-25 08:25] martinsumner commented on #1699
https://github.com/basho/riak_kv/tree/riak_kv-2.9.0p1

[2019-05-25 08:25] #1699 closed, assigned to nobody

[2019-06-05 09:30] martinsumner commented on #1691
Changes required to ttaaefs_manager following review with @ThomasArts:

- Tuple-length of the handle_cast for the no_sync message - with riak_test to confirm no crash.
- Check the 'pause' status within handle_info work_item.
- Review consistency of triggering loop timeout when making dynamic configuration changes (why timeout on set_sink but not set_queuename?).

Major change is to review the star

[2019-06-05 13:08] martinsumner commented on #1691
Changes required to replrtq_snk following review with @ThomasArts.

Concurrency of workers needs to account for deferred work items (which otherwise look like busy workers).

[2019-06-05 13:08] martinsumner commented on #1691
Changes required to riak_test tests following review with @ThomasArts.

nextgenrepl_aaefold

L126-L128 wait_for_outcome before checking all others are errors

L150 repl range before as well

nextgenrepl_rtq_auto - spawn processes to modify different key ranges on different clusters

Test required with siblings:
 - setup clusters
 - replicate an object
 - break real
 - update object on both sides o

[2019-07-02 08:46] martinsumner commented on #1691
When testing the implementation, things work as expected with the repl_cache enabled, but there is an intermittent issue without the repl_cache.

When repl_cache is not enabled, as the coordinator does not have the result cached, a reference to the object (not the object and the coordinator) is passed to the queue to for replication.  If this is the next item on the queue this may be picked up imm

[2019-07-03 08:18] martinsumner commented on #1691
Commit for option 2 fix:

https://github.com/martinsumner/riak_kv/commit/a4aa1ae5bf3c485e50f3f9c955e39821dd3f4aeb

[2019-07-03 08:23] martinsumner commented on #1691
<img width="1596" alt="Comparison - 291 and 290 repl and fullsync" src="https://user-images.githubusercontent.com/1628897/60575742-fe043800-9d73-11e9-93f3-4c5cbd1d0d20.png">

Chart shows difference in throughput between using 2.9.0 with riak_repl (real-time and keylist full-sync with minimised concurrency), vs using the proposed 2.9.1 repl solution (real-time, with a complete bi-directional) AAE f

[2019-07-03 08:34] martinsumner commented on #1691
Some tests still do:

- Comparison using more default settings (with more concurrency) on the riak_repl full-sync (ideally so a  full-sync is actually completing during the test);
- Comparison with non-leveled backends;
- Comparison on more realistic cluster size;
- Comparison with the nextgenrepl repl_cache disabled.

[2019-07-05 11:29] martinsumner commented on #1677
Changing the get_fsm to support a genuine HEAD should be possible without a huge disruption.  When  a HEAD request is made, that needs to be recorded on the get_core, and then the response function can be updated to give a direct response rather than a list of nodes to fetch via GET.

The riak_kv code doesn't appear to do the stripping for HTTP HEAD requests (although this may be done by webmachin

[2019-08-07 13:56] Bob-The-Marauder opened #1705 "Compiling for non-standard platforms"
**32 Bit Compilation**

Riak will not build as is for a 32 bit platform. This comes down to an issue with perf_count.cc which can be found in the utils directory of leveldb. Strangely, there is a fix for this in commit https://github.com/basho/leveldb/commit/b925432bac84bf3b2154c1d58dca46698f80e0ce that dates from 2017 but has not been implemented in the version chosen for the current build of KV.

[2019-08-08 20:03] martincox commented on #1705
Before LevelDB is updated, there needs to be some due diligence in terms of understanding the delta between the current and proposed version.

[2019-08-08 20:07] martincox commented on #1705
Also, pretty sure that node_package and erlang_js were earmarked for removing in 3.0.

[2019-08-09 08:52] martinsumner commented on #1705
@martincox they are removed in 3.0, but will still be with us for 2.9.1.

Currently for the leveldb change I have cherry picked just the one commit (to do the 32-bit perf counters) on top of what was there already.  That commit had been merged into develop, but I don't have the C++ skills to vouch for it - https://github.com/basho/leveldb/commit/14c57fe018402b3271cc8ac070fbd620b6ff7798.

I've adde

[2019-08-09 08:54] martinsumner commented on #1705
@Bob-The-Marauder

There is a pre-release tag to test to see if this builds OK for you - https://github.com/martinsumner/riak/tree/riak-2.9.1-pre3

[2019-08-09 08:58] martinsumner commented on #1705
@martincox

As a general rule, I don't feel comfortable making changes to leveldb.  I'd looked at removing it before (https://github.com/basho/riak/issues/961), and I do think it might be worth investing some time in this soon.

[2019-08-09 10:39] martincox commented on #1705
@martinsumner Same. I was making that comment for that very reason. We've run into issues in recent times and it's very difficult to debug leveldb without that knowledge.

[2019-08-15 13:34] martinsumner commented on #1677
Running some tests with curl it looks like a HEAD request will return a body from Riak.  If the body is being stripped, it is being stripped by the HTTP client.

One issue there is with writing an efficient HEAD request, is that it will change existing behaviour from the perspective of applications if they use the HEAD method.

[2019-08-18 21:43] martinsumner opened #1706 "Timer overlaps with hinted handoffs - and Tictac AAE on fallbacks"
When there is a node failure/stop event, Riak KV will elect nodes to run fallback vnodes for each partition/preflist for which there was a primary vnode running on the failed vnode.  This normally means `n` fallback vnodes within the cluster for each previously active vnode on the failed/stopped node.

When the failure state is reverted due to recovery/restart, then those fallback nodes should han

[2019-08-18 21:50] martinsumner commented on #1706
The simple workarounds for these issues are:

1. Couple the inactivity timeouts so that the `riak_kv_tictacaae_exchangetick` cannot be less than 2 * the `riak_core.vnode_inactivity_timeout` + o(10)s).

2. Require proposed exchanges to be in the `riak_core:get_primary_apl` not just the `get_apl` https://github.com/basho/riak_kv/blob/riak_kv-2.9.0p4/src/riak_kv_vnode.erl##L1118-L1139.

These workaro

[2019-08-18 21:53] martinsumner commented on #1706
The reason for including (2) as part of this some github issue, is that prior to investigating this I had assumed that both legacy AAE and Tictac AAE did not act on anything but primary vnodes.  The issue investigation highlighted that this is not the case for Tictac AAE, but also may not be the case for legacy AAE.

Also the issues are conflated as resolving (2) may be a partial fix for resolving

[2019-08-20 09:55] martinsumner commented on #1706
Potential change is to change the poke time in the case that the exchanges are reloaded such that this poke delay must be at least 2 * the `riak_core.vnode_inactivity_timeout`.

This would at least limit the hinted handoff delay to be the time required to loop around exchanges - stop this scenario from getting any worse when a lower limit is set for the `riak_kv_tictacaae_exchangetick`.

[2019-08-21 09:22] martinsumner commented on #1706
Just to confirm, that in the pre-2.9 AAE solution, there was no exchanges between fallback and primary vnodes:  https://github.com/basho/riak_kv/blob/develop-2.9/src/riak_kv_entropy_manager.erl#L890-L891.

This has been confirmed by test

[2019-08-21 09:24] martinsumner commented on #1706
Test has been added which will confirm if fallback vnodes are populated via AAE repair: https://github.com/nhs-riak/riak_test/blob/mas-i1706-tictacprimary/tests/verify_tictacaae_nodedown.erl

[2019-08-21 10:02] martinsumner opened #1707 "Put merge failure and crash of nodes allow_mult=false"
Many, many tests have now been performed in pre-production environments stopping/starting nodes.  During one test, and only one test, there were a number of errors.

These errors were as a result of 7 different PUTs, each of which caused a crash off the vnode.

The crash occurred because of an unexpected case in the riak_kv_vnode:select_newest_content/1 function.  This is used when allow_mult=fals

[2019-08-21 15:18] martinsumner commented on #1707
Reading through the code, it is hard to see how an object with a content could end up with a merged object without content (or an empty list).

The only avenue appears to be:

https://github.com/basho/riak_kv/blob/riak_kv-2.9.0p4/src/riak_object.erl#L435-L436

Could it be that prune_object_siblings could do a mutual prune in some bizarre circumstances?

Would this be more possible if we get a fake

[2019-08-21 15:20] martinsumner commented on #1707
If the cause remains a mystery, we should at least stop this situation from crashing the node, and instead fail the PUT?

[2019-08-21 15:52] martinsumner commented on #1707
Will prove tomorrow, but I have a theory now.  I don't think the use of a fake old object is safe in some parallel write scenarios with allow_mult=false - but this can be resolved by forcing the GET should the merge return empty contents.

[2019-08-21 22:45] martinsumner commented on #1707
Further investigation required - but it should be noted that the object being PUT has a vector clock where two of the entries have the same timestamp:

``[{<<93,8,50,2,157,164,165,154>>,{1,63733083419}},{<<202,218,235,138,86,98,97,118>>,{1,63733083419}}]``

This appears to be true for each example.

The dot of the PUT request singleton content is: ``{<<93,8,50,2,157,164,165,154>>,{1,63733083419}}`

[2019-08-21 23:23] martinsumner commented on #1707
It should be noted that in this case the behaviour is ugly but safe - the vnode crashes before it does anything wrong.  However, in other cases might it not crash but prune a sibling?

[2019-08-22 01:37] martinsumner commented on #1707
If theory is correct the fix is relatively simple.

Currently when the PUT is being coordinated, no merge is performed if the inbound vclock dominates the old object.  However, for non-coordinated PUTs the merge is still performed if the vclock dominates - which presents an issue if the object is fake.

Should the merge not just be bypassed in the dominate use-case for non-coordinated PUTs as well

[2019-08-22 07:23] russelldb commented on #1707
This is a super old and mysterious bug, I remember spending a few hours pouring over customer logs to try and figure out the object and how it got like that, I suspect it is where the bucket props have changed from lww=true to lww=false or maybe allow_mult true -> false. It's a long time ago, and I don't remember well, but  IIRC you have two identical clocks, but on one side DOT-A is kept, and the

[2019-08-22 08:02] martinsumner commented on #1707
Thanks @russelldb, anything you can dig up would be really useful.

As I walking through the code last night though, I couldn't resolve how `riak_object:merge/2` would work safely if the OldObject is a fake object (as might be found if the metadata_cache or HEAD requests are used, and it is not a coordinating PUT).  So I'm concerned I've introduced a more widespread problem with false pruning of s

[2019-08-22 09:32] martinsumner commented on #1707
I've setup a basic riak_test today, and it looks like my worse fears are unfounded.  I was concerned that various sibling scenarios may falsely prune with false objects, and this I haven't been able to recreate.

[2019-08-22 10:13] martinsumner commented on #1707
Some good news and some bad news.

Good news: my eyeballing of the code was wrong, the fake_object is not passed into riak_object:merge.

This means that this is not a general data-loss causing issue with fake objects as I had feared.  The code uses riak_kv_vnode code syntactic_merge, which will not merge contents if one vclock dominates another - and fake objects are only used when domination is

[2019-08-22 15:41] martinsumner commented on #1707
https://github.com/basho/riak_kv/pull/1708

[2019-08-23 12:38] russelldb commented on #679
Erm, I think we could have closed this by now, pretty sure it's dealt with

[2019-08-23 12:50] martinsumner commented on #679
Agreed

[2019-08-23 12:50] #679 closed, assigned to nobody

[2019-08-27 10:37] martinsumner commented on #1706
https://github.com/basho/riak_kv/pull/1709

The fix here is in two parts.  Part 1 of the problem is mitigated by default having a larger exchange tick, and also placing a warning on the configuration item to discourage reduction without altering related timers.

Part of the problem is resolved by making the exchanges happen only if exchanges are between primaries.  Reversion to using non-primaries

[2019-08-28 10:26] martinsumner opened #1711 "Intermittently failing unit tests"
Note these failure only appear to be an issue in CI.

1.
[code]
2.
[code]
3.
[code]
4.
[code]

[2019-09-13 10:30] martinsumner opened #1714 "Node failure - whether or not to "let it crash""
In order to correctly recover from a failure, `riak_core_node_watcher` must detect that the service is down on a given node.  Without such an event, fallback nodes will not be started, and the vnodes used in requests will not change to reflect those fallback vnodes.

My understanding is that there are two triggers for discovering a failed node in `riak_core_node_watcher`:

- erlang node monitoring

[2019-09-27 12:52] martinsumner commented on #1714
Replicated this in a riak_test now:

https://github.com/basho/riak_test/blob/mas-i1714-readonlyfs/tests/verify_readonly.erl

[2019-09-27 12:54] martinsumner commented on #1714
It should be noted from the test that non-eleveldb persisted backends behave as expected.  So given that, the right place to resolve this is in the backend and not in the `riak_kv_vnode` or above in the stack.

Given that eleveldb is a reused component across other projects, it would be preferable to catch the db_write error in the `riak_kv_eleveldb_backend`.

[2019-09-27 19:43] martinsumner commented on #1714
Actually - correction to the above.  The behaviour of bitcask wasn't consistent in test, and bitcask too will run despite a file system failure, repeatedly returning an error rather than crashing to cause the node to fail.

[2019-10-01 09:45] martinsumner commented on #1711
https://github.com/basho/riak_kv/pull/1718

[2019-10-01 09:46] martinsumner opened #1719 "HEAD and multi-backend"
If there is a multi-backend, the HEAD capability is disabled.  The riak_kv_vnode should ask for the capability on a per-bucket basis - as this would allow HEAD to be supported when the bucket is mapped to a leveled backend

[2019-10-02 09:25] martinsumner commented on #1719
Note that the per-bucket capabilities in multi_backend has not been updated since the introductions of bucket types:

https://github.com/basho/riak_kv/blob/515fe02ce64cf7c1d18a669206ff1021df67017f/src/riak_kv_multi_backend.erl#L124-L130

The riak_object:bucket() could be {binary(), binary()} if a typed bucket - and presumably we still want the specific backend capabilities in this case

[2019-10-15 10:58] martinsumner opened #1725 "Mass deletion, Automated deletion, Reaping tombstones"
In Riak deletion is difficult.

The default setting for delete, will replace an object in the backend with a new object in the backend, an object that is from the perspective of Riak a tombstone.  It will then set a timer, and then on triggering the timer, the tombstone will be reaped (in essence deleted from the backend - which in turn might use a backend tombstone to defer the deletion).  The te

[2019-10-15 15:27] martinsumner commented on #1725
Proposal 1.

The first solution to the problem of mass deletion is to extend the [aae_fold find_keys query](https://github.com/basho/riak_kv/blob/riak_kv-2.9.0p5/src/riak_kv_clusteraae_fsm.erl#L166-L189) so that it can be requested to return ``[{Key :: riak_object:key(), IsTomb :: boolean()}]`` tuples.

This would allow for keys beyond a certain last modified date in a bucket to be discovered for

[2019-10-15 16:06] martinsumner commented on #1725
Proposal 2.

The second proposal is to have a bucket property that can set a TTL for `keep` tombstones.  That is to say we can ask for tombstones to expire eventually.

This wouldn't use a direct timer method as in existing delete, but would allow for a long timer to be set (e.g. 30 days), far beyond a point of which we might expect any tombstone to have not been fully replicated by one mechanism

[2019-10-15 16:23] martinsumner commented on #1725
For those with an interest in the problem from a theoretical perspective - [this is an interesting piece of research](https://haslab.uminho.pt/tome/files/dotteddb_srds.pdf) and well worth a read.

This is not implementable for Riak (too radical a change).  It isn't a perfect answer (it makes an assumption that persisted data is not lost from disk - which is not something we like to assume in Riak)

[2019-11-07 09:48] martinsumner commented on #1711
Since making the eper changes, overnight CI job has passed on develop-2.9 each night for a month.

[2019-11-07 09:48] #1711 closed, assigned to nobody

[2019-11-13 22:08] martinsumner opened #1731 "AAE throttle communicates with non-Riak nodes"
Any erlang node that shares the cookie can connect to a riak cluster, even if it isn't running Riak.  This may be useful for monitoring purposes.

Generally Riak determines what nodes are active in the cluster from the perspective of Riak by using riak_core (and the ring) e.g.

[code]

However the riak_kv_entropy_manager uses the erlang-level `nodes/0` function:

https://github.com/basho/riak_kv/b

[2019-12-16 09:42] martinsumner commented on #1725
The current draft branch for 2.9.1 includes:

[riak_kv_reaper](https://github.com/basho/riak_kv/blob/0513c9f465f2fa23684b09a365a6e8296a6ff760/src/riak_kv_reaper.erl);
[riak_kv_eraser](https://github.com/basho/riak_kv/blob/0513c9f465f2fa23684b09a365a6e8296a6ff760/src/riak_kv_eraser.erl);
[new aae_folds to trigger reaps and erases](https://github.com/basho/riak_kv/blob/0513c9f465f2fa23684b09a365a6e8

[2019-12-16 09:53] martinsumner commented on #1719
https://github.com/basho/riak_kv/pull/1720

[2019-12-16 09:53] #1719 closed, assigned to nobody

[2019-12-16 09:59] martinsumner opened #1737 "AAE Fold - Metadata and MapRed"
There are a series of aae_folds to manage operational tasks and replication activity (via the `riak_kv_clusteraae_fsm`).  It would be good to have two additions to this:

- Allow a more general capability to apply a function to the object metadata, and potentially accumulate in different ways - to allow Riak users to promote object summary information to metadata and report on it.

- Allow an aae_

[2020-02-17 10:22] martinsumner commented on #1737
Some WIP: https://github.com/basho/riak_kv/compare/develop-2.9...mas-i1737-mapfold

[2020-02-18 09:29] martinsumner opened #1750 "node_confirms on GET"
The node_confirms bucket property is respected on PUT.  A PUT may succeed (in that it has been written to Riak) but will error when insufficient vnodes have responded from different nodes.  This allows us to be sure that the PUT will not disappear on a single node failure.

More information - https://github.com/basho/riak_kv/blob/develop-2.9/docs/Node-Diversity.md

If a PUT is made and errors due

[2020-02-18 09:37] martinsumner commented on #1750
There are some peculiarities with a specific customer that make this more relevant than it might seem.  For this customer inbound updates are persisted first to a Riak msgStore,  and are then queued from the store to be applied, and periodically re-queued until the apply processing loop succeeds.

Success is determined by:

a) either making the update;
b) reading the message GUID in change log sto

[2020-02-25 10:18] martinsumner commented on #1750
https://github.com/basho/riak_kv/pull/1751

[2020-02-25 10:18] #1750 closed, assigned to nobody

[2020-02-25 10:19] #1706 closed, assigned to nobody

[2020-02-25 10:21] martinsumner commented on #1691
https://github.com/basho/riak_kv/blob/riak_kv-2.9.1/docs/NextGenREPL.md

[2020-02-25 10:21] #1691 closed, assigned to nobody

[2020-02-25 10:21] #1676 closed, assigned to nobody

[2020-02-25 10:22] #1714 closed, assigned to nobody

[2020-03-26 14:29] keynslug opened #1754 "Recent writes loss in the presence of heavy handoff activity"
Riak KV may lost recent writes in the presence of heavy handoff activity.

I've [made a test][1] with the help of Jepsen framework specifically to investigate this kind of buggy behaviour because it hit us several times already in our production environment. This test observes an occurence of this bug almost every run to be honest. An ordinary test run follows roughly these steps:
1. Set up 5 riak

[2020-03-26 15:22] martinsumner commented on #1754
Many thanks for the high quality investigation, and excellent write-up.

I have another bug I'm focused on at the moment, but will try and look at this as soon as possible.  @martincox would you, or someone in your team, be able to look too?

My initial reaction if your hunch is correct, is that we should just fail the PUT if the PUT is forwarded to a node that doesn't then find itself in the pref

[2020-03-26 15:35] martincox commented on #1754
Thanks @keynslug. Yep, I'll take a look at this tomorrow, @martinsumner.

[2020-03-30 15:13] martinsumner commented on #1754
In this case the problem occurs straight after a node leave, which makes me suspicious about problems we've seen in the shutdown process for leaving nodes.

We discovered an issue in `develop-3.0` testing of `riak_ensemble` that when a node leaves, before it shuts down it starts a fresh ring (so that it believes it is in a cluster of 1, disconnected, should it restart).  This fresh ring is created

[2020-03-30 20:16] keynslug commented on #1754
Thank you for looking into this @martinsumner.

I've given some thought to your hypothesis and skimmed through linked commits and related work. However dare I say I believe there are few contradictions to it. Let me explain.

As for this specific Jepsen test report I've provided, it seems that the anomalous read was observed right after those two extra nodes had _just started_ leaving the cluster,

[2020-03-30 20:40] martinsumner commented on #1754
Ah, I had missed the fact that Jepsen had logged the leave competing some time after, I had assumed that given the small size of the data set the leave would have been much quicker.

I was thinking on the lines of the two theories combining.  When riak_kv stops it brings the API down first, perhaps the fact that we forward PUTs allows the node to be hit in this interim state, when without forwardi

[2020-03-30 20:47] martinsumner commented on #1754
In terms of a PR, at some stage we need to run through the full suite of `riak_test` tests.  If you could help with confirming those have passed before submitting the PR that would be useful.

Ideally changes should have there own riak_test test - but in this case I wouldn't expect it to be reproducible in riak_test so that step can be skipped.

Everything gets done on a best endeavours basis in t

[2020-03-30 21:31] keynslug commented on #1754
Gosh, sorry for that confusion. Here are all of them, out of `n1/error.log`:
[code]

Notably here's only one occurence of `jepsen638479067-6` but it happens to have _exactly_ the value `31`, same as observed in the anomalous read.

IIRC in all of my successfully reproduced cases (including this report) anomalous read:
* coincides with one or more errors in some riak node's logs,
* happens roughly

[2020-03-30 21:34] keynslug commented on #1754
Quite fair I'd say. I'll take a shot then if I'm able to secure some time for it.

[2020-03-30 22:13] martinsumner commented on #1754
Sorry, I might not be understanding the Jepsen log entry, could you help me please:

[code]
Does `:type ok` mean that the client has at that time received an OK response for the PUT?  What are the two vector clocks that it reports at index 16234?

[2020-03-31 08:19] keynslug commented on #1754
That's correct.

The first one is pre-request vclock which a client used to make a request, the second one is post-request vclock received along with response.

[2020-04-10 15:51] martinsumner commented on #1754
Sorry, I got distracted with other events.

So is it possible that:

- put is received by put_fsm on Node A
- put is forwarded by put_fsm on Node B (e.g. because A not in preflist)
- ack of forwarding is not returned to Node A (e.g. message lost), but Node B still processes and completes the PUT (to value x)

...
Other PUTs occur lifting value to y then z
...

- node A put_fsm on timeout of not re

[2020-04-12 21:52] keynslug commented on #1754
Yes, I too believe that this is more or less what is happening.

My best bet is this. AFAIK ring state can not possibly be strongly consistent across a cluster, only eventually consistent, given its changes are gossiped. Which means that in the presence of constant ownership transfers some two nodes may disagree on the ring state and consequently have _different_ sets of primaries for some key.

.

[2020-06-03 19:44] martinsumner commented on #1737
Current plan is to re-use some of the infrastructure of Map/Reduce.  Currently Map/Reduce has an Inputs part, and then a query part - which is a list of Map and Reduce functions.

The Inputs part will produce a list of `{{Bucket, Key}, KeyData}` or `{Bucket, Key}` elements, and before the Map/Reduce functions are applied, a riak_pipe fitting is added of `riak_kv_pipe_get` to fetch the Objects asso

[2020-06-06 20:17] pma opened #1758 "Unhandled false return from riak_index:object_key_in_range"
This case statement https://github.com/basho/riak_kv/blob/develop-2.9/src/riak_kv_leveled_backend.erl#L405 should handle a possible return of 'false' from riak_index:object_key_in_range, due to this line here:
https://github.com/basho/riak_kv/blob/develop-2.9/src/riak_index.erl#L469

I got the pattern match error while playing with RiakCS using leveled as backend. Listing directories via the s3 AP

[2020-06-08 11:38] martinsumner commented on #1758
Any clues at all about the conditions?  It will help me generate a riak_test test.

I can match the riak_kv_eleveldb_backend code to resolve this I assume - https://github.com/basho/riak_kv/blob/develop-2.9/src/riak_kv_eleveldb_backend.erl#L854-L855

[2020-06-08 11:41] martinsumner opened #1759 "Vnode clearing does not clear tictac_aae state"
https://github.com/basho/riak_kv/blob/develop-2.9/src/riak_kv_vnode.erl#L2208-L2225

This does not destroy any parallel tictac_aae store, or tictac_aae hashtree caches.  This can lead to problems when a node leaves, then is re-joined without manually clearing the disk.

[2020-06-08 13:14] pma commented on #1758
@martinsumner I still have to figure out how RiakCS  maps paths to keys to come up with a test case that does not depend on running RiakCS. This was the simpler case to reproduce via the S3 API:

**When using leveldb backend**
[code]

**When using leveled backend**
[code]

The 'ls' crashed Riak with the error:
[code]

When 'riak_index:object_key_in_range/3' returns false, the leveldb backend halts

[2020-06-12 10:07] martinsumner commented on #1758
There already is a riak_test for this as it happens:

https://github.com/basho/riak_test/blob/develop-2.9/tests/verify_cs_bucket.erl

And it passes on eleveldb, and fails on leveled with the failure you detect.

This test was never included in the kv release set, so I hadn't noticed it before.

I will confirm the fix today, and add the test in for the future.

[2020-06-12 16:46] martinsumner commented on #1758
The problem is also related to the fact that we don't handle the start_key correctly in query, and so  we're always scanning the whole bucket.  Should have a fix tested this weekend.

[2020-06-15 11:02] martinsumner commented on #1758
I've extended he test to make sure it covers all start/end inclusive/exclusive scenarios:

https://github.com/basho/riak_test/pull/1347

Test now included in standard test suite to be run for each release

[2020-06-25 02:07] asyncmind0 opened #1764 "Ring returned in riak_core_ring:all_owners(Ring) contains references to removed nodes"
Partitions = [P || {P, 'dev1@127.0.0.1'} <- riak_core_ring:all_owners(Ring)].

following instructions for repair in here https://www.tiot.jp/riak-docs/riak/kv/2.2.6/using/repair-recovery/repairs/#repairing-partitions

I found that in my cluster there is a lot of references to old nodes
My cluster only has the following valid nodes
[code]

But the `Ring` contains

[code]

[2020-06-29 06:50] asyncmind0 opened #1765 "running tictac_aae in non-native mode leads to eventual failure of node"
[code]
masleeds  3:21 AM

I mean tictac_aae in parallel mode - so leveldb or bitcask as storage_backend, but leveled as AAE backend.  The other user had problems when  they had a cluster with busy vnodes, and they switched tictac_aae on - and the rebuilds/repair cycle that got triggered as tictac_aae was trying to get up-to-speed went into a downward spiral

https://postriak.slack.com/archives/C6R

[2020-06-29 21:18] martinsumner commented on #1765
I'm going to have a look at this from tomorrow.  Most of the volume testing I did was in native mode not parallel, so the first aim is to look at what happens if I build up vnodes of >> 100GB of data with an eleveldb backend - and then then switch on tictacaae.

I'm hoping to keep building up the volume until I hit issues with aae store rebuilds timing out, aae cache rebuilds timing out and maybe

[2020-06-30 01:14] asyncmind0 opened #1766 "Leveldb corruption repair on restart or shutdown"
Currently I have this hack to fix leveldb corruptions

[code]

[2020-07-02 19:23] ruichuan opened #1768 "Riak Redis Add-on (RRA)?"
Hi, I'm trying to use Riak Redis Add-on (RRA) to set up a caching level for Riak.

According to the document at https://docs.riak.com/riak/kv/latest/add-ons/redis/set-up-rra/index.html#install-riak-redis-add-on-rra, it says that "Note: Riak Redis Add-on (RRA) is available to Enterprise customers for download in the usual Zendesk forums."

I guess there isn't an enterprise version now.  So, I'm won

[2020-07-03 07:07] martinsumner commented on #1768
The open source version is available - https://github.com/basho/cache_proxy.

There is an enterprise version on the basho repo which is still private, and has updates on it (by comparison to the open source one).

@martincox - can the switch be flicked on https://github.com/basho/cache_proxy_ee to make this public now?

[2020-07-03 07:25] ruichuan commented on #1768
Thanks much for the quick response.  As we're using Riak 2.9.0 in our
setup, does the open-source cache proxy or the enterprise version work with
riak 2.9.0?

Cheers,
-rc

On Fri, Jul 3, 2020 at 9:07 AM Martin Sumner <notifications@github.com>
wrote:

[2020-07-03 08:46] martinsumner commented on #1768
Don't know, I'm not aware of anyone who uses the cache_proxy - and there's nothing in the riak_test suite we use for riak releases that proves it.  So I'm afraid you will need to test yourself to find out.

[2020-07-03 09:49] ruichuan commented on #1768
Ok, thanks for the information.

Cheers,
-rc

On Fri, Jul 3, 2020 at 10:47 AM Martin Sumner <notifications@github.com> wrote:

[2020-07-06 20:30] martinsumner commented on #1765
Tested this with 200GB per-vnode (running leveldb backend, but with a small ring size) which had been built with AAE enabled but not tictac_aae.  The intention was to test what happens when we then restart all the nodes at the same time with tictac_aae enabled (without the standard transition precaution of increasing the exchange tick).

No crashes were observed in the aftermath of this event, how

[2020-07-06 20:42] martinsumner commented on #1765
There are some signs of trouble:

- As observed in the production environment, in this test environment not all rebuilds had observable logs for stop/start.  Logging (or perhaps log indexing) was strangely intermittent for these rebuilds, although it is clear from other logs all required rebuilds did occur.

- The kv_index_tictactree requires snapshots of the aae keystore for treecache rebuilds to

[2020-07-06 20:46] martinsumner commented on #1765
There are obvious improvements to make:

- Make the tictacaae_exchangetick responsive to the time it is taking to complete exchanges (so don't rely on the operator to configure for the transition, and handle this scenario outside of transition).

- Increase the scan timeout within the aae_exchange, potentially making this configurable, or even responsive.  The current default is ten minutes.

[2020-07-06 20:49] martinsumner commented on #1765
The problem of rebuild scheduling is hard.  Not queueing rebuilds may increase pressure, and cause other issues.  Scheduling them further apart would increase the window for false positives.

Perhaps false positives caused by initial rebuilds could be handled by comparing rebuild state at startup.

There are potential solutions here, but none without notable additional complexity or alternative ri

[2020-07-06 20:49] martinsumner commented on #1765
I don't know what is happening wrt logging.

[2020-07-07 08:50] martinsumner commented on #1765
Some thoughts on an algorithm through which the system can back-off on exchanges, should exchanges start to take a long time.

- There is a conscious decision to start an exchange not start_link the exchange from a vnode.  Exchanges may crash, and the vnode can ignore this.  So we can't keep a strict "no new exchanges until old ones complete" policy without changing this, as some exchanges may nev

[2020-07-07 09:14] martinsumner commented on #1765
Never calling `cache_replacedirtysegments/3` is fine.  Eventually the dirty segments will be removed from the list by alterations, or scrubbed by a new active fold

[2020-07-07 09:31] martinsumner commented on #1765
Proposal is:

- Extend the options for aae_exchange to allow for the timeout to be increased https://github.com/martinsumner/kv_index_tictactree/blob/master/src/aae_exchange.erl#L700-L708.

- Have the riak_kv_vnode adjust the timeout to ten times the exchange_tick.

- Add an item to the riak_kv_vnode state of "skip_exchange_count" default to 0.

- Every exchangetick, if there is a valid exchange q

[2020-07-07 13:39] martincox commented on #1768
That repo should be visible now @ruichuan 👍

[2020-07-07 14:31] ruichuan commented on #1768
Thanks!  Now I think of the caching.  As we're using LevelDB as the backend
storage.  LevelDB has its own in-memory memtable, so storage access will
check memtable first before reaching other on-disk levels.  Is that
memtable good enough as a cache, compared with setting up
other dedicated caching layers?

Thanks,
-rc

On Tue, Jul 7, 2020 at 3:40 PM Martin Cox <notifications@github.com> wrote:

[2020-07-07 15:53] martinsumner commented on #1768
Hard to comment, as I've not used the Redis add-on.  However, if your aim is to minimise latency, then there are a number of network hops necessary to extract an object from Riak, that could be avoided by extracting an object direct from a Redis cache.  So although all Riak backends try to keep active objects in cache (either in backend memory or page cache), an un-contended Redis lookup would sti

[2020-07-07 21:36] martinsumner commented on #1765
https://github.com/basho/riak_kv/tree/mas-i1765-parallel

Presently this only addresses the issue of needing to back off as the time to complete exchanges increases.  This works well, at the moment - as the exchange time goes up, at the peak where 50% of vnodes have rebuilt but 50% have not, the frequency of exchanges is reduced by just 30%.  With this reduction, the maximum time to complete an ex

[2020-07-08 20:49] martinsumner commented on #1765
The branch has now been extended so that the taking of the rebuild snapshot is deferred until the rebuild work item is consumed from the queue - so as long as the rebuild of the trees completes within 12 hours, there will be no issues with the snapshot timing out during the rebuild.

The scenario above was then re-tested with equivalent (although slightly improved) results.

[2020-07-09 00:18] asyncmind0 commented on #1765
Hi Martin, thanks for detailing the issue,

Would allowing additional capacity to accomodate the inital treecache build, alleviate this issue ?

Could you also please share the specs of the nodes used for testing?

Yea logging in general for riak could use some work, I'll create an issue if one doesn't exist alread.

[2020-07-10 08:18] ruichuan commented on #1768
I'm also planning to write a Redis module for syncing up between Redis and
Riak.  I'm wondering whether there is a Riak C or C++ client which could
interact with the recent riak versions?

I found https://github.com/basho-labs/riak-c-client and
https://github.com/basho-labs/riak-cxx-client, but both are fairly outdated.

Thanks,
-rc

On Tue, Jul 7, 2020 at 5:53 PM Martin Sumner <notifications@gith

[2020-07-15 10:24] martinsumner commented on #1765
The test rig is 8 x servers, each with 8 x large HDD (RAID 10) and 12 CPU cores.  There is a FBWC on the RAID controller for improved write latency.

Ran a more challenging version of the test, with 1.4TB per node of data, with about 4K ops/persec (90% writes) load during the test.  This test also included a server failure mid-test (not deliberate, but a kernel panic).  Everything went OK with the

[2020-07-15 15:22] martinsumner commented on #1765
https://github.com/martinsumner/kv_index_tictactree/commit/d6eac623a36e265b91deee15ff9e8f0579d2e58f

[2020-07-15 20:28] martinsumner commented on #1765
It should be noted, that the process of enabling tictacaae for the first time, on a large store, when under heavy write load - will consume significant amounts of memory.

Each aae_keystore keeps a "change_queue" of Keys/Metadata of updates received since the rebuild of the store started.   Since all rebuilds are running concurrently when tictacaae is enabled for the first time - this can require

[2020-08-06 10:52] martinsumner opened #1771 "Tictac AAE rebuild and unexpected repairs"
When running tictac aae in parallel mode it is necessary to run infrequent but regular rebuilds - whereby the AAE store is rebuilt from the vnode store, and then the AAE tree is rebuilt from the newly built AAE store.

A strange problem is re-occurring in a stress test.  The stress test is intended to push a cluster by rebuilding all stores at once (which would occur if tictac AAE was enabled in p

[2020-08-06 12:09] martinsumner commented on #1771
On loading, there is a counter kept of object specs loaded into the tictac aae keystore.  The final load count varies between vnodes - from 56.6M to 57.2M -  a difference of about 600K.

The issues of deltas appears to be concentrated on those with the lower load counts.

Each AAE partition should exchange with 4 other partitions (2 up the ring, 2 down).  Looking at a node in the test - those AAE

[2020-08-11 12:33] martinsumner commented on #1771
when the issue occurs, there are logs of the count of leaves in which deltas are discovered.  By default, the counts are throttled to 256.

This means that if the root (4096 branches) is entirely divergent, then just 256 branches will be checked.  If the leaves are entirely divergent then it should discover 65536 deltas.  However in the test there are much lower numbers of deltas, but the delta co

[2020-08-12 10:19] martinsumner commented on #1771
Adding this extra logging to count in the fold https://github.com/martinsumner/kv_index_tictactree/commit/7f672c2ef9649686614edc7d74545aa5a8fee374 reveals that all keys seen by the folds are sent to the aae_keystore, and received by the aae_keystore.  So the missing keys are not being seen by the fold i.e. the problem almost certainly lies within eleveldb.

[2020-08-12 10:44] hanssv commented on #1771
Good thing we didn't start a massive testing effort on aee_keystore/controller 😄

[2020-08-12 10:56] martinsumner commented on #1771
The basho leveldb database has an option called `paranoid_checks` - https://github.com/basho/leveldb/search?q=paranoid&unscoped_q=paranoid.

By default this is disabled, which in essence says continue in the face of corruption.  Perhaps this might also mean continue in the face of failure to open files due to contention, or some other temporary issues which look like corruption.

But ultimately, t

[2020-08-12 10:58] martinsumner commented on #1771
Ultimately it is safe for an individual node to temporarily lose data because of all the other mechanisms in a N >1 store to handle that (and recover if the loss is permanent).  This issue is one from which the database ultimately recovers (albeit potentially after 24h + of AAE rehashing).

[2020-08-12 14:21] #1771 closed, assigned to nobody

[2020-09-01 08:43] #1759 closed, assigned to martinsumner

[2020-09-01 08:43] #1758 closed, assigned to martinsumner

[2020-09-01 08:45] martinsumner commented on #1754
Fixed now merged and released in both 2.9 and 3.0

[2020-09-01 08:45] #1754 closed, assigned to nobody

[2020-09-01 08:48] martinsumner commented on #1669
Removed in 3.0

[2020-09-01 08:48] #1669 closed, assigned to nobody

[2020-09-01 08:52] martinsumner commented on #1661
The GET question will now be resolved in #1692.  Implemented with PUTs, as well as a switch to disable the use of the proxy poll https://github.com/basho/riak_kv/commit/24ec5d26459c59fcdd75f30ae92a6b3bc83c729e

[2020-09-01 08:52] #1661 closed, assigned to nobody

[2020-09-01 08:54] martinsumner commented on #1768
For new versions of Riak we're not updating the Riak clients, other than the erlang clients.  So I'm afraid if you want to use a client and keep it up to date, you will need to maintain it yourself.

[2020-09-29 15:46] martinsumner commented on #1737
Initial attempt - https://github.com/basho/riak_kv/commit/deab3ae387fca4f3439bce1adc2fc1a2230a3b41 with https://github.com/basho/riak_test/commit/a03814420a3658d942f9a0af6fa82fd0276b7ee9

This doesn't feel like the right approach, as these are very artificial reduce functions.  Would it not be better to allow the `riak_kv_pipe_index` to allow a list of extract and/or filter functions to be applied

[2020-09-30 16:41] martinsumner commented on #1737
Adding functions pre reduce - https://github.com/basho/riak_kv/commit/567f40786ae9bb3154073aee98e54ca9514249ee with https://github.com/basho/riak_test/commit/a949aa17fbed4fef206af38e41242b870aa39adf

In the simple riak_test case on a laptop, applying the extract/filter functions prior to the reduce appears to be much quicker:

[code]

[2020-11-10 12:21] martinsumner opened #1775 "TictacAAE fullsync - need for further safety measures"
In part related to https://github.com/basho/riak_kv/issues/1765.  When testing of intra-cluster AAE with very large vnodes, and large deltas (either due to genuine deltas or false deltas when awaiting cache repairs) then the behaviour of Tictac AAE was neither efficient or sufficiently conservative.

Some of the measures related to intra-cluster AAE, will also lead to improvement in inter-cluster

[2020-11-12 17:39] martinsumner commented on #1775
After further investigation, some issues have arisen.

1. There is a fundamental bug in the per-bucket full-sync.  There is conflicting view in Riak between the external and internal clients on the format of a modified range - {date, Low, High} or {Low, High}.  This isn't handled correctly in `riak_kv_ttaaefs_manager`, and so the modified range was being ignore on the local client.

2. The behavio

[2020-11-12 17:43] martinsumner commented on #1775
If the intention is not to repair tree caches as part of fetch_clocks when running full ttaaefs fullsync, then it becomes easier to consider supporting a schedule that includes hour and day syncs.

In an hour or day sync, a complete comparison would be made between the AAEtree caches, but in the hour sync it will assume any delta was in the last hour of changes (by modified date).  likewise the da

[2020-11-17 23:39] martinsumner opened #1777 "Race conditions on delete - leads to unreaped tombstones"
Issue discovered when running a load test on riak 3.0.1.  Issue may well exist in earlier versions.

Cluster has default delete settings of 3s: that is to say a delete will make a tombstone, with the tombstone set to be reaped 3s after the tombstone was created.

In the test, there is an `active` cluster receiving PUTs, and a `passive` cluster receiving replicated PUTs from `active` only.  the tes

[2020-11-17 23:44] martinsumner commented on #1777
The use of r=1 post-repl but r=all pre-repl, is a decision without any obvious history in git.

[2020-11-17 23:50] martinsumner commented on #1777
Also worth noting that delete_mode is not part of the riak.conf settings - it only appears to be configurable via advanced.config

[2020-11-17 23:56] martinsumner commented on #1777
The `riak_kv_reaper` solution will queue reap requests, and re-queue those requests for retry should primaries be unavailable.  For non-keep delete_modes should a reap always be scheduled (after the timeout) by the delete process as a stop-gap?

Reaper is potentially more robust than the existing solution.

Work on different scheduling options for `riak_kv_reaper` is still to be considered.

[2020-11-18 10:56] martinsumner commented on #1777
The issue is almost entirely mitigated (in this test) by adding a 10ms pause into riak_kv_client after the client has been sent the reply (so no application delay), and before the reaping GET is requested

[2020-12-24 14:41] pma opened #1780 "Multi-Datacenter Replication connection failure"
Hi,

I tried setting up replication between two clusters using the guide at https://docs.riak.com/riak/kv/latest/configuring/v3-multi-datacenter/quick-start/index.html.

Cluster1 is running 2.9.8 and is the source. Cluster2 is running 3.0.1 (newly formed with no data).

After setting the clustername in both clusters I try connection from source to sink and get the confusing message below:

[code]

[2020-12-24 16:12] martinsumner commented on #1780
I don't know what is happening, but to clear up the confusion in the log message - my understanding what it means to say is:

"My name is Cluster1, I have a remote connection setup to Cluster2, but I have now received an update from Cluster2 to say its name is now Cluster1 - but that is my name"

The tutorial looks fine to me.  Unless you've done something like join the two clusters together?  Per

[2020-12-24 18:46] pma commented on #1780
@martinsumner Thanks for taking the time to reply. Merry Christmas!

After reading the riak-repl settings again (https://docs.riak.com/riak/kv/2.2.3/configuring/v3-multi-datacenter.1.html#riak-repl-settings), I noticed I probably had to change the default configuration for the cluster manager IP:PORT, which is 0.0.0.0:9080.

In /etc/riak/riak.conf I changed the mdc.cluster_manager property from 0.

[2020-12-28 08:29] #1780 closed, assigned to nobody

[2021-01-18 12:21] Bob-The-Marauder commented on #1705
I didn't realise this was still open. 32bit compilation has been confirmed on Raspbian Buster on 2.9.x and 3.0.x. Thank you for your help.

[2021-01-18 12:21] #1705 closed, assigned to nobody

[2021-02-12 11:08] gaboose commented on #1671
That invite link is no longer active. How may I join the postriak slack? Is it still kickin?

[2021-02-12 12:43] martinsumner commented on #1671
There is still activity, but things have been quiet since the 3.0.2 release in January.  Does this work as an invite -https://join.slack.com/t/postriak/shared_invite/zt-3h381ljq-MM5JXJ26BFelVaLvzgJ25A

[2021-02-13 09:56] gaboose commented on #1671
It does, thanks! Why do you guys not make the slack workspace public?

[2021-03-24 16:30] MSadeghzadehG opened #1786 "Add new release docker image"
Please Add an image of release 3 to [duckerHub](https://hub.docker.com/r/basho/riak-kv).

[2021-04-18 20:26] sachdeva-vivek opened #1787 "Question about Riak KV latest version"
Hi,

It's not really an issue but wanted to know the difference between releases on GitHub tags vs https://docs.riak.com/riak/latest/downloads/.

Under Github, the latest release shows Riak KV 3.0.4 - Release and on https://docs.riak.com/riak/latest/downloads/, the latest release is Riak KV 2.2.3. Which one should I use for my production environment?

Thanks in advance,
Vivek

[2021-04-18 20:36] martinsumner commented on #1787
The docs.riak.com website is out of date.  The latest version is Riak KV 3.0.4, and this is the best choice for a new production environment.

Packages available at https://files.tiot.jp/riak/kv/3.0/

[2021-04-19 01:14] sachdeva-vivek commented on #1787
Thanks a lot @martinsumner!

[2021-04-19 01:15] #1787 closed, assigned to nobody